.ng-popover {
    border: 1px solid #EAEAEA;
    position: relative;
    border-radius: 4px;
    /* min-width: 50px;*/
    min-height: 20px;
    background: #FFF;
    z-index: 60;
    max-width: 173px;
    text-overflow: ellipsis !important;
    max-height: 200px;
    overflow-y: scroll;
    overflow-x: hidden;
}

.ng-popover .ng-popover-wrapper {
    position: relative;
}

.ng-popover .ng-popover-wrapper.bottom::before {
    content: ' ';
    position: absolute;
    top: -9px;
    left: 9px;
    border-bottom: 9px solid #FFF;
    border-left: 9px solid transparent;
    border-right: 9px solid transparent;
    z-index: 2;
}

.ng-popover .ng-popover-wrapper.bottom::after {
    content: ' ';
    position: absolute;
    top: -10px;
    left: 9px;
    border-bottom: 9px solid #EAEAEA;
    border-left: 9px solid transparent;
    border-right: 9px solid transparent;
    z-index: 1;
}

.ng-popover .ng-popover-wrapper.top::before {
    content: ' ';
    position: absolute;
    bottom: -7px;
    left: 12px;
    border-top: 7px solid #FFF;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    z-index: 2;
}

.ng-popover .ng-popover-wrapper.top::after {
    content: ' ';
    position: absolute;
    bottom: -9px;
    left: 10px;
    border-top: 9px solid #EAEAEA;
    border-left: 9px solid transparent;
    border-right: 9px solid transparent;
    z-index: 1;
}

.ng-popover .ng-popover-wrapper.left::before {
    content: ' ';
    position: absolute;
    right: -8px;
    top: 5px;
    border-left: 8px solid #FFF;
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
    z-index: 2;
}

.ng-popover .ng-popover-wrapper.left::after {
    content: ' ';
    position: absolute;
    right: -9px;
    top: 4px;
    border-left: 9px solid #EAEAEA;
    border-top: 9px solid transparent;
    border-bottom: 9px solid transparent;
    z-index: 1;
}

.ng-popover .ng-popover-wrapper.right::before {
    content: ' ';
    position: absolute;
    top: 5px;
    left: -8px;
    border-right: 8px solid #FFF;
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
    z-index: 2;
}

.ng-popover .ng-popover-wrapper.right::after {
    content: ' ';
    position: absolute;
    top: 4px;
    left: -9px;
    border-right: 9px solid #EAEAEA;
    border-top: 9px solid transparent;
    border-bottom: 9px solid transparent;
    z-index: 1z;
}

.ng-popover .ng-popover-content {
    /*overflow: auto;*/
}

.ng-popover.hide {
    display: none;
}

.ng-popover .filters-list {
    list-style: none;
    margin: 0;
    padding: 0;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.ng-popover .filters-list li {
    /*border-bottom: 1px solid #EAEAEA;*/
    padding: 1px 7px;
    line-height: 1px;
    /* width: 166px;*/
}

.ng-popover .filters-list li .checkbox-container {
    vertical-align: -3px;
    margin-right: 5px;
    transform: scale(0.8);
}

.ng-popover .filters-list li label {
    display: inline;
    cursor: pointer;
        vertical-align: 1.5px;
}

.ng-popover .show-columns {
    position: absolute;
    bottom: 0;
    left: 0;
    background: #FFF;
    width: 100%;
    text-align: center;
    padding: 8px;
    display: inline-block;
    border-top: 1px solid #EAEAEA;
}

.ng-popover .checkbox-container {
    position: relative;
    height: 15px;
    width: 15px;
    display: inline-block;
    background: #FFF;
    border: 1px solid #EAEAEA;
    border-radius: 3px;
    cursor: default;
    vertical-align: bottom;
}

.ng-popover .checkbox-container input[type="checkbox"] {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: 3;
}

.ng-popover .checkbox-container .icon-tick {
    position: absolute;
    top: -3px;
    left: -2px;
    display: none;
}

.ng-popover .checkbox-container .icon-tick .material-icons {
    font-size: 19px;
    color: #666;
}

.ng-popover .checkbox-container input[type="checkbox"]:checked + .icon-tick {
    display: block;
}

.ng-popover .checkbox-container label {
    margin-left: 20px;
    line-height: 10px;
}

.multiselectDropdownBtn {
    /*position: relative;*/
    font-weight: 300;
    color: rgba(0,0,0,0.58) !important;
    /*border-radius: 3px;*/
    text-decoration: none;
    padding: 6px 0px;
    /*background: #FFF;*/
    /*border: 1px solid #D4D4D4;*/
    transition: background 200ms ease;
    cursor: pointer;
    /* padding-right: 25px; */
    max-width: 180px;
    margin-left: 10px;
    height: 15px;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 14px;
   
    min-width:150px;
    color: #A29F9F !important;
    font-size: 11px;
    font-weight: bold;
    font-family: Arial;
    width:143px;
        background: transparent url(img/input/input_text_right.gif) no-repeat top right;
}

/*.multiselectDropdownBtn:hover {
    background: transparent;
}*/

.multiselectDropdownBtn:active {
    color: #333;
}


@media only screen and (max-width: 729px) {
   .ng-popover .filters-list li .checkbox-container {
    vertical-align: -3px;
    margin-right: 5px;
    transform: scale(1);
}
.ng-popover .filters-list li {
    /*border-bottom: 1px solid #EAEAEA;*/
    padding: 1px 7px;
    line-height: 1px;
   font-size: 12px;
}
.multiselectDropdownBtn {
    /*position: relative;*/
    color: #999 !important;
    border-radius: 3px;
    text-decoration: none;
    padding: 6px 16px;
    background: #FFF;
    border: 1px solid #D4D4D4;
    transition: background 200ms ease;
    cursor: pointer;
    /* padding-right: 25px; */
    max-width: 180px;
    margin-left: 10px;
    height: 15px;
    font-size: 14px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 19.7px;
    font-family: 'Open Sans' !important;
}
#selectLagLabels {
    font-weight: 100;
    font-size: 12px;
    font-family: 'Open Sans' !important;
}
}
