/* Styles go here */
.alignColumn{
    text-align: right !important;
    /*padding-right:10px;*/
}
.alignColumnLeft{
    text-align: left !important;
}
.alignColumnCenter{
     text-align: center !important;
}
body {
    font-family: 'Arial' !important;
    color: #777;
    font-size: 10px;
    width: 100%;
    position: fixed;
    background: #f3f3f3 !important;
}

span {
    font-family: Arial !important;
}

.fill-height {
    display: flex;
    flex: 1;
    min-height: 100%;
}

.fill-height > div {
    min-height: 100%;
    display: flex;
}

md-sidenav {
    /*overflow: visible;*/
    overflow: hidden;
}

.side-menu,
.side-menu ul {
    list-style: none;
    margin-top: 0;
    font-family: 'Arial' !important;
    width: 100%;
    text-align: left;
    color: #595959;
    line-height: 36px;
    border-bottom: 0.2px solid #e5e5e5;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 500;
}

.side-menu .md-button.active {
    /*color: rgb(106, 27, 154);*/
    color: #555;
    background: #E0E0E0;
    border-left: rgb(54, 152, 220);
}



.side-menu > li {
    font-family: 'Arial' !important;
 
}

#toggledMenu {
   
    overflow-y: auto;
}

.md-button-toggle .md-toggle-icon.toggled {
    transform: rotateZ(180deg) !important;
    -webkit-transform: rotateZ(180deg) !important;
}

.side-menu .md-button-toggle .md-toggle-icon {
    background-size: 100% auto;
    display: inline-block;
    /* margin: auto 0 auto auto;*/
    width: 15px;
    color: #666262;
    transition: transform .5s;
    -webkit-transition: -webkit-transform .3s;
    font-family: 'Arial' !important;
}

.menu-toggle-list.ng-hide {
    max-height: 0;
}

.side-menu .md-button {
    border-radius: 0;
    color: #777;
    cursor: pointer;
    line-height: 3 !important;
    margin: 0;
    max-height: 56px;
    overflow: hidden;
    word-wrap: break-word !important;
    /*word-break: keep-all;*/
    text-align: left;
    text-decoration: none;
    width: 100%;
    font-size: 14px;
    left: -0.28px;
    font-family: 'Arial' !important;
}

.menu-toggle-list {
    background: inherit;
    max-height: 1300px;
    overflow: hidden;
    position: relative;
    z-index: 1;
    -webkit-transition: 0.75s cubic-bezier(0.35, 0, 0.25, 1);
    -webkit-transition-property: max-height;
    -moz-transition: 0.75s cubic-bezier(0.35, 0, 0.25, 1);
    -moz-transition-property: max-height;
    transition: 0.75s cubic-bezier(0.35, 0, 0.25, 1);
    transition-property: max-height;
    font-size: 12px;
    font-family: 'Arial' !important;
}

.side-menu menu-toggle span {
    padding-top: 12px;
    padding-bottom: 12px;
}

.loginBox {
    max-width: 90%;
    width: 500px;
    vertical-align: center;
}

.stretch input {
    width: 100%
}

.logoutIcon {
    float: right;
    color: #666262;
    margin: 15px -10px auto 0px !important;
    font-size: 16px;
    font-weight: 500;
}

.divloading {
    display: none;
    left: 43%;
    top: 46%;
    bottom: 46%;
    z-index: 30000;
    position: Fixed;
}

.divmask {
    display: none;
    z-index: 60;
    /* background: rgba(255, 255, 255, 0.15);*/
    background: #EEEEEE;
    position: absolute;
    top: 0;
    bottom: 0 !important;
    margin-bottom: 0 !important;
    width: 100%;
    height: 100% !important;
    transition: opacity .15s linear;
    transform: translate(0, 0);
    background-color: #000;
    opacity: 0.20;
}

#headerSidenavLogo {
    margin-left: 35%;
    display: block;
}

#canvas,
#canvas6,
#canvas5,
#canvas4,
#canvas3,
#canvas2 {

    overflow-y: auto;
}



#header {
    position: fixed !important;
    top: 0 !important;
    height: 60px !important;
    color: white !important;
}

#footer {
    bottom: 0px !important;
    color: #fff;
    max-height: 35px !important;
    position: fixed !important;
    vertical-align: middle;
    width: 100%;
    min-width: 98%;
    z-index: 0 !important;
}

.filterControls {
    display: inline;
    z-index: 60;
    top: 150px;
    bottom: 50px;
    width: 100%;
    padding-top: 10px;
    background-color: #fff;
    border-top-width: 1px;
    border-top-style: solid;
    border-top-color: rgb(204, 204, 204);
    -webkit-overflow-scrolling: touch;
    -webkit-overflow-scrolling: -blackberry-touch;
    -webkit-transition: all 850ms linear;
    -moz-transition: all 850ms linear;
    -ms-transition: all 850ms linear;
    -o-transition: all 850ms linear;
    transition: all 850ms linear;
    min-width: 100%;
    margin-left: 240px;
    height: 46px;
    background: white;
    position: fixed;
    top: 60px;
    border-bottom: 1px solid #d7d7d7;
}

.filterButton {
    display: inline-block;
    min-height: 26px;
    min-width: 55px;
    line-height: 26px;
    vertical-align: middle;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-grid-row-align: center;
    align-items: center;
    text-align: center;
    /*border-radius: 3px;*/
    box-sizing: border-box;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    outline: none;
    border: 0;
    padding: 0 6px;
    margin: 0px 5px;
    /* background: rgb(0, 90, 142);*/
    color: white !important;
    white-space: nowrap;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 11px;
    font-style: inherit;
    font-variant: inherit;
    font-family: 'Arial' !important;
    text-decoration: none;
    overflow: hidden;
    -webkit-transition: box-shadow 0.4s cubic-bezier(0.25, 0.8, 0.25, 1), background-color 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
    transition: box-shadow 0.4s cubic-bezier(0.25, 0.8, 0.25, 1), background-color 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.filterButton:not([disabled]):hover {
    /*background-color: #005A8E !important;*/
    background-color: #195c06 !important;
}

.reportHeader {
    bottom: 50px;
    padding-top: 10px;
    background-color: #ffffff;
    border-top-width: 1px;
    -webkit-overflow-scrolling: touch;
    -webkit-overflow-scrolling: -blackberry-touch;
    -webkit-transition: all 850ms linear;
    -moz-transition: all 850ms linear;
    -ms-transition: all 850ms linear;
    -o-transition: all 850ms linear;
    transition: all 850ms linear;
    height: 55px;
    background: white;
    width: 100%;
    box-shadow: 0 0 2px 1px #eeeeee;
    font-size: 16px;
    /*text-transform: uppercase;*/
    font-weight: bold;
    padding-bottom: 1%;
    color: #777;
}

#contentBase {
    background: #ffffff !important;
    
    min-height: 350px !important;
     width: 100% !important;
    font-size: 12px;
    font-weight: normal;
    border-color: #e9e9e9 !important;
    border-top: 1px solid transparent;
    margin-top: 0px !important;
    border-top: 1px solid transparent;
}
.filterIcon {
    display: block;
    color: white;
    font-size: 18px;
    float: right !important;
}

.menuIcon {
    display: block;
    color: white;
    font-size: 18px;
    float: left !important;
}

#exportIcon {
    float: right;
    font-weight: 600;
    font-size: 14px;
    margin-right: 2%
}

.fixed-height-widget {
    height: 310px;
    width: 400px;
    padding: 20px;
    margin-top: 2%;
    margin-left: 2%;
}


/*::-webkit-scrollbar {
      width: 2em;
}*/


/*.reportContent {
    bottom: 0 !important;
}*/

#MYDatepicker {
    border: none;
    color: rgba(0, 0, 0, 0.58) !important;
    height: 26px;
    font-size: 12px;
    max-width: 180px;
    width: 138px;
    margin-top: -7px;
    line-height: 13px;
    font-family: 'Arial' !important;
}

#selectLagFilter {
    border: none;
    color: #999 !important;
    height: 15px;
    font-size: 14px;
    max-width: 100px;
    line-height: 1.2;
}

#selectLagFilterWeb {
    border: none;
    color: rgba(0, 0, 0, 0.58) !important;
    height: 20px;
    font-size: 12px;
    max-width: 100px;
    line-height: -8px;
    margin-top: -5px;
    font-family: 'Arial' !important;
}

#selectLagPopup {
    position: fixed !important;
    width: 163px;
    border: 1px solid rgb(204, 204, 204);
    padding-top: 3px;
    /*top: 10% !important;*/
    z-index: 65;
    padding-left: 9px;
    height: 95px;
    display: none;
    left: 61.2%;
    background-color: rgb(255, 255, 255);
}

.selectLagPopupControls {
    height: 14px !important;
    width: 18%;
    border: 1px solid #ccc;
    padding-left: 5px;
    padding-bottom: 3px;
    font-size: 11px;
    /* margin-left: 20px;*/
    float: right;
    margin-right: 13%;
}

#selectLagLabels {
    font-weight: 100;
    font-size: 10px;
    font-family: 'Arial' !important;
}

.show {
    display: block;
}

#sectionDivider {
    display: block;
    /*margin-left:7%;*/
    margin-top: 7% !important;
    margin-bottom: 5%;
    border-right: 1px solid #D4D4D4;
}

#searchBox {
    -moz-appearance: none;
    -webkit-appearance: none;
    background: url('../images/icons/Search_Normal.png');
    background-size: 15px 15px;
    background-repeat: no-repeat;
    background-position: right;
    background-color: white;
    width: 70px;
    height: 20px;
    text-align: left;
    margin-left: : 2% !important;
    color: #777;
    border: 1px solid !important;
    border-color: rgb(169, 169, 169) !important;
    border-radius: 4px;
    padding-left: 5px;
    padding-right: 20px;
    line-height: 12px;
    font-size: 11px;
    color: #333;
}

#pageButton {
    /* background: rgb(250, 250, 250);*/
    background: white;
    border: none;
    color: #777;
    font-size: 12px;
    margin-left: 10px;
}

#pageButton:hover {
    background: rgb(0, 90, 142);
    /* border: 1px solid #1C7EBB;*/
    color: white;
    font-size: 12px;
}

#pageButton:focus {
    background: rgb(0, 90, 142);
    /*border: 1px solid rgb(0,90,142);*/
    color: white;
    font-size: 12px;
}

.grid {
    max-height: 500px;
   /* min-width: 1200px;*/
}

.watermark { 
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    opacity: 0.25;
    width: 100%;
    text-align: center;
    z-index: 1000;
    font-size: 3em;
}

@media only screen and (max-width: 729px) {
    #MYDatepicker {
        line-height: 19px;
    }
    .loginInputLabel {
        font-size: 18px !important;
    }
    .innerView {
        overflow-x: hidden;
        height: 100%;
        background-color: #f7f7f7;
        width: 100%;
        min-height: 100%;
        margin: 0 auto;
        margin-top: 18%;
        overflow-y: auto;
        top: 42px;      
    }
    #footer {
        min-height: 45px !important;
    }
    .leftFooterDiv {
        margin-top: 10px !important;
        min-width: 170px;
        margin-left: 5px;
    }
    .rightFooterDiv {
        margin-top: 10px;
        margin-left: 25% !important;
        min-width: 170px;
    }
    #indexView {
        /* height: 100%;*/
        width: 100% !important;
        min-height: 70%;
        left: 0 !important;
        right: 0 !important;
        overflow-y: auto;
        position: absolute;
    }
    .filterControls {
        display: none;
    }
    .filterButton {
        display: none;
    }
    .filterIcon {
        display: block;
        float: right;
    }
    #exportIcon {
        display: none;
    }
    canvas {       
        background: white;       
        margin: 0;       
    }
    .filterButtonMobile {
        width: 40% !important;
        display: inline-block !important;
        line-height: 28px;
        vertical-align: middle;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-grid-row-align: center;
        align-items: left;
        text-align: center;
        border-radius: 3px;
        box-sizing: border-box;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        outline: none;
        border: 0;
        padding: 0 6px;
        margin: 2px 0px;     
        color: white !important;
        white-space: nowrap;
        text-transform: uppercase;
        font-weight: 500;
        font-size: 14px;
        font-style: inherit;
        font-family: 'Arial' !important;
        overflow: hidden;
        -webkit-transition: box-shadow 0.4s cubic-bezier(0.25, 0.8, 0.25, 1), background-color 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
        transition: box-shadow 0.4s cubic-bezier(0.25, 0.8, 0.25, 1), background-color 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
    }
    .filterButtonMobile:not([disabled]):hover {
        background-color: #005A8E !important;
    }
    #rightSidenav {
        width: 100% !important;
        /*  margin-left:0 !important;*/
    }
    .multiselectDropdownBtn {
        color: #999 !important;
        border-radius: 3px;
        text-decoration: none;
        padding-top: 6px;
        padding-left: 8px;
        background: #FFF;
        border: 1px solid #D4D4D4;
        transition: background 200ms ease;
        cursor: pointer;
        /*max-width: 200px;*/
        min-width: 73%;
        margin-left: 10px;
        height: 19px !important;
        font-size: 14px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        width: 190px;
    }
    .moment-picker .moment-picker-container {
        color: #404040;
        min-width: 16em !important;
        background: #fff;
        padding: 4px !important;
        border: 1px solid #f0f3f4;
        border-radius: 4px;
        position: absolute;
        /* top: 100%; */
        margin-top: 34px !important;
        margin-left: 0.5em;
        box-shadow: 0 2px 4px #eeeeee;
        z-index: 5;
        font-size: 14px !important;
    }
    .layout-row {
        width: 100%;
        overflow: visible !important;
    }
    #selectLagPopup {
        position: absolute !important;
        width: 222px !important;
        border: 1px solid rgb(204, 204, 204);
        padding-top: 3px;
        top: 58% !important;
        z-index: 65;
        padding-left: 9px;
        height: 95px;
        display: none;
        left: 19% !important;
        background-color: rgb(255, 255, 255);
    }
    #sectionDivider {
        display: none;
    }
    #paginationGridEntry {
        display: none;
    }
    #mobsearchBox {
        -moz-appearance: none;
        -webkit-appearance: none;
        background: url('../images/icons/Search_Normal.png');
        background-repeat: no-repeat;
        background-position: right;
        background-color: white;
        width: 140px;
        height: 20px;
        text-align: left;
        margin-left: : 2% !important;
        color: #777;
        border: 1px solid !important;
        border-color: rgb(169, 169, 169) !important;
        border-radius: 4px;
    }
    #pageSz {
        display: none;
    }
    #paginationButtons {
        /* font-size: 14px;*/
        margin-left: 10%
    }
    #canvasBase {
        background: white;
    }
    #overviewChartTitle {
        color: #777;
        margin-left: 5%;
    }
    .filterGridcontrols {
        width: 95px;
        height: 20px;
        /* border-radius: 3px;*/
        padding-left: 6px;
        vertical-align: middle;
        line-height: 14.5px;
        margin-right: 5px;
        font-size: 12px;
        /* margin-left: 5px;*/
        margin-bottom: 5px;
    }
}

@media only screen and (min-width: 729px) and (max-width: 1200px) {
    #innerviewMargin {
        width: 94% !important;
    }
    .loginInputLabel {
        font-size: 18px !important;
    }
    .innerView {
        overflow-x: hidden;
        width: 100% !important;
        min-width: 300px;
        min-height: 50%;
        /*margin-top: 23%;*/
        float: right;
        -webkit-overflow-scrolling: touch;
        -webkit-overflow-scrolling: -blackberry-touch;
        /*-webkit-transition: all 850ms ease;
        -moz-transition: all 850ms ease;
        -ms-transition: all 850ms ease;
        -o-transition: all 850ms ease;
        transition: all 850ms ease;*/
    }
    .leftFooterDiv {
        margin-top: 2px !important;
        min-width: 170px;
        margin-left: 5px;
    }
    .rightFooterDiv {
        float: right;
        margin-left: 60% !important;
    }
    .footerLogo {
        /*height:27px;
        margin-top: 10px;*/
    }
    #indexView {
        width: 100% !important;
        min-width: 300px;
        /*min-height: 50%;*/
        min-height: 645px;
    }
}

@media only screen and (min-width: 1200px) {
    .innerView {
        /*position: absolute;*/
        width: 100% !important;
        min-width: 300px;
        min-height: 50%;
        -webkit-overflow-scrolling: touch;
        -webkit-overflow-scrolling: -blackberry-touch;
        /*-webkit-transition: all 850ms linear;
        -moz-transition: all 850ms linear;
        -ms-transition: all 850ms linear;
        -o-transition: all 850ms linear;
        transition: all 850ms linear;*/
    }
    /* margin-top: 6.5% !important;*/
    #innerviewMargin {
        overflow-x: hidden;
        overflow-y: hidden;
        left: 250px;
        right: 5px;
        -webkit-overflow-scrolling: touch;
        -webkit-overflow-scrolling: -blackberry-touch;
        -webkit-transition: all 850ms linear;
        -moz-transition: all 850ms linear;
        -ms-transition: all 850ms linear;
        -o-transition: all 850ms linear;
        transition: all 850ms linear;
    }
    .menuIcon {
        display: none;
    }
}

.leftFooterDiv {
    margin-top: 0px !important;
    min-width: 170px;
    margin-left: 1%;
}

.rightFooterDiv {
    float: right;
    margin-left: 78% !important;
}

#indexView {
    position: absolute;
    width: 100% !important;
    /*min-width: 300px;
        min-height: 50%;*/
    /* margin-top: 3%;*/
    background-color: #f3f3f3;
    overflow-y: auto;
    overflow-x: hidden;
}

.filterIcon {
    display: none;
    float: right;
}

.reportContent {
    overflow-x: hidden !important;
    overflow-y: hidden;
    width: 100%;
    margin-top: 15px;
    /*padding-top: 0.5%;*/
    border-top: 2px solid #c6c6c6;
    border-radius: 4px;
    border-color: #ddd;
    box-shadow: 2px 2px 7px #D8D8D8;
    /*border-left: 1px solid #ddd;*/
    width: 98.3%;
    border-color: #ddd;
    box-shadow: 2px 2px 7px #D8D8D8;
    border-left: 1px solid #e0dede;
}

.loginInputLabel {
    font-size: 18px !important;
}

canvas {
    /*width: 100% !important;*/
    /*max-width: 800px;*/
    /*height: auto !important;*/
   /* background: white;*/
    /* margin-left: 5px;*/
    margin-right: 5px;
}

#canvasBase {
    /*margin-left: 2%;*/
    background: white;
    background: white;
    width: 100% !important;
    min-height: 350px;
    overflow-x: hidden;
    overflow-y: auto;
}

#mobsearchBox {
    display: none;
}

#paginationButtons {
    float: right;
    margin-left: 180px !important;
}


/*page size box*/

#pageSz {
    background: white;
    margin-left: 5px;
    height: 22px;
    border: 1px solid !important;
    border-color: rgb(169, 169, 169) !important;
    border-radius: 4px;
}

#loader {
    margin-left: 50px;
}

.filterGridcontrols {
    width: 95px;
    height: 20px;
    /* border-radius: 3px;*/
    padding-left: 6px;
    vertical-align: middle;
    line-height: 14.5px;
    margin-right: 5px;
    font-size: 12px;
    /* margin-left: 5px;*/
    margin-bottom: 5px;
}

.paginGrid {
    width: device-width !important;
    height: 375px !important;
    overflow: none;
}

.filterControls {
    display: inline-block !important;
}


}
@-moz-document url-prefix() {
    .innerView {
        /*margin-top: 9% !important;*/
    }
}
#displayChart {
    display: block;
}
#displayGrid {
    display: none;
    min-width: 100% !important;
}
#exportExcel {
    display: none;
    margin-right: 10px;
    font-size: 20px !important;
    cursor: pointer;
}
#exportPdf {
    margin-right: 10px;
    font-size: 20px !important;
    color: #555;
    cursor: pointer;
}


.ui-grid-viewport {
    max-height: 500px;
    overflow-y: auto !important;
    overflow-x: auto !important;
    width:100% !important;
}
.btn-success {
    color: #fff !important;
    background-color: #5cb85c !important;
    border-color: #4cae4c;
}
.btn.disabled,
.btn[disabled],
fieldset[disabled] .btn {
    cursor: not-allowed;
    filter: alpha(opacity=65);
    -webkit-box-shadow: none;
    box-shadow: none;
    opacity: .65;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    font-weight: 400;
    padding: 5px 10px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
    min-height: 32px !important;
}
.btn-default {
    color: #333 !important;
    background-color: #fffdfd !important;
    border-color: #ccc;
    user-select: none;
    background-image: none;
    border: 1px solid #ddd;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    font-weight: 400;
    padding: 5px 10px;
    font-size: 11px;
    line-height: 1.7;
    /*border-radius: 3px;*/
    
    min-height: 27px !important;
}
.textMenu {
    left: 5px;
    position: relative;
    line-height: 50px;
}
*:focus {
    outline: none;
}
#iconMenu {
    /* display: block !important;
margin-left: 5px;*/
    
    border-right: 0.5px solid #eee !important;
    position: relative;
    display: block;
    float: left;
    width: 54px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    margin: 0px 5px 0px 0px;
}


#overviewReport2ErrorDiv,
#overviewReport3ErrorDiv,
#overviewReport6ErrorDiv,
#overviewReport5ErrorDiv,
#overviewReport4ErrorDiv,
#overviewReport1ErrorDiv,
#GridErrorDiv,
#errorDiv {
    font-size: 14px !important;
    text-align: center;
    color: #777;
    width: 99%;
    margin-bottom: 10px;
    padding-top: 159px;
    padding-bottom: 159px;
    text-align: center;
    display: none;
}

/*remove dotted lines on click of any div*/
a,
a:active,
a:focus,
button,
button:focus,
button:active,
.btn,
.btn:focus,
.btn:active:focus,
.btn.active:focus,
.btn.focus,
.btn.focus:active,
.btn.active.focus {
    outline: none;
    outline: 0;
}
input::-moz-focus-inner {
    border: 0;
}
*:focus {
    outline: none;
}
#reportHeading {}
#errorImage {
    padding-bottom: 10px;
    height: 22px;
}
#Nodatatext,
#overviewReport3Nodatatext {
    font-size: 13px;
    font-weight: 200;
    color: #A5A5A5;
    text-align: center;
}
.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 160px;
    padding: 5px 0;
    margin: 2px 0 0;
    font-size: 14px;
    text-align: left;
    list-style: none;
    background-color: #fff;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, .15);
    border-radius: 4px;
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
    box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
}
.calendar {
    background: #fff;
    border: 1px solid #A4BED4;
    padding: 1px;
    overflow: hidden;
}
.jqDropdown {
    border: none;
    padding-top: 2px;
    color: #333 !important;
    font-size: 11px;
    font-weight: 300;
    font-family: Arial !important;
    min-width: 180px;
    float: left;
    padding-left: 0;
    background: none;
    cursor: pointer;
    height: 21px;
}
.cancelBtn {
    background-color: rgb(18, 68, 4) !important;
    color: white !important;
    white-space: nowrap;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 11px;
    font-style: inherit;
    font-variant: inherit;
    font-family: 'Arial' !important;
    min-height: 26px;
    min-width: 55px;
}
.applyBtn {
    background-color: rgb(18, 68, 4) !important;
    color: white !important;
    white-space: nowrap;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 11px;
    font-style: inherit;
    font-variant: inherit;
    font-family: 'Arial' !important;
    min-height: 26px;
    min-width: 55px;
    line-height: 26px;
    border: none;
}
.cancelBtn:hover {
    background-color: #195c06 !important;
}
.applyBtn:hover {
    background-color: #195c06 !important;
}
.ui-grid-render-container-left .ui-grid-viewport {
    /*height:316px !important;*/
    
    border-bottom: none;
    overflow-y: hidden !important;
}
#errorImage {
    padding-bottom: 10px !important;
    height: 20px !important;
}
#Nodatatext,
#overviewReport3Nodatatext {
    font-size: 13px;
    font-weight: 200;
    color: #A5A5A5;
    text-align: center;
}
#showTotal {
    float: right;
    color: #777;
    font-weight: bold;
    font-size: 12px;
    font-family: Arial;
    margin-right: 20px;
}
button::-moz-focus-inner {
  border: 0;
}

#reportheadingDate{
    font-size: 11px; font-weight: 400; margin-left:14px; margin-top:7px;    color: #333;
}
#overviewReport1Heading,
#overviewReport2Heading,
#overviewReport3Heading,
#overviewReport4Heading,
#overviewReport5Heading,
#overviewReport6Heading{
    text-align:center;  font-weight: bold;
       color: #777; text-transform: uppercase; font-size: 13px;  font-family: Arial; white-space: pre-line; margin-top: 12px;
}
/*attempt to correct tooltip position*/


#toggleButtons{
    margin-right:10px !important;
     margin-top:8px;
}

input[type="text"]:focus{
    outline : none;
}

#noClients{
/*display:none;
*/}

#displayMessage{
/*display:none;*/
}

#odometers{
    display:none;
}