﻿
ta-date-range-picker {
    position: relative;
}

    ta-date-range-picker .selectbox .caret {
        top: -2px;
        position: relative;
    }

    ta-date-range-picker .caret {
        display: inline-block;
        width: 0;
        height: 0;
        margin-left: 2px;
        vertical-align: middle;
        border-top: 4px solid;
        border-right: 4px solid transparent;
        border-left: 4px solid transparent;
    }

    ta-date-range-picker .selectbox {
        background: #fff;
        color: #333;
        padding: 8px;
        line-height: 18px;
        border-radius: 4px;
        border-width: 0 1px 4px;
        cursor: pointer;
        border: 1px solid #ddd;
        display: inline-block;
    }

.ta-daterangepicker {
    /*position: absolute;*/
    font-weight:400;
    left: auto;
    right: 0;
    font-family: 'Open Sans' !important;
    min-width: 160px;
    padding: 5px 0;
    margin: 25px 0 0;
    list-style: none;
    font-size: 12px;
    text-align: left;
    background-color: #fff;
    border: 1px solid #ccc;
    border: 1px solid rgba(0,0,0,.15);
    /*border-radius: 4px;*/
    background-clip: padding-box;
    /*margin-left: -1000px;*/
    z-index: 1000;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    /*height:210px;*/
    width:592px;
   
    min-height: 170px;
    height: auto;
        width: auto;
    min-width: 175px;
}

    .ta-daterangepicker .calendar {
        width: 195px;
        max-width: 270px;
        margin: 4px 0 4px 4px;
    }

    .ta-daterangepicker .calendar, .ta-daterangepicker .ranges {
        float: right;
    }

    .ta-daterangepicker .ranges {
        font-size: 11px;
        margin: 4px;
        text-align: left;
        width:28.4%;
    }

        .ta-daterangepicker .ranges ul {
            list-style: none;
            margin: 0;
            padding: 0;
           /* width: 160px;*/
        }

        .ta-daterangepicker .ranges li div {
            padding: 5px 12px !important;
        }


        .ta-daterangepicker .ranges li {
            font-size: 13px;
            background: #f5f5f5;
            border: 1px solid #f5f5f5;
            color: #777;
            /*padding: 5px 12px;*/
            margin-bottom: 8px;
            border-radius: 5px;
            cursor: pointer;
            font-size: 11px;
    font-weight: normal;
    font-family: 'Arial';
        }

            .ta-daterangepicker .ranges li.active, .ta-daterangepicker .ranges li:hover {
               /* background: #08c;*/
               background:#195c06;
                border: 1px solid #195c06;
                color: #fff;
            }

    .ta-daterangepicker table {
        width: 100%;
        margin: 0;
    }

    .ta-daterangepicker .calendar-table {
        border: 1px solid #f5f5f5;
    }

    .ta-daterangepicker .calendar td, .ta-daterangepicker .calendar th {
        white-space: nowrap;
        text-align: center;
        /*cursor: pointer;*/
        padding: 4px;
        font-size: 10px;
    }

    .ta-daterangepicker td.in-range {
        background: #ebf4f8;
        border-radius: 0;
    }

    .ta-daterangepicker td.active, .ta-daterangepicker td.active:hover {
        background-color: #195c06;
        border-color: #195c06;
        color: #fff;
    }

    .ta-daterangepicker td.start-date {
        border-radius: 4px 0 0 4px;
    }

    .ta-daterangepicker td.end-date {
        border-radius: 0 4px 4px 0;
    }

    .ta-daterangepicker td.off, .ta-daterangepicker td.off.end-date, .ta-daterangepicker td.off.in-range, .ta-daterangepicker td.off.start-date {
        color: #999;
        background: #fff;
    }

    .ta-daterangepicker .input {
        position: relative;
    }

    .ta-daterangepicker .input-mini {
        border: 1px solid #ccc;
        border-radius: 4px;
        color: #555;
        display: block;
        height: 30px;
        line-height: 30px;
        vertical-align: middle;
        margin: 0 0 5px;
        padding: 0 6px 0 28px;
        width: 80%;
      
    }

    .ta-daterangepicker .input i {
        position: absolute;
        left: 8px;
        top: 8px;
    }

    .ta-daterangepicker .input a {
        position: absolute;
        right: 30px;
        top: 0px;
        color: #cccccc;
        text-decoration: none;
    }

    .ta-daterangepicker td.available:hover, .ta-daterangepicker th.available:hover {
        /*background: #eee;*/
    }

    .ta-daterangepicker td a, .ta-daterangepicker th a {
        color: black;
        text-decoration: none;
        display: block;
        cursor:pointer;
    }


    .RangeHeight{
            min-height: 218px;
    min-width: 579px;
    }
