          <div style="min-width:100%; padding-top: 6px; padding-left: 6px;">
                <!-- client dropdwn -->
                <div ng-init="getFilterData();">
 <div class="multiselect-wrapper jqTransformInputWrapper" id="clientFilter" style="float:left; max-width:400px; margin-left:10px;">
   <div style="max-width:300px;" angular-multi-select input-model="dropdown.clients" output-model="dropdown.output_data" dropdown-label="<[ <# angularMultiSelectConstants.INTERNAL_STATS_TOTAL_LEAFS #> === undefined ? 'SELECT CLIENT' :<# angularMultiSelectConstants.INTERNAL_STATS_TOTAL_LEAFS #> === 0 ? 'SELECT CLIENT':<# angularMultiSelectConstants.INTERNAL_STATS_TOTAL_LEAFS #> === null ? 'SELECT CLIENT':<# angularMultiSelectConstants.INTERNAL_STATS_CHECKED_LEAFS #> === 0 ? 'SELECT CLIENT':<# angularMultiSelectConstants.INTERNAL_STATS_CHECKED_LEAFS #> <0?'CLIENT SELECTED':  <# angularMultiSelectConstants.INTERNAL_STATS_CHECKED_LEAFS #>==1?('<(text)>' | outputModelIterator : this : ', '):<# angularMultiSelectConstants.INTERNAL_STATS_CHECKED_LEAFS #> + ' client(s) ' + (<# angularMultiSelectConstants.INTERNAL_STATS_CHECKED_LEAFS #> === 1 ? 'selected': 'selected')]>" node-label="<[ text ]>" leaf-label="<[ text ]>" search-field="text" ng-click="disableClientDropdownClick()"></div>
</div></div>

   <!-- daterange -->
               <div id="divDateRange" class="ams-button-datepicker" style="float: left; margin-left: 15px !important;margin-left: 15px !important;
    height: 18px;
    border: 1px solid rgb(204, 204, 204);
    padding-top: 0;    ">


                                <input type="text" id="txtDateRange" value="SELECT PERIOD" class="multiselect-wrapper jqDropdown" readonly="readonly" />
                            </div>

                        
<!-- AVG DROPDOWN -->
 <div class="multiselect-wrapper jqTransformInputWrapper" id="avgDropdown" style="float:left; max-width:180px; margin-left:15px;" ng-init="getAverageDropdownData()">
                    <div style="max-width:180px;" angular-multi-select input-model="dropdown.avgMax" output-model="dropdown.selectedAvgMax" dropdown-label="<[ <# angularMultiSelectConstants.INTERNAL_STATS_TOTAL_LEAFS #> === undefined ? 'SELECT AVG/MAX' :<# angularMultiSelectConstants.INTERNAL_STATS_TOTAL_LEAFS #> === 0 ? 'SELECT AVG/MAX':<# angularMultiSelectConstants.INTERNAL_STATS_TOTAL_LEAFS #> === null ? 'SELECT AVG/MAX':<# angularMultiSelectConstants.INTERNAL_STATS_CHECKED_LEAFS #> === 0 ? 'SELECT AVG/MAX':  <# angularMultiSelectConstants.INTERNAL_STATS_CHECKED_LEAFS #>==1?('<(text)>' | outputModelIterator : this : ', '): 'AVG AND MAX SELECTED']>"  leaf-label="<[ text ]>" node-label="<[ text ]>" search-field="text" </div>
              
                </div></div>


                <md-button id="goButton" ng-click="getValue()" class="md-raised md-primary filterButton" style="margin-left:1%; font-weight: bold; " title="View Report">GO</md-button>
                <md-button id="clearBtn" class="md-raised md-primary filterButton" ng-click="clearDropdowns()" style="font-weight: bold;" title="Clear Filter">CLEAR</md-button>
            </div>

















