<div id="reportContent" class="reportContent">
  <div id="reportHeader" class="reportHeader" layout="row" layout-align="space-between center">
  <span>
    <label style="margin-left:14px;" ng-cloak>{{ReportTitle}}</label><br>   
        <label style="font-size: 11px; font-weight: 400; margin-left:14px; margin-top:7px; color: #333" ng-cloak>{{DateRange}}</label></span>

    <span layout="row" layout-align="end center" ng-controller="ExportControl" style="height:55px;">
 <span style:"float:right;"> 
       <span id="exportPdf" ng-click="printPdf()" title="Export to PDF"> <img src="./images/icons/PDF_light.png"> </span>

          <span id="exportExcel" ng-click="printExcel()" title="Export to Excel"><img src="./images/icons/Excel_Gray.png"></span> </span> 

  <span id="toggleButtons" style="" layout="row" layout-align="center"> 
      <button id="chartButton" ng-mouseover="rollover('chart')" ng-mouseleave="mouseaway('chart')" ng-click="toggleChartView()" title="Chart"></button><button id="gridButton" ng-mouseover="rollover('grid')" ng-mouseleave="mouseaway('grid')" ng-controller="FilterController" ng-click="toggleGridView()" title="Report"></button>
        </span>
         </span>   
    </div>
<div id="contentBase">
<div layout-gt-md="row">
<md-content class="md-padding _md" id="canvasBase" >
    <div id="GridErrorDiv">
        <img id="errorImage" src="./images/icons/No-report-Data-Icon_.png">
        <div id="Nodatatext"></div>
    </div>
  <div id="div_tbll" style="background-color:white;display:none;width:82%;"  ng-controller="ExportControl">

</div>
<div id="displayChart">
  <label id="chartTitle" style="color:#777; font-weight:bold;">{{chartTitle}}</label>
<canvas id="canvas" class="chart-base" chart-type="chartType" chart-data="data" chart-labels="labels" chart-series="series"  chart-options="options" height="90"></canvas>
<div id="chartjs-tooltip"></div>
<div id="showTotal" ng-model="totalRevenue" >{{totalRevenue}}</div>
</div>


<div id="displayGrid" ng-controller="FilterController" >
<div id="grid" ui-grid="gridOptions" class="grid"  ui-grid-pinning ui-grid-auto-resize>              
  </div>
</div>
</md-content>
        </div>
    </div></div>
    <div id="noClients" style="display:none;">
   <div id="contentBase" flex="33" layout-gt-md="column" style="padding-top:20px;">
    <div id="overviewReport7ErrorDiv" style="width: 99%; margin-bottom: 10px; padding-top: 129px; padding-bottom: 129px; text-align: center;">
   <img id="errorImage" src="./images/icons/No-report-Data-Icon_.png">
   <div id="overviewReport7Nodatatext" style="font-size: 15px; font-weight: 200; color: rgba(0,0,0,0.54); text-align: center;"></div>
   </div>
</div></div>
