<div layout="row" ng-controller="AppCtrl" ng-init="setMargin(); getMenu();">
    <aside id="nav-container" style=" box-shadow: rgba(0, 0, 0, 0.0745098) 0px 1px 1px inset, rgba(0, 0, 0, 0.0980392) 0px 0px 21px !important;width: 54px;">
        <div class='nav-header' ng-cloak>
            <table style="width:100%; margin-bottom:10px;">
                <tbody>
                    <tr ng-controller="AppCtrl">
                        <td style="padding-left: 19px; padding-top: 18px; text-align:center; height:26px;">
                            <div style="color:rgb(18,68,4); font-size:16px; float:left; cursor: pointer;" ng-click="toggleStyle()">
                                <i class="fa fa-bars" aria-hidden="true "></i></div>
                        </td>
                    </tr>
                    <tr>
                        <td style="text-align:center;" colspan="2">
                            <img src="./images/icons/User-Icon2.png " id="headerSidenavLogo" style="display:none;">
                        </td>
                    </tr>
                    <tr ng-controller="LoginControl">
                        <td id="headerImage" style="display:none; text-align: center;color: #777;font-size: 12px; font-weight: bolder !important;" colspan="2" ng-model="Guestname ">{{Guestname}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div id="nav-wrapper" style="width:54px;">
            <div class="slimScrollDiv" style="position: relative; overflow: hidden; width: auto; height: 100%;">
                <ul id="nav" class="nav" style="overflow-x: hidden;   width:80px;  overflow-y: scroll;

    height: 485px; ">
                    <li class="side-menu md-button" ng-repeat="report in menuOptions " ui-sref-active="active " ui-sref={{report.PageURL}} ng-click="callWebService(report.PageURL,report.ReportID);" style="border-width:thin;" title={{report.ReportName}} ng-mouseover="mouseHover(report.Icon,$index)" ng-mousedown="mouseHover(report.Icon,$index)">
                       
                            <i id="iconMenu">
                                <span class="menuIcon" style="display:block; position:absolute; margin:18px; margin-left:21px; width: 18px; height:18px; background-image: url('{{report.Icon}}') !important; background-size: 17px 17px; background-repeat: no-repeat; z-index:5;"> </span>
                                <span class="icon-bg bg-class{{$index}}" style="transition: background-image 1s cubic-bezier(0, 0, 0.2, 1); "> </span>
                            </i>
                        <div class="textMenu " style="position: relative;
       line-height: 1.5em;
   word-wrap: normal;
   text-overflow: clip;
   white-space: pre-wrap; height: 50px;
    display: table-cell;
    vertical-align: middle;padding-right: 12px;">{{report.ReportName}}</div>
                           </li>
                    <!-- logout -->
                    <li class="side-menu md-button" ui-sref-active="active " ng-controller="LoginControl" ng-click="logout() " title="Logout" ng-mouseover="mouseHover('./images/icons/Logout',-1)" ng-mousedown="mouseHover('./images/icons/Logout',-1)">
                        <i id="iconMenu">   
                        <span class="menuIcon" style="margin:18px; margin-left:21px; width: 18px; height:18px; display:block; position:absolute; background-image: url(./images/icons/Logout.png); background-size: 17px 17px; background-repeat: no-repeat; z-index:5;"> </span>   </span>
    <span class="icon-bg bg-class-1" style="transition: background-image 1s cubic-bezier(0, 0, 0.2, 1);">  </span></i>
                        <span class="textMenu">Logout</span>
                    </li>
                </ul>
            </div>
        </div>
    </aside>

    <!--MOBILE Right SideNav for filters-->
    <md-sidenav layout="column" class="site-sidenav md-sidenav-right md-whiteframe-z2" md-component-id="right" hide-print id="rightSidenav">
        <div style="height:154px; margin-left:0px; padding-left:9%;     padding-top: 30%;">
            <div class="multiselect-wrapper" id="selectDate" style="float:left; max-width:190px;">
                <ta-date-range-picker ng-model="dateRange" ranges="customRanges" callback="dateRangeChanged()"></ta-date-range-picker>
                <i class='fa fa-chevron-down' aria-hidden='true' style='float:right; margin-top:-24px !important; font-size:16px; margin-right:-12%;'></i>
            </div>
            <div ng-if="showClientDropdown" angular-multi-select input-model="input_data" output-model="output_data" dropdown-label="CLIENT" node-label="<[ text ]>" leaf-label="<[ text ]>" search-field="text">
            </div>
            <i class="fa fa-chevron-down" aria-hidden="true" style="float:right; margin-top:-24px !important; margin-right: 35% !important; font-size:16px;" id='mobLocation'></i>
        </div>
        <div style="display:inline-block; margin-left:11px; padding-left:9%;">
            <md-button id="goButton" ng-click="goButton()" class="md-raised md-primary filterButtonMobile">GO</md-button>
            <md-button id="clearBtn" class="md-raised md-primary filterButtonMobile" style="margin-left:15px;">CLEAR</md-button>
        </div>
    </md-sidenav>

    <!--WEB-->
    <div layout="column" tabindex="-1" role="main" flex class="layout-column flex">
   <div class="filterControls" id="filterControls" style="margin-left: 55px;">
          
    <div ui-view name="topnav"></div>   

                
            
        </div>
        <br>
        <!-- Ui view -->
        <div id="innerviewMargin" style="top:130px !important; position: absolute;left: 70px;right: 15px; width:93% !important;">
            <div ui-view name="content" class="innerView ui-resolve">
            </div>
                <div id="noClients" style="display:none;">
   <div id="contentBase" flex="33" layout-gt-md="column" style="padding-top:20px;">
    <div id="overviewReport7ErrorDiv" style="width: 99%; margin-bottom: 10px; padding-top: 129px; padding-bottom: 129px; text-align: center;">
   <img id="errorImage" src="./images/icons/No-report-Data-Icon_.png">
   <div id="overviewReport7Nodatatext" style="font-size: 15px; font-weight: 200; color: rgba(0,0,0,0.54); text-align: center;"></div>
   </div>
</div></div>
        </div>
    </div>


