<div id="loginLayoutDiv" layout="column" , layout-align="center center" , layout-fill style="height:auto;"  >
        <div class="loginBox md-whiteframe-z1" , layout="column">
            <md-toolbar id="login-md_toolbar">
                
        <span><img src="./images/icons/Revenue Guard_357x60.png?20170202" style="margin-top:2%;"></span>
            </md-toolbar>
            <md-content class="md-padding" , layout="column">
                <md-input-container style="padding-top: 2%;">
                    <label  class="loginInputLabel"> EmailAddress</label>
                    <input type="email" ng-model="form.username" required style="font-size:12px;"/>
                </md-input-container>
                <md-input-container>
                    <label class="loginInputLabel">Password</label>
                    <input type="password" ng-model="form.password" required/>
                </md-input-container>
                <div layout="row" layout-align="center center" style="padding-top:1%;">
                    <md-button class="md-raised md-primary" style="color:white; width: 100%; " ng-click="login()"> Login</md-button>                 
                </div>
            </md-content>
        </div>
    </div>