<div id="reportContent" class="reportContent" style=" height:100%;">
    <div id="reportHeader" class="reportHeader" layout="row" layout-align="space-between center">
        <span>
            <label id="reportHeading" style="margin-left:14px;" ng-cloak>{{ReportTitle}}</label><br>
            <label id="reportheadingDate" ng-cloak>{{DateRange}}</label>
        </span>
    </div>
</div>
<div id="reportContent1" class="reportContent" style="min-height:350px;  height:100%; margin-top:0px; border-top:none; ">
        <div id="contentBase" flex="33" layout-gt-md="column" style="padding-top:20px; max-height:350px;">
            
               <md-progress-circular  id="LoaderReport1" ng-disabled="!overviewReport1Activated"  class="md-hue-2" md-diameter="20px" style="margin-top:150px; margin-left:50%;"></md-progress-circular> 

            <div ng-model="overviewReport1" id="overviewReport1Heading">{{overviewReport1}}</div>
            <div id="overviewReport1ErrorDiv"></div>       
                    
            <center  id="odometers">                  
                <div layout="row" layout-align="center" style="margin-top:5%;width:80%;" >           
                    <div layout="column" style="text-align:center;width:33%;">
                        <div ng-model="odometer1" style="font-size:11.5px; text-transform: uppercase; color:#777; font-weight:bold; white-space: pre-line;">{{odometer1}}</div>
                        <div id="ChargesPerRun" width="210" ng-radial-gauge ranges="chargeRanges" value="chargeValue" value-unit="unit" precision="precision" lower-limit="chargelowerLimit" upper-limit="chargeupperLimit"></div>
                        <div id="odometerErrorDiv1" style="margin-top: 20px;"></div>
                    </div>                     
                    <div layout="column" style="text-align:center;width:33%;">
                        <div ng-model="odometer2" style="font-size:11.5px; text-transform: uppercase; color:#777; font-weight:bold; white-space: pre-line;">{{odometer2}}</div>
                        <div id="DaysInAr" width="210" ng-radial-gauge ranges="arRanges" value="arValue" precision="precision" lower-limit="arlowerLimit" value-unit="daysunit" upper-limit="arupperLimit"></div>
                        <div id="odometerErrorDiv2" style="margin-top: 20px;"></div>
                    </div>
                    <div layout="column" style="text-align:center;width:33%;">
                        <div ng-model="odometer3" style="font-size:11.5px; text-transform: uppercase; color:#777; font-weight:bold; white-space: pre-line;">{{odometer3}}</div>
                        <div id="RevenuePerRun" width="210" ng-radial-gauge ranges="revenueRanges" value="revenueValue" value-unit="unit" precision="precision" lower-limit="revenuelowerLimit" upper-limit="revenueupperLimit"></div>
                        <div id="odometerErrorDiv3" style="margin-top: 20px;"></div>
                    </div>
                </div>              
            </center>
        </div>
   </div>


<!-- TOTAL CLAIMS WAITING TO BE BILLED -->
<div id="reportContent2" class="reportContent" style="max-height:400px !important; min-height:400px;  height:100%; ">
  
        <div id="contentBase" flex="33" layout-gt-md="column" style="height:400px;">
            <div ng-model="overviewReport2" id="overviewReport2Heading">{{overviewReport2}}</div>
            <div id="overviewReport2ErrorDiv" style="width: 99%;  padding-top: 129px; padding-bottom: 129px; text-align: center;">
                <img id="errorImage" src="./images/icons/No-report-Data-Icon_.png">
                <div id="overviewReport2Nodatatext" style="font-size: 13px; font-weight: 200; color: #A5A5A5; text-align: center;"></div>
            </div>
            <div layout-align="start center" ng-model="class" id="overviewReport2">
                <div layout="row" layout-sm="column" layout-align="center center" style="height:350px;">
                    <md-progress-circular id="LoaderReport2" ng-disabled="!overviewReport2Activated" class="md-hue-2" md-diameter="20px" style='margin:50%;'></md-progress-circular>
                    <canvas id="canvas2" class="chart-base" chart-type="waitingChartType" chart-data="waitingClaimdata" chart-labels="waitingClaimlabels" chart-series="waitingClaimseries" chart-options="waitingClaimoptions" width="900" height="300" style="margin:0 auto; margin-top: 10px;
"></canvas>
                    <div id="showTotal" ng-model="waitingClaimTotal">{{waitingClaimTotal}}</div>
                </div>
            </div>
        </div>
   
</div>

<!-- MEDICARE DAYS -->
<div id="reportContent3" class="reportContent" style="max-height:400px !important; min-height:400px; width:48.5%;float:left; ">
    <div layout="row" layout-align: "space-between center" style="width:100%; border-top: 1px solid #ddd; min-height:400px;">
        <div id="contentBase" flex layout-gt-md="column" ng-model="reportTitle" style="padding-bottom: 39px; padding-right: 20px;">
            <div layout="column" ng-init="" style="background:white;    width: 50%;
    padding-top: 20px;padding-bottom: 20px; width: 100%;
    text-align: center;

    padding-left: 20px;">
                <div id="overviewReport3ErrorDiv" style="width: 99%;  padding-top: 127px; padding-bottom: 127px; text-align: center;">
                    <img id="errorImage" src="./images/icons/No-report-Data-Icon_.png">
                    <div id="overviewReport3Nodatatext" style="font-size: 13px; font-weight: 200; color: #A5A5A5; text-align: center;"></div>
                </div>
                <div flex="50" id="overviewReport3">
                    <div ng-model="overviewReport3" id="overviewReport3Heading">{{overviewReport3}}</div>
                     <div layout="row" layout-sm="column" layout-align="center center" style="height:350px;">
                    <md-progress-circular id="LoaderReport3" ng-disabled="!overviewReport3Activated" class="md-hue-2" md-diameter="20px" style='margin:50%;'></md-progress-circular>
                    <canvas id="canvas3" class="chart-base" chart-type="medicareChartType" chart-data="medicaredata" chart-labels="medicarelabels" chart-series="medicareseries" chart-options="medicareoptions"></canvas></div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--  TOTAL HOURS WORKED -->
<div id="reportContent4" class="reportContent" style="max-height:400px !important; min-height: 400px; margin-left:15px; height:100%;width:48.5%;float:left;    margin-bottom: 15px;">
    <div layout="row" layout-align: "space-between center" style="width:100%; border-top: 1px solid #ddd; min-height:400px;">
        <div id="contentBase" flex layout-gt-md="column" ng-model="reportTitle" style="padding-left:20px;padding-bottom: 20px; padding-right: 20px;">
            <div layout="column" ng-init="" style="background:white;    width: 50%;padding-bottom: 20px;    width: 100%;
    text-align: center;

    padding-top: 20px;">
                <div id="overviewReport4ErrorDiv" style="width: 99%; margin-bottom: 10px; padding-top: 129px; padding-bottom: 129px; text-align: center;">
                    <img id="errorImage" src="./images/icons/No-report-Data-Icon_.png">
                    <div id="overviewReport4Nodatatext" style="font-size: 13px; font-weight: 200; color: #A5A5A5; text-align: center;"></div>
                </div>
                <div flex id="overviewReport4">
                    <div ng-model="overviewReport4" id="overviewReport4Heading">{{overviewReport4}}</div>
                     <div layout="row" layout-sm="column" layout-align="center center" style="height:350px;">
                    <md-progress-circular id="LoaderReport4" ng-disabled="!overviewReport4Activated" class="md-hue-2" md-diameter="20px" style='margin:50%;' ></md-progress-circular>
                    <canvas id="canvas4" class="chart-base" chart-type="totalhoursChartType" chart-data="totalhoursdata" chart-labels="totalhourslabels" chart-series="totalhoursseries" chart-options="hoursworkedoptions"></canvas></div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- AVERAGE DAYS TO BILL -->
<div id="reportContent5" class="reportContent" style="max-height:450px !important; min-height:450px; height:100%; border-top:none; ">
    
        <div id="contentBase" flex layout-gt-md="column" ng-model="reportTitle" style="padding-left:20px;padding-bottom: 20px; height:450px; padding-right: 20px;">
            <div ng-model="overviewReport5" id="overviewReport5Heading">{{overviewReport5}}</div>
            <div id="overviewReport5ErrorDiv" style="width: 99%; margin-bottom: 10px; padding-top: 129px; padding-bottom: 129px; text-align: center;">
                <img id="errorImage" src="./images/icons/No-report-Data-Icon_.png">
                <div id="overviewReport5Nodatatext" style="font-size: 13px; font-weight: 200; color: #A5A5A5; text-align: center;"></div>
            </div>
            <div layout-align="start center" id="overviewReport5">
             <div layout="row" layout-sm="column" layout-align="center center" style="height:350px;">
                <md-progress-circular id="LoaderReport5" ng-disabled="!overviewReport5Activated" class="md-hue-2" md-diameter="20px" style='margin:50%;' ></md-progress-circular>
                <canvas id="canvas5" class="chart-base" chart-type="avgdaysChartType" chart-data="avgdaysdata" chart-labels="avgdayslabels" chart-series="avgdaysseries" chart-options="avgoptions" height="90"></canvas></div>
            </div>
        </div>
    
</div>
<!-- TOTAL CLAIMS WAITING TO BE BILLE VS CLAIMS BILLED -->
<div id="reportContent6" class="reportContent" style="max-height:450px !important; min-height:450px; height:100%; margin-bottom: 65px; ">
    <div id="contentBase" flex layout-gt-md="column" style="padding-left:20px;padding-bottom: 20px; height:450px; padding-right: 20px;">
        <div ng-model="overviewReport6" id="overviewReport6Heading">{{overviewReport6}}</div>
        <div id="overviewReport6ErrorDiv" style="width: 99%; margin-bottom: 10px; padding-top: 129px; padding-bottom: 129px; text-align: center;">
            <img id="errorImage" src="./images/icons/No-report-Data-Icon_.png">
            <div id="overviewReport6Nodatatext" style="font-size: 13px; font-weight: 200; color: #A5A5A5; text-align: center;"></div>
        </div>
        <div layout-align="start center" id="overviewReport6">
         <div layout="row" layout-sm="column" layout-align="center center" style="height:350px;">
            <md-progress-circular id="LoaderReport6" ng-disabled="!overviewReport6Activated" class="md-hue-2" md-diameter="20px" style='margin:50%;' ></md-progress-circular>
            <canvas id="canvas6" class="chart-base" chart-type="claimswaiting_claimsbilledChartType" chart-data="claimswaiting_claimsbilleddata" chart-labels="claimswaiting_claimsbilledlabels" chart-series="claimswaiting_claimsbilledseries" chart-options="vsoptions" height="90"></canvas></div>
        </div>
    </div>
</div>


<div id="noClients" style="display:none;">
   <div id="contentBase" flex="33" layout-gt-md="column" style="padding-top:20px;">
    <div id="overviewReport7ErrorDiv" style="width: 99%; margin-bottom: 10px; padding-top: 129px; padding-bottom: 129px; text-align: center;">
   <img id="errorImage" src="./images/icons/No-report-Data-Icon_.png">
   <div id="overviewReport7Nodatatext" style="font-size: 15px; font-weight: 200; color: rgba(0,0,0,0.54); text-align: center;"></div>
   </div>
</div></div>
