
                
                <!-- payer -->
<div style="min-width:100%; padding-top: 6px; padding-left: 6px;">
                <!-- client dropdwn -->
                <div ng-init="getFilterData();">
 <div class="multiselect-wrapper jqTransformInputWrapper" id="clientFilter" style="float:left; max-width:400px; margin-left:10px;">
   <div style="max-width:300px;" angular-multi-select input-model="dropdown.clients" output-model="dropdown.output_data" dropdown-label="<[ <# angularMultiSelectConstants.INTERNAL_STATS_TOTAL_LEAFS #> === undefined ? 'SELECT CLIENT' :<# angularMultiSelectConstants.INTERNAL_STATS_TOTAL_LEAFS #> === 0 ? 'SELECT CLIENT':<# angularMultiSelectConstants.INTERNAL_STATS_TOTAL_LEAFS #> === null ? 'SELECT CLIENT':<# angularMultiSelectConstants.INTERNAL_STATS_CHECKED_LEAFS #> === 0 ? 'SELECT CLIENT':<# angularMultiSelectConstants.INTERNAL_STATS_CHECKED_LEAFS #> <0?'CLIENT SELECTED':  <# angularMultiSelectConstants.INTERNAL_STATS_CHECKED_LEAFS #>==1?('<(text)>' | outputModelIterator : this : ', '):<# angularMultiSelectConstants.INTERNAL_STATS_CHECKED_LEAFS #> + ' client(s) ' + (<# angularMultiSelectConstants.INTERNAL_STATS_CHECKED_LEAFS #> === 1 ? 'selected': 'selected')]>" node-label="<[ text ]>" leaf-label="<[ text ]>" search-field="text" ng-click="disableClientDropdownClick()"></div>
</div></div>

   <!-- daterange -->
               <div id="divDateRange" class="ams-button-datepicker" style="float: left;     margin-left: 15px !important;margin-left: 15px !important;
    height: 18px;
    border: 1px solid rgb(204, 204, 204);
    padding-top: 0;    ">


                                <input type="text" id="txtDateRange" value="SELECT PERIOD" class="multiselect-wrapper jqDropdown" readonly="readonly" />
                            </div>

                             <!--<div id="divDate" class="ams-button" style="float: left;     margin-left: 15px !important;display:block;   margin-left: 15px !important;
    height: 18px;
    border: 1px solid rgb(204, 204, 204);
    padding-top: 0;">
                                <input type="text" id="txtDate" value="SELECT DATE" readonly="readonly" class="jqDropdown" />

                            </div>-->
<!--Payer-->
 <div class="multiselect-wrapper jqTransformInputWrapper" id="payerFilter" style="float:left; max-width:180px; margin-left:10px;"  ng-init="getPayers()">
   <div style="max-width:180px;" angular-multi-select input-model="dropdown.payers" output-model="dropdown.selectedPayers" dropdown-label="<[ <# angularMultiSelectConstants.INTERNAL_STATS_TOTAL_LEAFS #> === undefined ? 'SELECT PAYOR' :<# angularMultiSelectConstants.INTERNAL_STATS_TOTAL_LEAFS #> === 0 ? 'SELECT PAYER':<# angularMultiSelectConstants.INTERNAL_STATS_TOTAL_LEAFS #> === null ? 'SELECT PAYOR':<# angularMultiSelectConstants.INTERNAL_STATS_CHECKED_LEAFS #> === 0 ? 'SELECT PAYOR': <# angularMultiSelectConstants.INTERNAL_STATS_CHECKED_LEAFS #><0?'PAYOR SELECTED': <# angularMultiSelectConstants.INTERNAL_STATS_CHECKED_LEAFS #>==1?('<(text)>' | outputModelIterator : this : ', '):<# angularMultiSelectConstants.INTERNAL_STATS_CHECKED_LEAFS #> + ' PAYOR(s) ' + (<# angularMultiSelectConstants.INTERNAL_STATS_CHECKED_LEAFS #> === 1 ? 'selected': 'selected')]>"  node-label="<[ text ]>" leaf-label="<[ text ]>" search-field="text"></div>
 </div>

                <!-- no of days -->
 <div class="multiselect-wrapper jqTransformInputWrapper" id="clientFilter" style="float:left; max-width:180px; margin-left:10px;"  ng-init="getDays()">
                      <div style="max-width:180px;" angular-multi-select input-model="dropdown.days" output-model="dropdown.selectedDays" dropdown-label="<[ <# angularMultiSelectConstants.INTERNAL_STATS_TOTAL_LEAFS #> === undefined ? 'SELECT DAYS' :<# angularMultiSelectConstants.INTERNAL_STATS_TOTAL_LEAFS #> === 0 ? 'SELECT DAYS':<# angularMultiSelectConstants.INTERNAL_STATS_TOTAL_LEAFS #> === null ? 'SELECT DAYS':<# angularMultiSelectConstants.INTERNAL_STATS_CHECKED_LEAFS #> === 0 ? 'SELECT DAYS':  <# angularMultiSelectConstants.INTERNAL_STATS_CHECKED_LEAFS #>==1?('<(text)>' | outputModelIterator : this : ', '):<# angularMultiSelectConstants.INTERNAL_STATS_CHECKED_LEAFS #> + ' OPTION(s) ' + (<# angularMultiSelectConstants.INTERNAL_STATS_CHECKED_LEAFS #> === 1 ? 'selected': 'selected')]>"  node-label="<[ text ]>" leaf-label="<[ text ]>" max-checked-leafs="1" search-field="text"></div>
                   </div>


                <md-button id="goButton" ng-click="getValue()" class="md-raised md-primary filterButton" style="margin-left:1%; font-weight: bold;" title="View Report">GO</md-button>
                <md-button id="clearBtn" class="md-raised md-primary filterButton" ng-click="clearDropdowns()" style="font-weight: bold;" title="Clear Filter">CLEAR</md-button>
            </div>


<!-- <# angularMultiSelectConstants.INTERNAL_STATS_CHECKED_LEAFS #> -->














