﻿.infowindow
{
    float: left;
    font-size: 10pt;
    font-weight: bold;
    text-align: left;
}
.showMap
{
    position: relative;
    display: block;
}
#map
{
    background-color: #E5E3DF;
    float: left;
    height: 300px;
    overflow: hidden;
    position: relative;
    width: 100%;
}
#changefacility
{
    display: none;
}
.ui-dialog .ui-dialog-titlebar
{
    display: none;
}
.image_carousel
{
    padding: 15px 0 15px 0px;
    position: relative;
}
.image_carousel img
{
    background-color: transparent;
    margin: 0px;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
}
.image_carousel
{
    background-color: transparent;
    margin: 30px 0 30px 0px;
    width: 70%;
}
.image_carousel ul
{
    margin: 0;
    padding: 0;
    list-style: none;
    display: block;
}
.image_carousel li
{
    /* font-size: 18px;     color: #999;     text-align: center;      width: 150px;     height: 150px;     padding: 0;     margin: 6px;     display: block;     float: left;*/
    width: 203px;
    height: 125px;
    display: block;
    float: left;
    margin: 0 12px;
}
.image_carousel li div.box
{
    width: 190px;
    height: 125px;
    background: #fff;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border: 1px solid #7a7e8d;
    display: block;
    float: left;
    list-style: none;
    padding: 5px;
    position: relative;
}
.image_carousel li h2
{
    margin: 0;
    padding: 0;
    font-size: 14px;
}
a.prev, a.next
{
    background: url(../../images/spritenewbtnjefbar.png) no-repeat transparent;
    width: 50px;
    height: 125px;
    display: block;
    position: absolute;
    top: 22px;
}
a.prev
{
    left: 0;
    background-position: 0 0;
}
a.prev:hover
{
    background-position: 0 -124px;
}
a.prev.disabled
{
    background-position: 0 -248px !important;
}
a.next
{
    right: 0;
    background-position: -50px 0;
}
a.next:hover
{
    background-position: -50px -124px;
}
a.next.disabled
{
    background-position: -50px -248px !important;
}
a.prev.disabled, a.next.disabled
{
    cursor: default;
}
a.prev span, a.next span
{
    display: none;
}
.pagination
{
    text-align: center;
}
.pagination a
{
    background: url(../../images/miscellaneous_spritejefbar.png) 0 -300px no-repeat transparent;
    width: 15px;
    height: 15px;
    margin: 0 5px 0 0;
    display: inline-block;
}
.pagination a.selected
{
    background-position: -25px -300px;
    cursor: default;
}
.pagination a span
{
    display: none;
}
.clearfix
{
    float: none;
    clear: both;
}
.caroufredsel_wrapper
{
    min-height: 250px;
}

 .img
    {
        width:100%;
        height:100%;
    }

div.window-content-wrapper
       {
           padding:15px !important;
       }



@media (min-width:651px) and (max-width:880px)
{
    .image_carousel
    {
        background-color: transparent;
        margin: 5px 0 30px 0px;
        width: 60%;
        padding: 15px 0 15px 0px;
        position: relative;
    }

}
@media (min-width:900px) and (max-width:1050px)
{
    .image_carousel
    {
        background-color: transparent;
        margin: 30px 0 30px 0px;
        width: 70%;
        padding: 15px 0 15px 0px;
        position: relative;
    }

}

@media (min-width:1100px) and (max-width:1280px)
{
    .image_carousel
    {
        background-color: transparent;
        margin: 30px 0 30px 0px;
        width: 72%;
        padding: 15px 0 15px 0px;
        position: relative;
    }

}
@media (min-width:1320px) and (max-width:1380px)
{
    .image_carousel
    {
        background-color: transparent;
        margin: 30px 0 30px 0px;
        width: 70%;
        padding: 15px 0 15px 0px;
        position: relative;
    }

}

@media (min-width:1400px) and (max-width:1480px)
{
    .image_carousel
    {
        background-color: transparent;
        margin: 30px 0 30px 0px;
        width: 75%;
        padding: 15px 0 15px 0px;
        position: relative;
    }

}
@media (min-width:1610px) and (max-width:1700px)
{
    .image_carousel
    {
        background-color: transparent;
        margin: 30px 0 30px 0px;
        width: 70%;
        padding: 15px 0 15px 0px;
        position: relative;
    }

}

@media (min-width:1701px)
{
    .image_carousel
    {
        background-color: transparent;
        margin: 30px 0 30px 0px;
        width: 75%;
        padding: 15px 0 15px 0px;
        position: relative;
    }

}



@media (max-width:650px)
{
    .image_carousel
    {
        background-color: transparent;
        margin: 20px 0 20px 0px;
        width: 100%;
        padding: 15px 0 15px 0px;
        position: relative;
    }
    .caroufredsel_wrapper
    {
        min-height:170px;
        max-width:238px;
    }
    #lfrom {
        margin: 2% auto 2% auto;
        position: relative;
        width: 100%;
    }
    
    .facility {
        width: 84%;
        margin: 2% 2%;
        padding: 15px;
        position: relative;
        background: #e6e6e6;
        border-radius: 4px;
        color: #7e7975;
        box-shadow: 0 2px 2px rgba(0,0,0,0.2), 0 1px 5px rgba(0,0,0,0.2), 0 0 0 8px rgba(0,0,0,0.4);
        behavior: url(PIE-1.0.0/PIE.htc);
        min-height: 380px;
    }
    
     .modal
    {
        left:16% !important;
        top:18% !important;
        width:280px !important;
    }


}

@media (max-width:420px)
{
 .image_carousel
    {
        background-color: transparent;
        margin: 10px 0 10px 0px;
        width: 100%;
        padding: 15px 0 15px 0px;
        position: relative;
    }
    .facility h1 , .form-2 h1
    {
        font-size: 15px;
        font-weight: bold;
        color: #bdb5aa;
        padding-bottom: 8px;
        border-bottom: 1px solid #d7d7d7;
        text-shadow: 0 2px 0 rgba(255,255,255,0.8);
        box-shadow: 0 1px 0 rgba(255,255,255,0.8);
        text-align: center;
        height:15px !important;
    }
    
    
    
    .caroufredsel_wrapper
    {
        min-height:150px;
        width:165px !important;
        margin:25px 0 -40px 0 !important;
        
    }
    #lfrom {
    margin: 2% auto 2% auto;
    position: relative;
    width: 100%;
    z-index:2;
    }
    .facility {
        width: 88%;
        margin: 2% 2%;
        padding: 5px;
        position: relative;
        background: #e6e6e6;
        border-radius: 4px;
        color: #7e7975;
        box-shadow: 0 2px 2px rgba(0,0,0,0.2), 0 1px 5px rgba(0,0,0,0.2), 0 0 0 8px rgba(0,0,0,0.4);
        behavior: url(PIE-1.0.0/PIE.htc);
        min-height: 280px;
    }
    
     .form-2 {
        width: 88%;
        margin: 2% 2%;
        padding: 5px;
        position: relative;
        background: #e6e6e6;
        border-radius: 4px;
        color: #7e7975;
        box-shadow: 0 2px 2px rgba(0,0,0,0.2), 0 1px 5px rgba(0,0,0,0.2), 0 0 0 8px rgba(0,0,0,0.4);
        behavior: url(PIE-1.0.0/PIE.htc);
        min-height: 280px;
    }
    
    div.overlay {
        width: 225px;
        min-height: 160px;
        background: transparent url('../../images/fhoverbg.png' ) repeat;
        position: relative;
        top: -100px;
        left: 50px;
        z-index: 1000;
        border: 1px solid #7a7e8d;
        overflow: hidden;
        float: left;
    }
    div.overlay a
    {
        font-size:13px !important;
        width:135px !important;
        padding:5px 2px !important;
    }
    
    .image_carousel li div.box 
    {
        width: 130px;
        height: 80px;
        background: #fff;
        border-radius: 4px;
        -moz-border-radius: 4px;
        -webkit-border-radius: 4px;
        border: 1px solid #7a7e8d;
        display: block;
        float: left;
        list-style: none;
        padding: 5px;
        position: relative;
    }
    
    div.overlay label
    {
        display: block;
        padding: 0 0 3px 1px;
        cursor: pointer; /*  text-transform: capitalize;*/
        font-weight: bold;
        font-size: 11px;
        text-align: left;
        float: left;
        min-width: 100px;
        color: #000;
    }
    
    .modal
    {
        left:18% !important;
        top:30% !important;
        width:280px !important;
    }
    
    a.prev, a.next
    {
        background: url(../../images/sprite92.png) no-repeat transparent;
        width: 39px;
        height: 94px;
        display: block;
        position: absolute;
        top: 38px;
    }
    a.prev
    {
        left: 0;
        background-position: 0 0;
    }
    a.prev:hover
    {
        background-position: 0 -94px;
    }
    a.prev.disabled
    {
        background-position: 0 -188px !important;
    }
    a.next
    {
        right: 0;
        background-position: -39px 0;
    }
    a.next:hover
    {
        background-position: -39px -94px;
    }
    a.next.disabled
    {
        background-position: -39px -188px !important;
    }
    
    .jqTransformInputWrapper, .jqTransformInputInner
    {
        width:120px !important;
    }
      #btngenerator
      {
          font-size:16px !important;     
       }
       div.window-content-wrapper
       {
           padding:0px !important;
       }
    
}


.box.img1 {
padding-top:0;
margin-top:0;

}