@import url(https://fonts.googleapis.com/css?family=Lato:300,400,700);
@import url('font-awesome.css');

/* demo page styles */
html
{
    height: 100%;
}
body
{
    background: #fff;
    margin: 0;
    padding: 0;
    font-family: 'Lato' , Calibri, Arial, sans-serif;
    font-size: 11px;
    -webkit-user-select: none;
}



a
{
    color: #555;
    text-decoration: none;
}

.header
{
    background: none;
    height: 100%;
}
.example
{
    position: relative;
    margin: 0;
    padding: 0;
    width: 100%;
    background: transparent;
}

/* main menu styles */


/* tabs section */
#tabs-container
{
    clear: both;
    font-size: 11px;
    height: 70px;
    margin: 0 auto;
    padding: 10px 0;
    background: #fff;
    min-width: 100%;
}
#tabs-containerReport
{
    display: block;
    font-size: 11px;
    height: 50px;
    margin: 0 auto;
    padding: 1px;
    position: absolute;
    right: 0;
    top: 49px;
    z-index: 1;
}
.tabs li
{
    float: left;
    list-style: none;
    position: relative;
}
.tabs li a:first-child
{
    /*  margin-left:10px*/
}
.tabs li a
{
    background-color: Transparent;
    color: #003366;
    display: block;
    margin: 0 2px 0 0;
    padding: 6px 10px 4px;
    height: 77px;
    line-height: 77px;
    font-size: 16px;
    font-family: Verdana;
    font-variant: small-caps;
    font-weight: bold;
    text-decoration: none;
}
.tabs li a img
{
    vertical-align: middle;
}
.tabs li.active
{
    background: url(../images/menuhover-r.png) 100% no-repeat;
}
.tabs li.active a
{
    background: url(../images/menuhover-l.png) 0 0 no-repeat;
    color: #000;
}
.tabs li.child a
{
    -webkit-border-radius: 0 4px 0 0;
    background: #f3f3f3;
    border-radius: 0 4px 0 0;
    color: #333;
    display: block;
    margin: 0;
    padding: 6px 10px 4px;
}
.tabs li a:hover
{
    /*  background:#fafafa;     border-bottom:1px solid #d5d5d5;     color:#fff;     text-decoration:none*/
}

.tabs li:hover
{
    background: url(../images/menuhover-r.png) 100% no-repeat;
}
.tabs li:hover a
{
    background: url(../images/menuhover-l.png) 0 0 no-repeat;
    color: #000;
}


/* Targeting the first level menu */
.tabs
{
    display: block;
    margin: 0;
    padding: 1px 0 2px;
    position: absolute;
    z-index: 100;
}
.tabs > li > a:hover
{
    background: url(../images/menuhover-l.png) 0 0 no-repeat;
    color: #000;
}
.tabs > li.active > a:hover
{
    /*-moz-border-radius: 3px 3px 0 0; 	-webkit-border-radius: 3px 3px 0 0; 	background: #fff; 	border-bottom: 1px solid #fff; 	border-radius: 3px 3px 0 0; 	color: #222;*/
}

/*Middle Drop-Down Navigation*/
#nav-container
{
    clear: both;
    font-size: 14px;
    height: 30px;
    margin: 0;
    padding: 0;
    font-weight: bold;
    background: #940006;
    min-width: 100%;
}

/* Targeting both first and second level menus */
.nav li
{
    float: left;
    list-style: none;
    position: relative;
}
.nav li a
{
    background: transparent;
    border: none;
    color: #fff;
    display: block;
    text-decoration: none;
    height: 40px;
    line-height: 40px;
    margin: 0;
    padding: 0 20px;
}

/* Targeting the first level menu */
.nav
{
    margin: 0;
    padding: 0;
}
.nav > li > a:hover
{
    background-color: transparent;
    color: #003399;
    padding: 0 20px;
}

/* Targeting the second level menu */
.nav li ul
{
    -moz-border-radius-bottomleft: 3px;
    -moz-border-radius-bottomright: 3px;
    -moz-border-radius-topright: 3px;
    -moz-box-shadow: 1px 1px 1px #333;
    -webkit-border-bottom-right-radius: 3px;
    -webkit-box-shadow: 1px 1px 1px #333;
    background: #454545;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    border-top-right-radius: 3px;
    box-shadow: 1px 1px 1px #333;
    color: #222;
    display: none;
    margin: 0;
    padding: 2px 0;
    position: absolute;
    width: 140px;
}
.nav li ul li
{
    width: 100%;
}
.nav li ul li a
{
    background: #454545;
    border: none;
    color: #fff;
    line-height: 40px;
    margin: 0;
    padding: 0 0 0 8px;
}
.nav li ul li a:hover
{
    background: #7a7e8d;
}
.nav li ul li.strong-archive a
{
    border-top: 1px solid #7a7e8d;
    font-weight: 600;
}

/* A class of current will be added via jQuery */
.nav li.current > a
{
    background-color: #454545;
    color: #fff;
}

/* CSS fallback */
.nav li:hover > ul.child
{
    display: block;
}
.ccalogo
{
    background: transparent url(    '../../jefbar/logo_jefbar.jpg' ) no-repeat;
    width: 167px;
    height: 71px;
}
.marslogo
{
    background: transparent url(    '../../jefbar/logo_amb.jpg' ) no-repeat;
    width: 192px;
    height: 70px;
}
.bluestrip
{
    background: transparent url(    '../../images/bluestrip.png' ) repeat-x;
    height: 45px;
    margin-top: 3px;
}
.footer
{
    background: transparent url(   "../../images/footerbg.jpg" ) repeat-x;
    bottom: 0px;
    color: #4D4F53;
    height: 49px;
    position: fixed;
    vertical-align: middle;
    width: 100%;
    min-width: 98%;
    z-index: 1;
}
.clear
{
    clear: both;
}
.left
{
    float: left;
    margin-left: 10px;
    padding-left: 10px;
}
.right
{
    float: right;
    text-align: right;
    margin-right: 10px;
    padding-right: 10px;
}
.contant
{
    /* min-height: 550px;*/
}
.iScrollWrapper
{
    position: absolute;
    z-index: 1;
    bottom: 0;
    left: 0;
    top: 170px;
    width: 100%;
    overflow: auto;
    bottom: 49px;
}
.nav1 li
{
    list-style: none;
    position: relative;
}
.nav1 li a
{
    background: transparent;
    border: none;
    color: #4d4f53;
    display: block;
    text-decoration: none;
    height: 40px;
    line-height: 40px;
    margin: 0;
    padding: 0 20px;
}

/* Targeting the first level menu */
.nav1
{
    margin: 0;
    padding: 0;
}
.form-1 button:active
{
    background: #42A2BC;
    box-shadow: inset 0 0 5px rgba(0,0,0,0.3), inset 0 3px 4px rgba(0,0,0,0.3);
}
.form-2
{
    /* Size and position */
    width: 350px;
    margin: 5% auto 5% auto;
    margin-top: 0;
    padding: 15px;
    position: relative; /* Styles */
    background: #e6e6e6;
    border-radius: 4px;
    color: #7e7975;
    box-shadow: 0 2px 2px rgba(0,0,0,0.2), 0 1px 5px rgba(0,0,0,0.2), 0 0 0 12px rgba(0,0,0,0.4);
    behavior: url(PIE-1.0.0/PIE.htc);
}

.form-2 h1
{
    font-size: 18px;
    font-weight: bold;
    color: #bdb5aa;
    padding-bottom: 8px;
    border-bottom: 1px solid #d7d7d7;
    text-shadow: 0 2px 0 rgba(255,255,255,0.8);
    box-shadow: 0 1px 0 rgba(255,255,255,0.8);
    text-align: center;
}
.form-2 h1 .log-in, .form-2 h1 .sign-up
{
    display: inline-block;
    text-transform: capitalize;
}

.form-2 h1 .log-in
{
    color: #6c6763;
    padding-right: 2px;
}
.form-2 label
{
    display: block;
    padding: 0 0 5px 2px;
    cursor: pointer; /*  text-transform: capitalize;*/
    font-weight: bold;
    font-size: 14px;
    text-align: left;
}

.form-2 label i
{
    margin-right: 5px; /* Gap between icon and text */
    display: inline-block;
    width: 10px;
}
.form-2 input[type=text], .form-2 input[type=password]
{
    font-family: 'Lato' , Calibri, Arial, sans-serif;
    font-size: 13px;
    font-weight: 400;
    display: block;
    width: 95%;
    padding: 5px;
    margin-bottom: 5px;
    margin-left: 0px;
    border: 3px solid #d7d7d7;
    border-radius: 5px;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

.form-2 input[type=text]:hover, .form-2 input[type=password]:hover
{
    border-color: #CCC;
}

.form-2 label:hover ~ input
{
    border-color: #CCC;
}

.form-2 input[type=text]:focus, .form-2 input[type=password]:focus
{
    border-color: #BBB;
    outline: none; /* Remove Chrome's outline */
}
.form-2 input[type=submit], .form-2 input[type=reset], .form-2 .log-twitter, .bb
{
    /* Size and position */
    width: 40%; /* height: 38px;   position: relative;*/
    float: left; /* Styles */
    box-shadow: inset 0 1px rgba(255,255,255,0.3);
    border-radius: 3px;
    cursor: pointer; /* Font styles */
    font-family: 'Lato' , Calibri, Arial, sans-serif;
    font-size: 14px;
    line-height: 20px; /* Same as height */
    text-align: center;
    font-weight: bold;
}
.bbf
{
}
.form-2 input[type=reset], .form-2 input[type=submit], .canc
{
    margin-left: 1%;
    background: #da1923; /* Fallback */
    background: -moz-linear-gradient(#da1923, #780100);
    background: -ms-linear-gradient(#da1923, #780100);
    background: -o-linear-gradient(#da1923, #780100);
    background: -webkit-gradient(linear, 0 0, 0 100%, from(#da1923), to(#780100));
    background: -webkit-linear-gradient(#da1923, #780100);
    background: linear-gradient(#da1923, #780100);
    border: 1px solid #da1923;
    color: #fff;
    text-shadow: 0 1px rgba(0,0,0,0.8);
    padding: 10px 0;
}
#lfrom
{
    margin: 5% auto 5% auto;
    position: relative;
    width: 100%;
}
.lbl1
{
    margin-left: -23px;
}
.facility
{
    /* Size and position */
    width: 90%;
    margin: 2% 2%;
    padding: 15px;
    position: relative; /* Styles */
    background: #e6e6e6;
    border-radius: 4px;
    color: #7e7975;
    box-shadow: 0 2px 2px rgba(0,0,0,0.2), 0 1px 5px rgba(0,0,0,0.2), 0 0 0 12px rgba(0,0,0,0.4);
    behavior: url(PIE-1.0.0/PIE.htc);
    min-height: 450px;
}

.facility h1
{
    font-size: 18px;
    font-weight: bold;
    color: #bdb5aa;
    padding-bottom: 8px;
    border-bottom: 1px solid #d7d7d7;
    text-shadow: 0 2px 0 rgba(255,255,255,0.8);
    box-shadow: 0 1px 0 rgba(255,255,255,0.8);
    text-align: center;
}
.facility h1 .log-in, .form-2 h1 .sign-up
{
    display: inline-block;
    text-transform: capitalize;
}

.facility h1 .log-in
{
    color: #6c6763;
    padding-right: 2px;
}
.reportcenter
{
    display: inline-block;
    text-transform: capitalize;
    color: #ffffff;
    padding-right: 2px;
}
.reportcenter i
{
    margin-right: 5px; /* Gap between icon and text */
    display: inline-block;
    width: 10px;
}
.reportcenterpc
{
    display: inline-block;
    text-transform: capitalize;
    color: #ffffff;
    padding-right: 2px;
}
.reportcenterpc i
{
    margin-right: 5px; /* Gap between icon and text */
    display: inline-block;
    width: 10px;
}
.facility label
{
    display: block;
    padding: 0 0 5px 2px;
    cursor: pointer; /*  text-transform: capitalize;*/
    font-weight: bold;
    font-size: 14px;
    text-align: left;
}
.facilitylogos
{
    float: left;
    width: 100%;
    background: transparent;
    overflow: hidden;
    position: relative;
    height: 350px;
    margin-top: 20px; /*     float: left;     margin-left: 16em;     margin-top: 6%;*/
}
.facilitylogos ul
{
    clear: left;
    float: left;
    list-style: none;
    margin: 0;
    padding: 0;
    position: relative;
    left: 50%;
    text-align: center;
}
.facilitylogos ul li
{
    width: 190px;
    height: 125px;
    margin: 5% 10px;
    position: relative; /* Styles */
    background: #fff;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border: 1px solid #7a7e8d;
    display: block;
    float: left;
    list-style: none;
    padding: 5px;
    position: relative;
    right: 50%;
}
.facilitylogos li img
{
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
}

div.box div.overlay
{
    display: none;
}
div.overlay
{
    display: none;
}
div.overlay
{
    width: 320px;
    min-height: 200px;
    background: transparent url( '../../images/fhoverbg.png' ) repeat;
    position: relative;
    top: -100px;
    left: 50px;
    z-index: 1000;
    border: 1px solid #7a7e8d;
    overflow: hidden;
    float: left;
}

div.box:hover div.overlay
{
    display: block;
    min-width: 320px;
    min-height: 200px;
    background: transparent url( '../images/fhoverbg.png' ) repeat;
    position: relative;
    top: -100px;
    left: 50px;
    z-index: 1000;
    border: 1px solid #7a7e8d;
    overflow: hidden;
    float: left;
}
div.box:hover div.overlay label
{
    display: block;
    padding: 0 0 5px 2px;
    cursor: pointer; /*  text-transform: capitalize;*/
    font-weight: bold;
    font-size: 14px;
    text-align: left;
    float: left;
    min-width: 100px;
    color: #000;
}

div.box:hover div.overlay h2
{
    color: #000;
}
div.box:hover div.overlay input[type=submit], .canc
{
    /* Size and position */ /* height: 38px;   position: relative;*/
    float: left; /* Styles */
    box-shadow: inset 0 1px rgba(255,255,255,0.3);
    border-radius: 3px;
    cursor: pointer; /* Font styles */
    font-family: 'Lato' , Calibri, Arial, sans-serif;
    font-size: 14px;
    line-height: 20px; /* Same as height */
    text-align: center;
    font-weight: bold;
}
div.box:hover div.overlay a.canc
{
    margin-left: 1%;
    background: #99CC33; /* Fallback */
    background: -moz-linear-gradient(#99CC33, #7BAD19);
    background: -ms-linear-gradient(#99CC33, #7BAD19);
    background: -o-linear-gradient(#99CC33, #7BAD19);
    background: -webkit-gradient(linear, 0 0, 0 100%, from(#99CC33), to(#7BAD19));
    background: -webkit-linear-gradient(#99CC33, #7BAD19);
    background: linear-gradient(#99CC33, #7BAD19);
    border: 1px solid #99CC33;
    color: #fff;
    text-shadow: 0 1px rgba(0,0,0,0.8);
    padding: 5px 0;
}
.reportschoose
{
    background: #fff;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border: 1px solid #7a7e8d;
    width: 96%;
    float: left;
    margin-left: 2%;
    vertical-align: middle;
    padding: 15px 0;
    margin-bottom: 1%;
}
.reportschoose div
{
    float: left;
    padding: 0 5px;
}
.reportschooseblack
{
    background: #3d3d47;
    width: 100%;
    float: left;
    vertical-align: middle;
    padding: 10px 0;
    min-height: 32px;
    min-width: 100%;
}
.reportschooseblack div
{
    float: left;
    padding: 0 5px;
}
.uppertopreport
{
    background: #48aba6;
    height: 50px;
    width: 100%;
}
.reportdiv
{
    line-height: 30px;
    margin: 0 25px;
}
.reportcenter
{
    display: inline-block;
    text-transform: capitalize;
    padding-right: 2px;
    font-size: 14px;
    font-weight: bold;
    margin: 0;
    line-height: 30px;
    width: 178px;
}
.reportcenter i
{
    margin-right: 10px; /* Gap between icon and text */
    display: inline-block;
    width: 15px;
}
.reportcenterpc
{
    display: inline-block;
    text-transform: capitalize;
    padding-right: 2px;
    font-size: 14px;
    font-weight: bold;
    margin: 10px 0 0 0;
    line-height: 30px;
    width: 190px;
    text-align: left;
}
.reportcenterpc i
{
    margin-right: 10px; /* Gap between icon and text */
    display: inline-block;
    width: 15px;
}
.reportname
{
    display: inline-block;
    padding-right: 2px;
    font-size: 15px;
    font-weight: bold;
    margin: 0;
    line-height: 23px;
    color: #6c6763;
    text-align: left;
}
.reportname i
{
    margin-right: 10px; /* Gap between icon and text */
    display: inline-block;
    width: 15px;
}
.mpheader
{
    display: inline-block;
    text-transform: capitalize;
    color: #6c6763;
    padding-right: 2px;
    font-size: 13px;
    margin: 0;
    line-height: 25px;
    text-align: right;
}
.mpheader i
{
    margin-left: 10px; /* Gap between icon and text */
    display: inline-block;
    width: 15px;
    font-size: 14px;
}
.mpchngfact
{
    display: inline-block;
    text-transform: capitalize;
    color: #6c6763;
    padding-right: 2px;
    font-size: 13px;
    margin: 0 0px;
    line-height: 25px;
    text-align: right;
}
.mpchngfact i
{
    margin-right: 10px; /* Gap between icon and text */
    display: inline-block;
    width: 15px;
    font-size: 14px;
}

.allfacility
{
    display: block;
    padding: 5px 0 5px 2px;
    cursor: pointer; /*  text-transform: capitalize;*/
    font-weight: bold;
    font-size: 14px;
    text-align: center;
    color: #7e7975;
    cursor: default;
}

.cancgo
{
    /* Size and position / / height: 38px;   position: relative;*/
    float: left; /* Styles */
    box-shadow: inset 0 1px rgba(255,255,255,0.3);
    border-radius: 3px;
    cursor: pointer; /* Font styles */
    font-family: 'Lato' , Calibri, Arial, sans-serif;
    font-size: 14px;
    line-height: 29px; /* Same as height */
    text-align: center;
    font-weight: bold;
    margin-left: 1%;
    background: #da1923; /* Fallback */
    background: -moz-linear-gradient(#da1923, #780100);
    background: -ms-linear-gradient(#da1923, #780100);
    background: -o-linear-gradient(#da1923, #780100);
    background: -webkit-gradient(linear, 0 0, 0 100%, from(#da1923), to(#780100));
    background: -webkit-linear-gradient(#da1923, #780100);
    background: linear-gradient(#da1923, #780100);
    border: 1px solid #da1923;
    color: #fff;
    text-shadow: 0 1px rgba(0,0,0,0.8);
    padding: 0 5px;
    width: 45px;
}
.cancgo i
{
    margin-left: 5px;
}
.appresSave
{
    /* Size and position / / height: 38px;   position: relative;*/
    float: left; /* Styles */
    box-shadow: inset 0 1px rgba(255,255,255,0.3);
    border-radius: 3px;
    cursor: pointer; /* Font styles */
    font-family: 'Lato' , Calibri, Arial, sans-serif;
    font-size: 14px;
    line-height: 29px; /* Same as height */
    text-align: center;
    font-weight: bold;
    margin-left: 15px;
    background: #da1923; /* Fallback */
    background: -moz-linear-gradient(#da1923, #780100);
    background: -ms-linear-gradient(#da1923, #780100);
    background: -o-linear-gradient(#da1923, #780100);
    background: -webkit-gradient(linear, 0 0, 0 100%, from(#da1923), to(#780100));
    background: -webkit-linear-gradient(#da1923, #780100);
    background: linear-gradient(#da1923, #780100);
    border: 1px solid #da1923;
    color: #fff;
    text-shadow: 0 1px rgba(0,0,0,0.8);
    padding: 0 5px;
    width: 45px;
    margin-bottom: 15px;
    margin-top: 15px;
}
.appresSave i
{
    margin-left: 5px;
}
.appresBack
{
    /* Size and position / / height: 38px;   position: relative;*/
    float: right; /* Styles */
    box-shadow: inset 0 1px rgba(255,255,255,0.3);
    border-radius: 3px;
    cursor: pointer; /* Font styles */
    font-family: 'Lato' , Calibri, Arial, sans-serif;
    font-size: 14px;
    line-height: 29px; /* Same as height */
    text-align: center;
    font-weight: bold;
    margin-right: 2%;
    background: #da1923; /* Fallback */
    background: -moz-linear-gradient(#da1923, #780100);
    background: -ms-linear-gradient(#da1923, #780100);
    background: -o-linear-gradient(#da1923, #780100);
    background: -webkit-gradient(linear, 0 0, 0 100%, from(#da1923), to(#780100));
    background: -webkit-linear-gradient(#da1923, #780100);
    background: linear-gradient(#da1923, #780100);
    border: 1px solid #da1923;
    color: #fff;
    text-shadow: 0 1px rgba(0,0,0,0.8);
    padding: 0 5px;
    width: 45px;
    margin-bottom: 15px;
}
.appresBack i
{
    margin-left: 5px;
}
.canccompare
{
    /* Size and position / / height: 38px;   position: relative;*/
    float: left; /* Styles */
    box-shadow: inset 0 1px rgba(255,255,255,0.3);
    border-radius: 3px;
    cursor: pointer; /* Font styles */
    font-family: 'Lato' , Calibri, Arial, sans-serif;
    font-size: 14px;
    line-height: 29px; /* Same as height */
    text-align: center;
    font-weight: bold;
    margin-left: 1%;
    background: #da1923; /* Fallback */
    background: -moz-linear-gradient(#da1923, #780100);
    background: -ms-linear-gradient(#da1923, #780100);
    background: -o-linear-gradient(#da1923, #780100);
    background: -webkit-gradient(linear, 0 0, 0 100%, from(#da1923), to(#780100));
    background: -webkit-linear-gradient(#da1923, #780100);
    background: linear-gradient(#da1923, #780100);
    border: 1px solid #da1923;
    color: #fff;
    text-shadow: 0 1px rgba(0,0,0,0.8);
    padding: 0 5px;
    width: auto;
}
.canccompareDisable
{
    /* Size and position / / height: 38px;   position: relative;*/
    float: left; /* Styles */
    box-shadow: inset 0 1px rgba(255,255,255,0.3);
    border-radius: 3px;
    cursor: default; /* Font styles */
    font-family: 'Lato' , Calibri, Arial, sans-serif;
    font-size: 14px;
    line-height: 29px; /* Same as height */
    text-align: center;
    font-weight: bold;
    margin-left: 1%;
    background: #da1923; /* Fallback */
    background: -moz-linear-gradient(#aaaaaa, #999999);
    background: -ms-linear-gradient(#aaaaaa, #999999);
    background: -o-linear-gradient(#aaaaaa, #999999);
    background: -webkit-gradient(linear, 0 0, 0 100%, from(#aaaaaa), to(#999999));
    background: -webkit-linear-gradient(#aaaaaa, #999999);
    background: linear-gradient(#aaaaaa, #999999); /* IE5.5 - IE7 */
    filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=0,StartColorStr=#aaaaaa,EndColorStr=#999999); /* IE8 */
    -ms-filter: "progid:DXImageTransform.Microsoft.Gradient(GradientType=0,StartColorStr=#aaaaaa,EndColorStr=#999999)";
    border: 1px solid #999999;
    color: #fff;
    text-shadow: 0 1px rgba(0,0,0,0.8);
    padding: 0 5px;
    width: auto;
}
.reportdash
{
    /*background: #fff;*/
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border: 1px solid #7a7e8d;
    width: 96%;
    float: left;
    min-height: 100px;
    line-height: 100px;
    margin-left: 2%;
    vertical-align: middle;
    padding-bottom: 5px;
    margin-bottom: 10px;
    padding-top: 5px;
    background: #da1923; /* Fallback     background: -moz-linear-gradient(#f6f6f6, #ffffff);     background: -ms-linear-gradient(#f6f6f6, #ffffff);     background: -o-linear-gradient(#f6f6f6, #ffffff);     background: -webkit-gradient(linear, 0 0, 0 100%, from(#f6f6f6), to(#ffffff));     background: -webkit-linear-gradient(#f6f6f6, #ffffff);     background: linear-gradient(#f6f6f6, #ffffff); */
}
.reportdashin
{
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    background: #ffffff;
    margin: 0 5px;
}
.reportdash div
{
    float: none;
}
.rdbmain
{
    width: 100%;
    float: left;
}
.rdbimg
{
    width: 46.5%;
    border: 1px solid #7a7e8d;
    border-collapse: collapse;
    float: left;
}
#divComapareforSelection
{
    width: auto;
    padding: 4px 10px;
    border: 1px solid #cccccc;
    background: #FCFDFD;
    color: #333333;
    font-size: 14px;
    display: none;
}
.divComapareforSelection
{
    float: left;
    position: absolute;
    margin-left: 0px;
    margin-top: 29px;
    z-index: 100;
}
#divSettings
{
    width: auto;
    padding: 4px 10px;
    border: 1px solid #cccccc;
    background: #FCFDFD;
    color: #333333;
    font-size: 14px;
    display: none;
}
.divSettings
{
    box-shadow: 0 2px 2px 1px #CCCCCC;
    float: left;
    margin-top: 11px;
    position: absolute;
    right: 20px;
    z-index: 100;
}
#divSettings:AFTER
{
    content: ' ';
    position: absolute;
    width: 0;
    height: 0;
    left: 76px;
    top: -20px;
    border: 10px solid;
    border-color: transparent transparent #f6f2f6 transparent;
}

#divSettingscp
{
    width: auto;
    padding: 4px 10px;
    border: 1px solid #cccccc;
    background: #FCFDFD;
    color: #333333;
    font-size: 14px;
    display: none;
    min-width: 115px;
}
.divSettingscp
{
    box-shadow: 0 2px 2px 1px #CCCCCC;
    float: left;
    margin-top: 10px;
    position: absolute;
    right: 16px;
    z-index: 100;
    text-align: left;
}
#divSettingscp:AFTER
{
    content: ' ';
    position: absolute;
    width: 0;
    height: 0;
    left: 118px;
    top: -20px;
    border: 10px solid;
    border-color: transparent transparent #cccccc transparent;
}
.divSettingscp ul
{
    list-style: none outside none;
    margin: 0;
    padding: 7px 0;
    text-decoration: none;
}
#divtreeCarrier, #divtreeProvider, #divtreeviewOverview
{
    width: auto;
    padding: 4px 10px;
    border: 1px solid #cccccc;
    background: #FCFDFD;
    color: #333333;
    font-size: 14px;
    display: none;
}
.divtreeCarrier
{
    float: left;
    position: absolute;
    margin-left: 6px;
    margin-top: 31px;
    z-index: 100;
}
#divPCandRC
{
    width: auto;
    padding: 4px 10px;
    border: 1px solid #cccccc;
    background: #FCFDFD;
    color: #333333;
    font-size: 14px;
    display: none;
    margin-left: -12px;
    margin-top: 15px;
    text-align: left;
}
.divPCandRC
{
    box-shadow: 0 2px 2px 1px #CCCCCC;
    float: right;
    margin-top: 11px;
    position: absolute;
    left: 20px;
    z-index: 100;
}
#divPCandRC:AFTER
{
    content: ' ';
    position: absolute;
    width: 0;
    height: 0;
    right: 138px;
    top: -20px;
    border: 10px solid;
    border-color: transparent transparent #f6f2f6 transparent;
}
.griddivw div
{
    width: 100%;
    padding: 0 2px;
}
.MainTable_Ex
{
    border-collapse: collapse;
    border-width: 0;
    color: #201F35;
    font: 11px Verdana;
    text-align: left;
    width: 100%;
    border: 1px solid #bfc0c9;
}
.MainTable_Ex th
{
    color: #201f35;
    background-color: #f5f5f6; /*border: 1px solid #bfc0c9;*/
    border: 0px none transparent !important;
    font-weight: normal;
    text-align: center;
    height: 32px;
    padding: 0; /*border-right: 1px solid #f5f5f6;*/
}
/*.borderright 
{
    border-right: 1px solid #bfc0c9 !important;
}
  */
.MainTable_Ex tr
{
    background-color: White;
}
.MainTable_Ex td
{
    border-color: #d9dae0;
    border-width: 1px;
    border-top-style: solid;
    border-left-style: solid;
    border-bottom-style: none;
    border-right-style: none;
    padding: 3px;
    word-warp: break-word;
}

.divloading
{
    left: 46%;
    box-shadow: 0 1px 2px #aaa;
    -moz-box-shadow: 0 1px 2px #aaa;
    -webkit-box-shadow: 0 1px 2px #aaa;
    top: 46%;
    z-index: 30000;
    position: Fixed;
    border: 2px solid #da1923;
}

.divrpset
{
    float: right !important;
}
/*.newdashsections
{
   
    position: relative;
    background: #f2f2f2;
    border-radius: 4px;
    color: #7e7975;
    box-shadow: 0 2px 2px rgba(0,0,0,0.2), 0 1px 5px rgba(0,0,0,0.2), 0 0 0 4px rgba(0,0,0,0.4);
    behavior: url(PIE-1.0.0/PIE.htc);
    margin: 8px;
    padding: 3px !important;
}*/
.newdashsections
{
    -moz-box-shadow: 1px 1px 3px #7e7975;
    -webkit-box-shadow: 1px 1px 3px #7e7975;
    box-shadow: 1px 1px 3px #7e7975;
    margin: 5px;
    padding: 0px !important;
    position: relative;
    background: #ffffff;
    border: 1px solid #7e7975;
}

.MainTable_ExReportAssignemnt
{
    border-collapse: collapse;
    border-width: 0;
    color: #201F35;
    font: 11px Verdana;
    text-align: left;
    width: 100%;
    border: 1px solid #bfc0c9;
}
.MainTable_ExReportAssignemnt th
{
    color: #201f35;
    background-color: #f5f5f6; /*border: 1px solid #bfc0c9;*/
    border: 0px none transparent !important;
    font-weight: normal;
    text-align: center;
    height: 32px;
    padding: 0; /*border-right: 1px solid #f5f5f6;*/
}
/*.borderright 
{
    border-right: 1px solid #bfc0c9 !important;
}
  */
.MainTable_ExReportAssignemnt tr
{
    background-color: White;
}
.MainTable_ExReportAssignemnt td
{
    border-color: #d9dae0;
    border-width: 1px;
    border-top-style: solid;
    border-left-style: solid;
    border-bottom-style: none;
    border-right-style: none;
    padding: 3px 0px;
    word-warp: break-word;
}


/********************New Dashboard*******************/

.newreportdash
{
    float: left;
    width: 85%;
}
.newreportdashin
{
    background: #e1e1e1;
    margin: 0;
}
.newreportdash div
{
    float: left;
}
.grayrc
{
    float: left; /*width:14%;*/
    background-color: #525562; /*min-height: 1130px;*/
    max-width: 220px;
}
.graysp
{
    background: transparent url('../../images/graysp.png') repeat-x;
    height: 2px;
    margin: 0;
}
.grayrctext
{
    color: #FFFFFF;
    font-size: 12px;
    font-weight: bold;
    text-align: center;
}
.grayrctext p
{
    margin: 0;
    padding: 8px 0;
}

.grayrctext a
{
    color: #ffffff;
    display: block;
    margin-top: 0px;
    position: relative;
    letter-spacing: 1px;
}

.grayrctext p img.active
{
    background: #fe5f65;
    border: 0 none;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    margin-top: -10px;
}
.grayrctext p.active a
{
    color: #fe5f65; /*  margin-top: 10px;*/
}
.grayrctext p:hover
{
    background: #5e616f;
    border: 0 none;
}
.grayrctext1
{
    color: #FFFFFF;
    font-size: 12px;
    font-weight: bold;
    text-align: center;
}
.grayrctext1 p
{
    margin: 0;
    padding: 8px 0;
}

.grayrctext1 a
{
    color: #ffffff;
    display: block;
    margin-top: 0px;
    position: relative;
}

.grayrctext1 p img.active
{
    background: #fe5f65;
    border: 0 none;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    margin-top: -10px;
}
.grayrctext1 p.active a
{
    color: #fe5f65; /*margin-top: 10px;*/
}
.grayrctext1 p:hover
{
    background: #5e616f;
    border: 0 none;
}

.grayrctext ul li:hover
{
    background: #5e616f;
    border: 0 none;
}

.grayrctext ul li.active a
{
    color: #fe5f65; /*margin-top: 10px;*/
}

.dashandreport
{
    background: #e1e1e1;
    display: inline-block;
    min-width: 100%;
}
/**************popupreportcenterStart**********************/

#popup
{
    top: 101px;
    width: auto;
    padding: 0px;
    background: transparent;
    display: block;
    position: absolute;
    z-index: 1;
}
#popup p
{
    /*margin-left: 15px; 	text-shadow: 0 1px 1px rgba(255,255,255,0.8); 	font-size: 13pt; 	color: #34332d;*/
}
a.hide
{
    color: #34332d;
    text-decoration: none;
    font-family: 'ArrowFont';
    -webkit-transform: rotate(-90deg);
    font-size: 30px;
    position: absolute;
    text-shadow: -1px 0px 1px rgba(255,255,255,0.8);
    margin-top: -10px;
}
a.hide:hover
{
    color: #c44f21;
}
span.showpop
{
    display: block;
    position: fixed;
    -webkit-transform: rotate(90deg);
    margin-top: 0px;
}
a.showpoplink
{
    background: #dde1c1;
    padding: 5px 10px 5px 40px;
    font-family: 'ArrowFont';
    font-size: 30px;
    margin-left: 5px;
    border: 4px solid #c44f21;
    text-decoration: none;
    border-radius: 10px;
    -webkit-background-clip: padding-box;
    color: #34332d;
}
a.showpoplink:hover
{
    color: #c44f21;
}
#lihr hr, .lihr hr
{
    background: none repeat scroll 0 0 #888888;
    border: 0 none;
    height: 0px;
}
#mpusername
{
    display: inline-table;
}
#divYear .jqTransformSelectWrapper
{
    margin-left: -5px !important;
}
/**************popupreportcenterEnd**********************/

/* Mayank*/
div.overlay h2
{
    color: #000;
}
div.overlay label
{
    display: block;
    padding: 0 0 5px 2px;
    cursor: pointer; /*  text-transform: capitalize;*/
    font-weight: bold;
    font-size: 14px;
    text-align: left;
    float: left;
    min-width: 100px;
    color: #000;
}
.lnkDeshboard
{
    font-size: 10pt;
}




/******************************************Help/feedback***********************************/

.helpfeedback
{
    background: #940006;
    border: 0 none;
    border-radius: 5px 5px 0 0;
    -webkit-border-radius: 5px 5px 0 0;
    -moz-border-radius: 5px 5px 0 0;
    width: 230px;
    height: 26px;
    color: #ffffff;
    padding: 4px 10px;
    font-size: 12px;
    font-weight: bold;
    line-height: 26px;
}

.topup, .topuplogin
{
    position: absolute;
    z-index: 99999;
    width: 250px;
    border: 2px solid gray;
    display: block;
    border-radius: 2px 2px;
}

.contactus
{
    bottom: 0;
    height: 34px;
    position: fixed;
    right: 95px;
    width: 250px;
    margin-top: 768px;
    z-index: 9999;
}
.showmain div.showcontact
{
    width: 240px;
    float: left;
    margin: 0 10px 0px 0;
    padding: 15px 5px;
    background-color: #EFECEC;
}
.showcontactr
{
    width: 230px;
    float: left;
    margin: 4px 5px 0 0;
}
.showcontactr label
{
    width: 85px;
    float: left;
    margin: 5px 5px 0 0;
    text-align: right;
    color: #585a5b;
    font-size: 11px;
    font-weight: normal;
    line-height: 20px;
    height: 26px;
}
.showcontactr input[type=text]
{
    width: 128px;
    border: 1px solid #bbb8b8;
    padding: 0 5px;
    font-size: 11px;
    font-weight: normal;
    color: #808080;
    background: #FFF;
    line-height: 26px;
    height: 26px;
}
.showcontactr input:focus[type=text]
{
    width: 128px;
    border: 1px solid #940006;
    color: #000;
    padding: 0 5px;
    background: #FFF;
    line-height: 26px;
    height: 26px;
}
.showcontactr select
{
    width: 140px;
    border: 1px solid #bbb8b8;
    padding: 5px 5px;
    font-size: 11px;
    font-weight: normal;
    color: #666;
    background: #efecec;
    line-height: 26px;
    height: 26px;
}
.showcontactr select:focus
{
    width: 140px;
    border: 1px solid #940006;
    padding: 5px 5px;
    font-size: 11px;
    font-weight: normal;
    color: #000;
    background: whitesmoke;
    line-height: 26px;
    height: 26px;
}
.showcontactr textarea
{
    width: 128px;
    border: 1px solid #bbb8b8;
    padding: 0 4px;
    font-size: 11px;
    font-weight: normal;
    color: #808080;
    background: #FFF;
    height: 56px;
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 4px;
}
.showcontactr textarea:focus
{
    width: 128px;
    border: 1px solid #940006;
    padding: 0 4px;
    font-size: 11px;
    font-weight: normal;
    color: #000;
    background: #FFF;
    line-height: 24px;
    height: 60px;
    font-family: Arial, Helvetica, sans-serif;
}

.showcontactr input[type=button]
{
    background: url(images/submiti1.png) repeat-x center top;
    padding: 0 5px;
    font-size: 12px;
    font-family: Century Gothic;
    height: 26px;
    line-height: 26px;
    border: 1px solid #1287b2;
    font-weight: bold;
    color: #fff;
    cursor: pointer;
    margin: 0 5px 0 0;
}
.showcontactr input:hover[type=button]
{
    /*background: url(images/submiti.png) repeat-x center top;*/
    background: linear-gradient(#da1923, #780100);
    padding: 0 5px;
    font-size: 12px;
    font-family: Century Gothic;
    height: 26px;
    line-height: 26px;
    border: 1px solid #1287b2;
    font-weight: bold;
    color: #fff;
    cursor: pointer;
}
.showcontactr input[type=button]
{
    /*background: url(images/reseti.png) repeat-x center top;*/
    background: linear-gradient(#da1923, #780100);
    padding: 0 5px;
    font-size: 12px;
    font-family: Century Gothic;
    height: 26px;
    line-height: 26px;
    border: 1px solid #a4a2a1;
    font-weight: bold;
    color: #fff;
    cursor: pointer;
}
.showcontactr input:hover[type=button]
{
    /*background: url(images/reseti1.png) repeat-x center top;*/
    background: #da1923;
    padding: 0 5px;
    font-size: 12px;
    font-family: Century Gothic;
    height: 26px;
    line-height: 26px;
    border: 1px solid #a4a2a1;
    font-weight: bold;
    color: #fff;
    cursor: pointer;
}
input[type=button]
{
    -webkit-appearance: none;
}

/************  ************************/




@media (min-width:651px) and (max-width:800px)
{
    .marslogo
    {
        /*background: transparent url(    '../../jefbar/logo_amb.jpg' ) no-repeat;*/
        width: 175px;
        height: 60px;
    }
    .left
    {
        float: left;
        margin-left: 8px;
        padding-left: 10px;
    }
    .right
    {
        float: right;
        margin-right: 8px;
        padding-right: 10px;
        text-align: right;
    }
    .reportschooseblack div
    {
        padding: 0 4px;
    }
    #divYear .jqTransformSelectWrapper
    {
        margin-left: -4px !important;
    }
    .divSettingscp
    {
        box-shadow: 0 2px 2px 1px #CCCCCC;
        float: left;
        margin-top: 3px;
        position: absolute;
        right: 14px;
        z-index: 100;
        text-align: left;
    }
    .divSettings
    {
        box-shadow: 0 2px 2px 1px #CCCCCC;
        float: left;
        margin-top: 11px;
        position: absolute;
        right: 13px;
        z-index: 100;
    }

}

@media (min-width:481px) and (max-width:650px)
{
    .marslogo
    {
        /*background: transparent url(    '../../jefbar/logo_amb.jpg' ) no-repeat;*/
        width: 140px;
        height: 50px;
    }
    .left
    {
        float: left;
        margin-left: 8px;
        padding-left: 10px;
    }
    .right
    {
        float: right;
        margin-right: 8px;
        padding-right: 10px;
        text-align: right;
    }
    .reportschooseblack div
    {
        padding: 0 4px;
    }
    #divYear .jqTransformSelectWrapper
    {
        margin-left: -4px !important;
    }
    .divSettingscp
    {
        box-shadow: 0 2px 2px 1px #CCCCCC;
        float: left;
        margin-top: 3px;
        position: absolute;
        right: 14px;
        z-index: 100;
        text-align: left;
    }
    .divSettings
    {
        box-shadow: 0 2px 2px 1px #CCCCCC;
        float: left;
        margin-top: 11px;
        position: absolute;
        right: 13px;
        z-index: 100;
    }

    .facility
    {
        /* Size and position */
        width: 87%;
        margin: 2% 2%;
        padding: 8px;
        position: relative; /* Styles */
        background: #e6e6e6;
        border-radius: 4px;
        color: #7e7975;
        box-shadow: 0 2px 2px rgba(0,0,0,0.2), 0 1px 5px rgba(0,0,0,0.2), 0 0 0 9px rgba(0,0,0,0.4);
        behavior: url(PIE-1.0.0/PIE.htc);
        min-height: 80%;
    }
    .mpheader
    {
        display: inline-block;
        text-transform: capitalize;
        color: #6c6763;
        padding-right: 2px;
        font-size: 13px;
        margin: 0;
        line-height: 25px;
        text-align: right;
    }

    #lfrom
    {
        margin: 3% auto 2% auto;
        position: relative;
        width: 100%;
    }
    .facility h1
    {
        font-size: 18px;
        font-weight: bold;
        color: #bdb5aa;
        padding-bottom: 8px;
        border-bottom: 1px solid #d7d7d7;
        text-shadow: 0 2px 0 rgba(255,255,255,0.8);
        box-shadow: 0 1px 0 rgba(255,255,255,0.8);
        text-align: center;
        height: 25px !important;
    }
    #tabs-container
    {
        clear: both;
        font-size: 11px;
        height: 60px;
        margin: 0 auto;
        padding: 10px 0;
        background: #fff;
        min-width: 100%;
    }
    #ui-datepicker-div
    {
        top: 159px !important;
    }
    #divddlBranch
    {
        margin-right: 7px;
    }
    .tree div
    {
        height: 28px;
        line-height: 28px;
        font-size: 12px;
    }
}





@media (max-width:499px)
{
    .marslogo
    {
        /* background: transparent url(    '../../jefbar/logo_amb.jpg' ) no-repeat;*/
        width: 150px;
        height: 50px;
    }
    .left
    {
        float: left;
        margin-left: 3px;
        padding-left: 10px;
    }
    .right
    {
        float: right;
        margin-right: 3px;
        padding-right: 10px;
        text-align: right;
    }

    .newdashsections
    {
        -moz-box-shadow: 1px 1px 3px #7e7975;
        -webkit-box-shadow: 1px 1px 3px #7e7975;
        box-shadow: 1px 1px 3px #7e7975;
        margin: 3px;
        padding: 0px !important;
        position: relative;
        background: #ffffff;
        border: 1px solid #7e7975;
    }

    .reportcenter
    {
        display: inline-block;
        text-transform: capitalize;
        padding-right: 2px;
        font-size: 13px;
        font-weight: bold;
        line-height: 30px;
        width: auto;
        cursor: pointer;
        background: #3D3D47;
        color: #000;
        margin: 5px 10px 0 14px;
    }
    .reportcenter i
    {
        margin-right: 8px; /* Gap between icon and text */
        display: inline-block;
        width: 12px;
    }
    #tabs-container
    {
        clear: both;
        font-size: 11px;
        height: 50px;
        margin: 0 auto;
        padding: 5px 0;
        background: #fff;
        min-width: 100%;
    }
    .mpchngfact
    {
        display: inline-block;
        text-transform: capitalize;
        color: #6c6763;
        padding-right: 2px;
        font-size: 13px;
        margin: 0 0px;
        line-height: 25px;
        text-align: right;
    }
    .mpchngfact i
    {
        margin-right: 10px !important; /* Gap between icon and text */
        display: inline-block;
        width: 12px;
        font-size: 24px;
    }
    .icon-cog1, .icon-cog
    {
        font-size: 24px !important;
    }
    .reportschooseblack div
    {
        padding: 0 3px;
    }
    #divYear .jqTransformSelectWrapper
    {
        margin-left: -3px !important;
    }
    .divloading
    {
        left: 42%;
        box-shadow: 0 1px 2px #aaa;
        -moz-box-shadow: 0 1px 2px #aaa;
        -webkit-box-shadow: 0 1px 2px #aaa;
        top: 46%;
        z-index: 30000;
        position: Fixed;
        border: 2px solid #da1923;
    }
    .reportschoose
    {
        background: #fff;
        border-radius: 4px;
        -moz-border-radius: 4px;
        -webkit-border-radius: 4px;
        border: 1px solid #7a7e8d;
        width: 96%;
        float: left;
        margin-left: 2%;
        vertical-align: middle;
        padding: 5px 0;
        margin-bottom: 1%;
    }
    .reportschoose div
    {
        float: left;
        padding: 0 3px;
    }
    #nav-container
    {
        height: 5px;
    }
    .divSettingscp
    {
        right: 5px;
    }
    .divSettings
    {
        right: 8px;
    }
    .tree div
    {
        height: 28px;
        line-height: 28px;
        font-size: 11px;
        margin-left: -8px;
    }
    .divComapareforSelection li ul li
    {
        margin-left: -4px;
    }
}


@media only screen and (max-width:396px)
{


    .showmain div.showcontact
    {
        width: 96%;
        float: left;
        margin: 0 10px 0px 0;
        padding: 15px 6px;
        background-color: #EFECEC;
    }
    .topup, .topuplogin
    {
        width: 97%;
    }
    .showcontactr
    {
        width: 90%;
    }

    .marslogo
    {
        /* background: transparent url(    '../../jefbar/logo_amb.jpg' ) no-repeat;*/
        width: 100px;
        height: 35px;
    }
    .left
    {
        float: left;
        margin-left: 3px;
        padding-left: 5px;
    }
    .right
    {
        float: right;
        margin-right: 3px;
        padding-right: 5px;
        text-align: right;
    }
    .reportschooseblack div
    {
        padding: 0 2px;
    }
    #divYear .jqTransformSelectWrapper
    {
        margin-left: -3px !important;
    }
    .mpchngfact
    {
        /* margin-top:2px !important;*/
    }
    .mpchngfact .icon-cog
    {
        font-size: 22px;
    }


    .reportschooseblack
    {
        background: #3d3d47;
        width: 100%;
        float: left;
        vertical-align: middle;
        padding: 8px 0;
        min-height: 27px;
        min-width: 100%;
    }
    .mpchngfact
    {
        display: inline-block;
        text-transform: capitalize;
        color: #6c6763;
        padding-right: 2px;
        font-size: 13px;
        margin: 0 0px;
        line-height: 15px;
        text-align: right;
    }
    .mpchngfact i
    {
        font-size: 19px;
    }
    .mpheader
    {
        display: inline-block;
        text-transform: capitalize;
        color: #6c6763;
        padding-right: 0px;
        font-size: 13px;
        margin: 0 0;
        line-height: 22px;
        text-align: right;
        vertical-align: top;
    }
    #tabs-container
    {
        clear: both;
        font-size: 11px;
        height: 40px;
        margin: 0 auto;
        padding: 5px 0;
        background: #fff;
        min-width: 100%;
    }
    #divSettingscp:AFTER
    {
        content: ' ';
        position: absolute;
        width: 0;
        height: 0;
        left: 110px;
        top: -17px;
        border: 8px solid;
        border-color: transparent transparent #cccccc transparent;
    }

    .divSettingscp
    {
        box-shadow: 0 2px 2px 1px #CCCCCC;
        float: left;
        margin-top: 8px;
        position: absolute;
        right: 3px;
        z-index: 100;
        text-align: left;
    }
    #divSettingscp
    {
        width: auto;
        padding: 0px 7px;
        border: 1px solid #cccccc;
        background: #FCFDFD;
        color: #333333;
        font-size: 13px;
        display: none;
        min-width: 111px;
    }
    #divSettings
    {
        width: auto;
        padding: 4px 4px;
        border: 1px solid #cccccc;
        background: #FCFDFD;
        color: #333333;
        font-size: 13px;
        display: none;
    }
    #divSettings:AFTER
    {
        left: 58px;
    }
    .divSettings
    {
        box-shadow: 0 2px 2px 1px #CCCCCC;
        float: left;
        margin-top: 11px;
        position: absolute;
        right: 7px;
        z-index: 100;
    }
    .canccompare
    {
        font-size: 13px;
        line-height: 25px;
    }
    .cancgo
    {
        font-size: 13px;
        line-height: 25px;
        padding: 0 5px;
        width: 38px;
    }
    .reportcenter
    {
        display: inline-block;
        text-transform: capitalize; /* padding-right: 2px;*/
        font-size: 11px !important;
        font-weight: bold;
        margin: 0;
        line-height: 25px;
        width: auto;
        cursor: pointer;
        background: #3D3D47;
        color: #000;
        text-align: left;
        padding-left: 5px;
        margin: 5px;
        margin-top: 8px;
    }
    .grayrctext
    {
        color: #FFFFFF;
        font-size: 10px;
        font-weight: bold;
        text-align: center;
    }
    .grayrctext a
    {
        padding: 5px 0;
    }
    .grayrc
    {
        max-width: 200px;
    }
    #divreportcentermain
    {
        margin-top: 3px;
        width: 30%;
    }
    .reportname p
    {
        margin: 0 3px 0 0;
    }
    .footer
    {
        background: transparent url(   "../../images/footerbg.jpg" ) repeat-x;
        bottom: 0;
        color: #4D4F53;
        height: 49px;
        position: fixed;
        vertical-align: middle;
        width: 100%;
        min-width: 98%;
        z-index: 1;
    }
    .reportschoose
    {
        background: #fff;
        border-radius: 4px;
        -moz-border-radius: 4px;
        -webkit-border-radius: 4px;
        border: 1px solid #7a7e8d;
        width: 96%;
        float: left;
        margin-left: 2%;
        vertical-align: middle;
        padding: 5px 0;
        margin-bottom: 1%;
    }
    .reportschoose div
    {
        float: left;
        padding: 0 3px;
    }



}



@media (max-width:250px)
{
    .marslogo
    {
        /* background: transparent url(    '../../jefbar/logo_amb.jpg' ) no-repeat;*/
        width: 100px;
        height: 35px;
    }
    .left
    {
        float: left;
        margin-left: 3px;
        padding-left: 5px;
    }
    .right
    {
        float: right;
        margin-right: 3px;
        padding-right: 5px;
        text-align: right;
    }
    .reportschooseblack div
    {
        padding: 0 2px;
    }
    #divYear .jqTransformSelectWrapper
    {
        margin-left: -2px !important;
    }
}

/***************************  Report Page Style  **************************************/
#lfrom
{
    margin: 0;
}
body
{
    font-size: 62.5%; /*min-width: 1349px;*/
    background: #e1e1e1;
}
#ddlPeriod
{
    width: 196px;
    height: 1.1em;
    display: block;
}
.Reportdisabled
{
    color: Gray !important;
}

.dxpgColumnFieldValue_DevEx
{
    background: none repeat scroll 0 0 #99CC33 !important;
    color: white !important;
    font-weight: 900 !important;
}

.dxpgRowFieldValue_DevEx
{
    border-bottom-color: #D9DAE0 !important;
    border-top-color: #D9DAE0 !important;
}

.reportcentermain
{
    /*float: none !important;*/
    width: 90%;
}
.legendfont
{
    font-family: Trebuchet MS;
    font-size: 13px;
}
.tdfont
{
    font-family: Trebuchet MS;
}
.tdsummerytext
{
    padding-left: 0px;
    padding-top: 0px;
}
.tdsummeryhead
{
    width: 100%;
    border-bottom: 1px solid #d7d7d7;
    box-shadow: 0 1px 0 rgba(255,255,255,0.8);
    padding-top: 6px;
}
.tdsummeryhead span
{
    font-size: 13px;
    font-weight: bold;
    color: #bdb5aa;
    text-shadow: 0 2px 0 rgba(255,255,255,0.8);
    text-align: left;
    width: 100%;
}
#DemoArea br
{
    display: none !important;
}
.tableright
{
    width: 85%;
    margin-left: 5px;
    float: left;
}
.gridfs
{
    display: block;
}
#reportschooseblackin
{
    width: 98%;
}
#footerin
{
    width: 99%;
}
.dashhighlighttext
{
    font-weight: normal;
    font-size: 32px;
    color: #7ba414;
}
.fsgrid
{
    width: 100%;
    min-width: 100%;
}
.smallchart
{
    width: 48.40%;
    height: 300px;
    margin-left: 5px;
    float: left;
    background-color: White;
    padding: 10px;
}
.highlightbox
{
    height: 100px;
    margin-left: 5px;
    margin-right: 5px;
    vertical-align: top;
    min-width: 170px;
    float: left;
    width: 24%;
}
#divdatascroll
{
    width: 84%;
    overflow: hidden;
    position: relative;
    float: left;
}
.higlightTitle
{
    color: #868686;
    font-family: trebuchet ms;
    font-size: 17px;
    font-weight: bold;
}
#reportname
{
    font-size: 30px;
}
.jqDropdown, .jqTransformInputWrapper, .jqTransformSelectWrapper
{
    width: 190px !important;
}


.fromtodate
{
    float: left;
    width: 200px;
    margin-right: 25px;
}
.chartgridTitle
{
    min-height: 30px;
    width: 100%;
    color: #868686;
    font-family: trebuchet ms;
    font-size: 17px;
    font-weight: bold;
    text-align: center;
}

.ui-daterangepickercontain
{
    /* top: 160px !important;*/
    margin-left: -5px;
}
.divcharts
{
    margin-left: 5px;
    width: 98%;
}
.popupbottom
{
    width: 100%;
    margin: 0 auto;
    border-top: 1px solid #000;
    background-color: #525562;
}
.tablehead
{
    width: 100%;
    line-height: 30px;
    height: 30px;
    margin: 0 auto;
    font-size: 14px;
    font-weight: bold;
    background-color: #525562;
    color: #fff;
    text-transform: capitalize;
}
.imgPopupClose
{
    width: 22px;
    cursor: pointer;
    height: 16px;
}
.tab
{
    width: 50px;
    height: 20px;
    background-color: Silver;
    color: Black;
    float: left;
    border: 0 none;
    border-radius: 5px 5px 0 0;
    -webkit-border-radius: 5px 5px 0 0;
    line-height: 20px;
    text-align: center;
    font-size: 10pt;
    font-weight: bold;
    cursor: pointer;
}
.activetab
{
    background-color: Maroon;
    color: White;
}
.locationchart
{
    width: 50%;
    height: 250px;
    float: left;
    background-color: White;
}
.connection
{
    display: none;
    position: absolute;
    top: 0;
    z-index: 1000;
    background: #FFD;
    border: 1px solid yellow;
    height: 40px;
    line-height: 40px;
    left: 0.5%;
    padding: 5px 0;
    font-family: trebuchet ms;
    width: 99%;
    text-align: center;
}


@media (min-width:1930px) and (max-width:2600px)
{
    .marginTable
    {
        margin: 0 4em;
    }
    .smallchart
    {
        width: 48.4%;
        height: 300px;
        margin-left: 5px;
        float: left;
        background-color: White;
        padding: 10px;
    }
    .highlightbox
    {
        height: 100px;
        margin-left: 5px;
        margin-right: 5px;
        vertical-align: top;
        min-width: 170px;
        float: left;
        width: 24%;
    }
}
@media (min-width:1776px)
{
    .dashhighlighttext
    {
        font-weight: normal;
        font-size: 32px;
        color: #7ba414;
    }
    .smallchart
    {
        width: 48.4%;
        height: 300px;
        margin-left: 5px;
        float: left;
        background-color: White;
        padding: 10px;
    }
    .highlightbox
    {
        height: 100px;
        margin-left: 5px;
        margin-right: 5px;
        vertical-align: top;
        min-width: 170px;
        float: left;
        width: 24%;
    }

}
@media (min-width:1398px) and (max-width:1775px)
{
    .dashhighlighttext
    {
        font-weight: normal;
        font-size: 32px;
        color: #7ba414;
    }
    .smallchart
    {
        width: 48.4%;
        height: 300px;
        margin-left: 5px;
        float: left;
        background-color: White;
        padding: 10px;
    }
    .highlightbox
    {
        height: 100px;
        margin-left: 5px;
        margin-right: 5px;
        vertical-align: top;
        min-width: 170px;
        float: left;
        width: 24%;
    }

}
@media (min-width:1281px) and (max-width:1397px)
{
    .dashhighlighttext
    {
        font-weight: normal;
        font-size: 32px;
        color: #7ba414;
    }
    /*   .grayrc
                {
                    max-width: 220px;
                }*/
    .smallchart
    {
        width: 48.4%;
        height: 300px;
        margin-left: 5px;
        float: left;
        background-color: White;
        padding: 10px;
    }
    .highlightbox
    {
        height: 100px;
        margin-left: 5px;
        margin-right: 5px;
        vertical-align: top;
        min-width: 150px;
        float: left;
        width: 24%;
    }
    .reportcentermain
    {
        /*float: none !important;*/
        width: 93%;
    }

}
@media (min-width:1025px) and (max-width:1280px)
{
    .dashhighlighttext
    {
        font-weight: normal;
        font-size: 32px;
        color: #7ba414;
    }
    /*  .grayrc
                {
                    max-width: 220px;
                }*/
    .smallchart
    {
        width: 48.4%;
        height: 300px;
        margin-left: 5px;
        float: left;
        background-color: White;
        padding: 10px;
    }
    .highlightbox
    {
        height: 100px;
        margin-left: 5px;
        margin-right: 5px;
        vertical-align: top;
        min-width: 150px;
        float: left;
        width: 23.5%;
    }

}
@media (min-width:800px) and (max-width:1024px)
{
    .dashhighlighttext
    {
        font-weight: normal;
        font-size: 22px;
        color: #7ba414;
    }
    /*   .grayrc
                {
                    max-width: 177px;
                }*/
    .smallchart
    {
        width: 98%;
        height: 300px;
        margin-left: 5px;
        float: left;
        background-color: White;
        padding: 10px;
    }
    .highlightbox
    {
        height: 100px;
        margin-left: 5px;
        margin-right: 5px;
        vertical-align: top;
        min-width: 150px;
        float: left;
        width: 23%;
    }
    .reportcentermain
    {
        /*float: none !important;*/
        width: 93%;
    }

    #divfilterbtn
    {
        margin-left: 100px;
    }
}

@media (min-width:651px) and (max-width:799px)
{
    .dashhighlighttext
    {
        font-weight: normal;
        font-size: 22px;
        color: #7ba414;
    }
    /*   .grayrc
                {
                    max-width: 177px;
                }*/
    .smallchart
    {
        width: 98%;
        height: 300px;
        margin-left: 5px;
        float: left;
        background-color: White;
        padding: 10px;
    }
    .highlightbox
    {
        height: 100px;
        margin-left: 3px;
        margin-right: 3px;
        vertical-align: top;
        min-width: 150px;
        float: left;
        width: 48%;
    }
    .higlightTitle
    {
        color: #868686;
        font-family: trebuchet ms;
        font-size: 14px;
        font-weight: bold;
    }
    .reportcentermain
    {
        /*float: none !important;*/
        width: 93%;
    }
    .fromtodate
    {
        float: left;
        width: 175px;
        margin-right: 0px !important;
    }
    #divFromToDates
    {
        margin-left: -20px;
    }
    .fromtodate .jqDropdown, .fromtodate .jqTransformInputWrapper
    {
        width: 150px !important;
    }
    .ui-daterangepicker .ranges
    {
        position: absolute !important;
        left: 96%;
    }

    #divfilterbtn
    {
        margin-left: 100px;
    }

}

@media (min-width:481px) and (max-width:650px)
{

    .divloading img
    {
        width: 48px;
    }
    .dashhighlighttext
    {
        font-weight: normal;
        font-size: 16px;
        color: #7ba414;
    }
    .smallchart
    {
        width: 98%;
        height: 300px;
        margin-left: 5px;
        float: left;
        background-color: White;
        padding: 10px;
    }
    .highlightbox
    {
        height: 100px;
        margin-left: 3px;
        margin-right: 3px;
        vertical-align: top;
        min-width: 150px;
        float: left;
        width: 48.5%;
    }
    #divdatascroll
    {
        width: 99.5%;
        overflow: hidden;
        position: relative;
        float: left;
    }
    .grayrc
    {
        display: none;
    }
    .higlightTitle
    {
        color: #868686;
        font-family: trebuchet ms;
        font-size: 14px;
        font-weight: bold;
    }
    .reportcentermain
    {
        /*float: none !important;*/
        width: 94%;
        margin-left: -5px;
        margin-right: -20px;
    }
    #reportname
    {
        font-size: 24px;
    }
    .reportname
    {
        font-size: 13px;
    }
    #divDate, #divDateRange, #divMonth, #divYear
    {
        width: 200px !important;
        margin-left: 2px;
    }
    .jqDropdown, .jqTransformInputWrapper, .jqTransformSelectWrapper
    {
        width: 200px !important;
        margin-left: -1px !important;
        margin-right: 2px !important;
    }
    /*  .newreportdashin .jqDropdown, .newreportdashin .jqTransformInputWrapper, .newreportdashin .jqTransformSelectWrapper
                {
                    width: 212px !important;
                }ddlFilter*/



    .ddlFilter .jqDropdown, .ddlFilter .jqTransformInputWrapper, .ddlFilter .jqTransformSelectWrapper, .ddlFilter .jqTransformInputInner
    {
        width: 200px !important;
        margin-left: -4px !important;
        margin-right: 2px !important;
    }
    .ddlFilter #divGobtn i
    {
        font-size: 16px !important;
    }

    .fromtodate .jqDropdown, .fromtodate .jqTransformInputWrapper
    {
        width: 150px !important;
    }
    .reportcenter
    {
        cursor: pointer; /* background: #fff;*/
        color: #000;
        width: 55px;
        font-size: 13px;
        margin-top: 5px;
    }
    /*#txtDate, #txtMonth
                {
                    width: 180px !important;
                }*/

    .fromtodate
    {
        float: left;
        width: 150px;
        margin-right: 15px !important;
    }
    .chartgridTitle
    {
        min-height: 30px;
        width: 100%;
        color: #868686;
        font-family: trebuchet ms;
        font-size: 15px;
        font-weight: bold;
        text-align: center;
    }
    .ui-daterangepicker .ranges
    {
        position: absolute !important;
        left: 95%;
    }
    .jqTransformInputInner div input
    {
        font-size: 13px !important;
    }
    .helpIphoneF
    {
        position: absolute;
        top: 84px;
        right: 15px;
        z-index: 10;
        color: #FFF;
    }
    #nav-container
    {
        height: 5px;
    }
    .ui-daterangepickercontain
    {
        top: 159px !important;
        left: 30px !important;
    }
    .ddlFilter
    {
        padding: 5px 0 0 0;
        width: auto !important;
        position: absolute;
        z-index: 12; /* float: none; */
        top: 42px;
        left: 14px;
        margin-left: 2px; /* display: inline-table;*/
    }
    #tabs-container
    {
        height: 55px;
    }
    .helpIphone
    {
        position: absolute;
        top: 95px;
        right: 40px;
        z-index: 10;
        color: #fff;
        margin-right: 22px;
    }
    #divfilterbtn
    {
        margin-top: 3px;
    }
    .helpIphone i
    {
        font-size: 24px !important;
    }
    .jqTransformSelectWrapper span
    {
        width: 100%;
    }
    #divProviderTreePanel
    {
        float: none !important;
        margin-top: 35px;
        margin-left: -3px !important;
    }
    #divComparePanel
    {
        float: none !important;
        margin: 35px 10px 0 10px;
        margin-left: 0px !important;
    }
    .chartgridTitle
    {
        min-height: 20px;
        width: 100%;
        color: #868686;
        font-family: trebuchet ms;
        font-size: 14px;
        font-weight: bold;
        text-align: center;
    }
    .connection
    {
        display: none;
        position: absolute;
        top: 0;
        z-index: 1000;
        background: #FFD;
        border: 1px solid yellow;
        height: 55px;
        line-height: 55px;
        left: 0.5%;
        padding: 13px 0 0 0;
        width: 99%;
        text-align: center;
        font-family: trebuchet ms;
    }
    .ui-datepicker
    {
        top: 159px;
        left: 28px;
    }

}

@media (max-width:480px)
{
    .dashhighlighttext
    {
        font-weight: normal;
        font-size: 16px;
        color: #7ba414;
    }
    .smallchart
    {
        width: 98%;
        height: 400px;
        margin-left: 3px;
        float: left;
        background-color: White;
        padding: 10px;
    }
    .highlightbox
    {
        height: 100px;
        margin-left: 3px;
        margin-right: 3px;
        vertical-align: top;
        min-width: 150px;
        float: left;
        width: 46%;
    }
    #divdatascroll
    {
        width: 98.5%;
        overflow: hidden;
        position: relative;
        float: left;
    }
    .grayrc
    {
        display: none;
    }
    .higlightTitle
    {
        color: #868686;
        font-family: trebuchet ms;
        font-size: 13px;
        font-weight: bold;
    }
    .reportcentermain
    {
        /*float: none !important;*/
        width: 90%;
    }
    #reportname
    {
        font-size: 22px;
    }
    .reportname
    {
        font-size: 13px;
    }
    #reportschooseblackin
    {
        width: 96%;
    }
    .jqDropdown, .jqTransformInputWrapper, .jqTransformSelectWrapper
    {
        width: 200px !important;
    }


    .fromtodate .jqDropdown, .fromtodate .jqTransformInputWrapper
    {
        width: 160px !important;
    }
    .ddlFilter .jqDropdown, .ddlFilter .jqTransformInputWrapper, .ddlFilter .jqTransformSelectWrapper, .ddlFilter .jqTransformInputInner
    {
        width: 200px !important;
        margin-left: -5px !important;
        margin-right: 2px !important;
    }
    .ddlFilter #divGobtn i
    {
        font-size: 14px !important;
    }
    #divDate, #divDateRange, #divMonth, #divYear
    {
        width: 200px !important; /* margin-right:15px !important;*/
    }


    .fromtodate
    {
        float: left;
        width: 170px;
        margin-right: 10px !important;
        margin-left: -5px;
    }
    .chartgridTitle
    {
        min-height: 20px;
        width: 100%;
        color: #868686;
        font-family: trebuchet ms;
        font-size: 14px;
        font-weight: bold;
        text-align: center;
    }
    .divloading img
    {
        width: 48px;
    }

    .helpIphone
    {
        position: absolute;
        top: 80px;
        right: 55px;
        z-index: 10;
        color: #fff;
        margin-right: 22px;
    }
    .helpIphone i, #divfilterbtn i
    {
        font-size: 24px !important;
    }
    #divfilterbtn
    {
        margin-left: 25px;
        margin-top: 3px;
    }

    .bluestrip
    {
        background: transparent url(    '../../images/bluestrip.png' ) repeat-x;
        height: 35px;
        margin-top: 3px;
    }
    .helpIphoneF
    {
        position: absolute;
        top: 70px;
        right: 0px;
        z-index: 10;
        color: #FFF;
        margin-right: 22px;
    }
    .ui-daterangepickercontain
    {
        top: 145px !important;
        left: 27px !important;
    }
    #divProviderTreePanel
    {
        float: none !important;
        margin-top: 35px;
        margin-left: 0px !important;
    }
    #divComparePanel
    {
        float: none !important;
        margin: 35px 10px 0 10px;
        margin-left: 0px !important;
    }
    .ddlFilter
    {
        padding: 5px 0 0 0;
        width: auto !important;
        position: absolute;
        z-index: 12; /* float: none; */
        top: 42px;
        left: 14px; /* display: inline-table;*/
    }
    .connection
    {
        display: none;
        position: absolute;
        top: 0;
        z-index: 1000;
        background: #FFD;
        border: 1px solid yellow;
        height: 35px;
        left: 0.5%;
        padding: 13px 0 0 0;
        width: 99%;
        text-align: center;
        font-family: trebuchet ms;
    }
}


@media (max-width:396px)
{
    .smallchart
    {
        width: 97%;
        height: 370px;
        margin-left: 3px;
        float: left;
        background-color: White; /* padding: 5px;*/
    }
    .reportcentermain
    {
        /*float: none !important;*/
        width: 89%; /*margin-left:-10px;*/
    }
    .reportname p
    {
        margin: 3px;
    }
    .divcharts
    {
        margin-left: 3px;
        width: 97%;
    }
    .reportname
    {
        font-size: 12px;
        margin-left: -3px;
    }
    #reportname
    {
        font-size: 20px;
    }
    .fromtodate .jqDropdown, .fromtodate .jqTransformInputWrapper
    {
        width: 105px !important;
    }
    .jqTransformInputInner div input
    {
        font-size: 12px !important;
    }
     #divDate, #divDateRange, #divMonth, #divYear {
        width: 230px !important; /* margin-right:15px !important;*/
    }

    .jqDropdown, .jqTransformInputWrapper, .jqTransformSelectWrapper, .ddlFilter .jqTransformInputInner {
        width: 230px !important;
    }

        #divDateRange .jqTransformInputInner,#divDate .jqTransformInputInner,#divMonth .jqTransformInputInner {
            margin: 0px 0 0 -5px;
        }

    .ddlFilter .jqDropdown, .ddlFilter .jqTransformInputWrapper, .ddlFilter .jqTransformSelectWrapper {
        width: 230px !important;
        margin-left: -5px !important;
        margin-right: 2px !important;
    }

 .ddlFilter .jqTransformInputInner {
        width: 230px !important;
        margin-left: -1px !important;
    }
    #divComparePanel {
     /* margin-left: -3px !important;*/
    }

    .fromtodate
    {
        float: left;
        width: 115px;
        margin-right: 5px !important;
        margin-left: -5px;
    }
    .divloading img
    {
        width: 48px;
    }
    #divmsg .popupbottom
    {
        height: 29px;
    }
    #dialog1 .popupbottom
    {
        height: 33px;
    }
    .tablehead
    {
        width: 100%;
        line-height: 30px;
        height: 30px;
        margin: 0 auto;
        font-size: 12px;
        font-weight: bold;
        background-color: #525562;
        color: #fff;
        text-transform: capitalize;
    }
    #divpayertable
    {
        font-size: 9px;
    }
    .imgPopupClose
    {
        width: 20px;
        cursor: pointer;
        height: 16px;
    }
    .chartgridTitle
    {
        min-height: 30px;
        width: 100%;
        color: #868686;
        font-family: trebuchet ms;
        font-size: 14px;
        font-weight: bold;
        text-align: center;
    }
    .highlightbox
    {
        height: 100px;
        margin-left: 3px;
        margin-right: 3px;
        vertical-align: top;
        min-width: 150px;
        float: left;
        width: 96%;
    }
.helpIphone {
  position: absolute;
  top: 70px;
  right: 55px;
  z-index: 10;
  color: #FFF;
  margin-right: 22px;
}


}
@media (min-width:300px) and (max-width:365px)
{
    .fromtodate .jqDropdown, .fromtodate .jqTransformInputWrapper
    {
        width: 105px !important;
    }
    .fromtodate
    {
        float: left;
        width: 110px;
        margin-right: 5px !important;
        margin-left: -5px;
    }
    /* .newreportdashin .jqDropdown, .newreportdashin .jqTransformInputWrapper, .newreportdashin .jqTransformSelectWrapper
                {
                    width: 222px !important;
                }*/

    .ddlFilter .jqDropdown, .ddlFilter .jqTransformInputWrapper, .ddlFilter .jqTransformSelectWrapper, .ddlFilter .jqTransformInputInner
    {
        width: 212px !important;
        margin-left: -2px !important;
        margin-right: 3px !important;
    }
    .ddlFilter #divGobtn i
    {
        font-size: 13px !important;
    }
    .tree
    {
        font-size: 11px !important;
    }
    .jqTransformInputInner div input
    {
        font-size: 10px !important;
        padding: 8px 0 0 2px !important;
    }
    .jqTransformSelectWrapper div span
    {
        font-size: 10px !important;
    }
    .cancgo i
    {
        margin-left: 2px;
    }
    #divDate, #divDateRange, #divMonth, #divYear
    {
        width: 210px !important;
        margin-left: -2px !important;
        margin-right: 15px !important;
    }


    .jqDropdown, .jqTransformInputWrapper, .jqTransformSelectWrapper
    {
        width: 210px !important;
    }

    #divtreeCarrier, #divtreeProvider, #divtreeviewOverview
    {
        width: auto;
        padding: 2px 4px;
        border: 1px solid #cccccc;
        background: #FCFDFD;
        color: #333333;
        font-size: 11px;
        display: none;
    }

    #txtDateRange, #txtDate, #txtMonth
    {
        margin-left: -6px;
    }

     #divProviderTreePanel, #divComparePanel, #divcarrierTreePanel
    {
        /* margin-left: 5px !important;*/
        margin-right:0 !important;
    }
    #txtcarrier, #txtCompare, #txtProvider
    {
        margin: 0 !important;
        margin-left: -13px !important;
    }
    #divGobtn
    {
        margin-left: -27px ;
    }
    .reportname
    {
        font-size: 11px;
        margin-left: -3px;
    }
    .helpIphone
    {
        position: absolute;
        top: 68px;
        right: 50px;
        z-index: 10;
        color: #fff;
        margin-right: 10px;
    }

    .helpIphoneF
    {
        position: absolute;
        top: 60px;
        right: 7px;
        z-index: 10;
        color: #FFF;
        margin-right: 10px;
    }

    #divfilterbtn
    {
        margin-left: 25px;
    }
    .ui-daterangepickercontain
    {
        top: 135px !important;
        left: 23px !important;
    }
    .ddlFilter
    {
        padding: 5px 0 0 0;
        width: auto !important;
        position: absolute;
        z-index: 12; /* float: none; */
        top: 42px;
        left: 16px;
        margin-left: -10px; /* display: inline-table;*/
    }
    #divddlBranch
    {
        margin-left: 2px !important;
        margin-right: 10px;
    }

}

/*********************** Dynamic use Classes *****************************/

.filter
{
    position: absolute;
    z-index: 11;
    height: 40px;
    width: auto;
    border: 2px solid #940006;
    background: #fff;
}

/************************Default Facilities Images Styles ***************************/
.img1
{
    float: left;
    margin: 5px;
    width: 190px;
    height: 125px; /*line-height: 8em;*/
    vertical-align: middle; /* Aligning vertically */
    color: blue; /* Better contrast than blue on black */
    background: #ffffff url('../../images/facilitylogos/jefbar/logo_Blue.jpg') no-repeat !important;
    text-align: center;
}

.img1 a div
{
    font-size: 20px;
    color: #027ac7;
    padding-top: 42px;
    line-height: 20px;
    font-family: Berlin Sans FB, Sans-Serif;
}


.img2
{
    float: left;
    margin: 5px;
    width: 190px;
    height: 125px;
    line-height: 8em;
    vertical-align: middle; /* Aligning vertically */
    color: blue; /* Better contrast than blue on black */
    background: #ffffff url('../../images/facilitylogos/jefbar/logo_green.jpg') no-repeat !important;
    text-align: center;
}

.img2 a div
{
    font-size: 20px;
    color: #375e22;
    padding-top: 42px;
    line-height: 20px;
    font-family: Bauhaus 93;
}

.img3
{
    float: left;
    margin: 5px;
    width: 190px;
    height: 125px;
    line-height: 8em;
    vertical-align: middle; /* Aligning vertically */
    color: blue; /* Better contrast than blue on black */
    background: #ffffff url('../../images/facilitylogos/jefbar/logo_orange.jpg') no-repeat !important;
    text-align: center;
}

.img3 a div
{
    font-size: 20px;
    color: #9d3a04;
    padding-top: 42px;
    line-height: 20px;
    font-family: Calibri, Sans-Serif;
}

.img4
{
    float: left;
    margin: 5px;
    width: 190px;
    height: 125px;
    line-height: 8em;
    vertical-align: middle; /* Aligning vertically */
    color: blue; /* Better contrast than blue on black */
    background: #ffffff url('../../images/facilitylogos/jefbar/logo_red.jpg') no-repeat !important;
    text-align: center;
}

.img4 a div
{
    font-size: 20px;
    color: #b01101;
    padding-top: 42px;
    line-height: 20px;
    font-family: Lucida Handwriting, Sans-Serif;
}

.img5
{
    float: left;
    margin: 5px;
    width: 190px;
    height: 125px;
    line-height: 8em;
    vertical-align: middle; /* Aligning vertically */
    color: blue; /* Better contrast than blue on black */
    background: #ffffff url('../../images/facilitylogos/jefbar/logo_RoyalBlue.jpg') no-repeat !important;
    text-align: center;
}

.img5 a div
{
    font-size: 20px;
    color: #02017a;
    padding-top: 42px;
    line-height: 20px;
    font-family: Lucida Calligraphy, Sans-Serif;
}

@media (max-width:499px) {
.img1
{
    float: left;
    margin: 5px;
  width: 130px;
    height: 80px;/*line-height: 8em;*/
    vertical-align: middle; /* Aligning vertically */
    color: blue; /* Better contrast than blue on black */
    background: #ffffff url('../../images/facilitylogos/jefbar/m_logo_Blue.png') no-repeat !important;
    text-align: center;
}

.img1 a div
{
    font-size: 15px;
    color: #027ac7;
    padding-top: 22px;
    line-height: 15px;
    font-family: Berlin Sans FB, Sans-Serif;
}


.img2
{
    float: left;
    margin: 5px;
    width: 130px;
    height: 80px;
    line-height: 8em;
    vertical-align: middle; /* Aligning vertically */
    color: blue; /* Better contrast than blue on black */
    background: #ffffff url('../../images/facilitylogos/jefbar/m_logo_green.png') no-repeat !important;
    text-align: center;
}

.img2 a div
{
     font-size: 15px;
    color: #375e22;
    padding-top: 22px;
    line-height: 15px;
    font-family: Bauhaus 93;
}

.img3
{
    float: left;
    margin: 5px;
    width: 130px;
    height: 80px;
    line-height: 8em;
    vertical-align: middle; /* Aligning vertically */
    color: blue; /* Better contrast than blue on black */
    background: #ffffff url('../../images/facilitylogos/jefbar/m_logo_orange.png') no-repeat !important;
    text-align: center;
}

.img3 a div
{
     font-size: 15px;
    color: #9d3a04;
    padding-top: 22px;
    line-height: 15px;
    font-family: Calibri, Sans-Serif;
}

.img4
{
    float: left;
    margin: 5px;
    width: 130px;
    height: 80px;
    line-height: 8em;
    vertical-align: middle; /* Aligning vertically */
    color: blue; /* Better contrast than blue on black */
    background: #ffffff url('../../images/facilitylogos/jefbar/m_logo_red.png') no-repeat !important;
    text-align: center;
}

.img4 a div
{
    font-size: 15px;
    color: #b01101;
   padding-top: 22px;
    line-height: 15px;
    font-family: Lucida Handwriting, Sans-Serif;
}

.img5
{
    float: left;
    margin: 5px;
    width: 130px;
    height: 80px;
    line-height: 8em;
    vertical-align: middle; /* Aligning vertically */
    color: blue; /* Better contrast than blue on black */
    background: #ffffff url('../../images/facilitylogos/jefbar/m_logo_RoyalBlue.png') no-repeat !important;
    text-align: center;
}

.img5 a div
{
    font-size: 15px;
    color: #02017a;
    padding-top: 22px;
    line-height: 15px;
    font-family: Lucida Calligraphy, Sans-Serif;
}

}