﻿.infowindow
{
    float: left;
    font-size: 10pt;
    font-weight: bold;
    text-align: left;
}
.showMap
{
    position: relative;
    display: block;
}
#map
{
    background-color: #E5E3DF;
    float: left;
    height: 300px;
    overflow: hidden;
    position: relative;
    width: 100%;
}
#changefacility
{
    display: none;
}
.ui-dialog .ui-dialog-titlebar
{
    display: none;
}
.image_carousel
{
    padding: 15px 0 15px 0px;
    position: relative;
}
.image_carousel img
{
    background-color: transparent;
    margin: 0px;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
}
.image_carousel
{
    background-color: transparent;
    margin: 30px 0 30px 0px;
    width: 70%;
}
.image_carousel ul
{
    margin: 0;
    padding: 0;
    list-style: none;
    display: block;
}
.image_carousel li
{
    /* font-size: 18px;     color: #999;     text-align: center;      width: 150px;     height: 150px;     padding: 0;     margin: 6px;     display: block;     float: left;*/
    width: 203px;
    height: 125px;
    display: block;
    float: left;
    margin: 0 12px;
}
.image_carousel li div.box
{
    width: 190px;
    height: 125px;
    background: #fff;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border: 1px solid #7a7e8d;
    display: block;
    float: left;
    list-style: none;
    padding: 5px;
    position: relative;
}
.image_carousel li h2
{
    margin: 0;
    padding: 0;
    font-size: 14px;
}
a.prev, a.next
{
    background: url(../images/spritenewbtn.png) no-repeat transparent;
    width: 50px;
    height: 125px;
    display: block;
    position: absolute;
    top: 22px;
}
a.prev
{
    left: 0;
    background-position: 0 0;
}
a.prev:hover
{
    background-position: 0 -124px;
}
a.prev.disabled
{
    background-position: 0 -248px !important;
}
a.next
{
    right: 0;
    background-position: -50px 0;
}
a.next:hover
{
    background-position: -50px -124px;
}
a.next.disabled
{
    background-position: -50px -248px !important;
}
a.prev.disabled, a.next.disabled
{
    cursor: default;
}
a.prev span, a.next span
{
    display: none;
}
.pagination
{
    text-align: center;
}
.pagination a
{
    background: url(../images/miscellaneous_sprite.png) 0 -300px no-repeat transparent;
    width: 15px;
    height: 15px;
    margin: 0 5px 0 0;
    display: inline-block;
}
.pagination a.selected
{
    background-position: -25px -300px;
    cursor: default;
}
.pagination a span
{
    display: none;
}
.clearfix
{
    float: none;
    clear: both;
}
.caroufredsel_wrapper
{
    min-height: 250px;
}
@media (max-width:590px)
{
    .image_carousel
    {
        background-color: transparent;
        margin: 30px 0 30px 0px;
        width: 100%;
        padding: 15px 0 15px 0px;
        position: relative;
    }

}
@media (min-width:600px) and (max-width:880px)
{
    .image_carousel
    {
        background-color: transparent;
        margin: 30px 0 30px 0px;
        width: 60%;
        padding: 15px 0 15px 0px;
        position: relative;
    }

}
@media (min-width:900px) and (max-width:1050px)
{
    .image_carousel
    {
        background-color: transparent;
        margin: 30px 0 30px 0px;
        width: 70%;
        padding: 15px 0 15px 0px;
        position: relative;
    }

}
@media (min-width:1100px) and (max-width:1280px)
{
    .image_carousel
    {
        background-color: transparent;
        margin: 30px 0 30px 0px;
        width: 72%;
        padding: 15px 0 15px 0px;
        position: relative;
    }

}
@media (min-width:1320px) and (max-width:1380px)
{
    .image_carousel
    {
        background-color: transparent;
        margin: 30px 0 30px 0px;
        width: 70%;
        padding: 15px 0 15px 0px;
        position: relative;
    }

}

@media (min-width:1400px) and (max-width:1480px)
{
    .image_carousel
    {
        background-color: transparent;
        margin: 30px 0 30px 0px;
        width: 75%;
        padding: 15px 0 15px 0px;
        position: relative;
    }

}
@media (min-width:1610px) and (max-width:1700px)
{
    .image_carousel
    {
        background-color: transparent;
        margin: 30px 0 30px 0px;
        width: 70%;
        padding: 15px 0 15px 0px;
        position: relative;
    }

}
