﻿<%@ Master Language="C#" AutoEventWireup="true" CodeFile="TriTechMaster.master.cs"
    Inherits="Admin_TriTechMaster" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional/fa/EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head id="Head1" runat="server">
    <title>Revenue Guard</title>
    <link rel="shortcut icon" type="image/ico" href="../Admin/images/Favicon_32x32.ico" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
<%--    <link rel="stylesheet" id="stylecss" type="text/css" runat="server" />--%>
    <link href="css/docs.css" rel="stylesheet" />
    <link href="css/style.css" rel="stylesheet" />
    <link href="css/angular-material.css" rel="stylesheet" />
    <link rel="stylesheet" href="jqtransformplugin/jqtransform.css" type="text/css" />
 <%--   <link id="stylecss" rel="stylesheet" type="text/css" href="css/jefbar/style_jefbar.css?12272016">--%>
    <link href="css/jefbar/font-awesome.css" rel="stylesheet" />
   
    <script type="text/javascript">
        function showsettings() {
            $("#divSettingscp").slideToggle('fast');
        }
       
    </script>
    <script type="text/javascript">
        
        document.write('<scr' + 'ipt src="http://virimapps.azurewebsites.net/JS/Analytics/GoogleAnalyticsSettings.js?' + Math.random() + '" type="text/javascript"></scr' + 'ipt>');
        
</script>

    

    <style md-theme-style="">md-bottom-sheet.md-default-theme.md-list md-list-item , md-bottom-sheet.md-list md-list-item 
{    color: rgba(0,0,0,0.87);}
md-bottom-sheet.md-default-theme .md-subheader , md-bottom-sheet .md-subheader {    color: rgba(0,0,0,0.87);}
.md-button.md-default-theme.md-primary , .md-button.md-primary {  color: rgb(76,163,224);}
.md-button.md-default-theme.md-primary.md-raised, .md-button.md-primary.md-raised, .md-button.md-default-theme.md-primary.md-fab , .md-button.md-primary.md-fab 
{    color: rgba(0,0,0,0.87);    background-color: rgb(76,163,224);}
.md-button.md-default-theme.md-primary.md-raised:not([disabled]) md-icon, .md-button.md-primary.md-raised:not([disabled]) md-icon, .md-button.md-default-theme.md-primary.md-fab:not([disabled]) md-icon , .md-button.md-primary.md-fab:not([disabled]) md-icon
 {      color: rgba(0,0,0,0.87);}
.md-button.md-default-theme.md-primary.md-raised:not([disabled]):hover, .md-button.md-primary.md-raised:not([disabled]):hover, .md-button.md-default-theme.md-primary.md-fab:not([disabled]):hover , .md-button.md-primary.md-fab:not([disabled]):hover {      background-color: rgb(54,152,220);}.md-button.md-default-theme.md-primary.md-raised:not([disabled]).md-focused, .md-button.md-primary.md-raised:not([disabled]).md-focused, .md-button.md-default-theme.md-primary.md-fab:not([disabled]).md-focused , .md-button.md-primary.md-fab:not([disabled]).md-focused {      background-color: rgb(54,152,220);}.md-button.md-default-theme.md-primary:not([disabled]) md-icon , .md-button.md-primary:not([disabled]) md-icon {    color: rgb(76,163,224);}._md a.md-default-theme:not(.md-button).md-primary , ._md a:not(.md-button).md-primary {  color: rgb(76,163,224);}._md a.md-default-theme:not(.md-button).md-primary:hover , ._md a:not(.md-button).md-primary:hover {    color: rgb(37,140,212);}md-card.md-default-theme .md-card-image , md-card .md-card-image {    border-radius: 2px 2px 0 0;}md-card.md-default-theme md-card-header md-card-header-text .md-subhead , md-card md-card-header md-card-header-text .md-subhead {    color: rgba(0,0,0,0.54);}md-card.md-default-theme md-card-title md-card-title-text:not(:only-child) .md-subhead , md-card md-card-title md-card-title-text:not(:only-child) .md-subhead {    color: rgba(0,0,0,0.54);}md-checkbox.md-default-theme .md-ink-ripple , md-checkbox .md-ink-ripple {  color: rgba(0,0,0,0.54);}md-checkbox.md-default-theme:not(.md-checked) .md-icon , md-checkbox:not(.md-checked) .md-icon {  border-color: rgba(0,0,0,0.54);}md-checkbox.md-default-theme:not([disabled]).md-primary .md-ripple , md-checkbox:not([disabled]).md-primary .md-ripple {  color: rgb(54,152,220);}md-checkbox.md-default-theme:not([disabled]).md-primary.md-checked .md-ripple , md-checkbox:not([disabled]).md-primary.md-checked .md-ripple {  color: rgb(117,117,117);}md-checkbox.md-default-theme:not([disabled]).md-primary .md-ink-ripple , md-checkbox:not([disabled]).md-primary .md-ink-ripple {  color: rgba(0,0,0,0.54);}md-checkbox.md-default-theme:not([disabled]).md-primary.md-checked .md-ink-ripple , md-checkbox:not([disabled]).md-primary.md-checked .md-ink-ripple {  color: rgba(76,163,224,0.87);}md-checkbox.md-default-theme:not([disabled]).md-primary:not(.md-checked) .md-icon , md-checkbox:not([disabled]).md-primary:not(.md-checked) .md-icon {  border-color: rgba(0,0,0,0.54);}md-checkbox.md-default-theme:not([disabled]).md-primary.md-checked .md-icon , md-checkbox:not([disabled]).md-primary.md-checked .md-icon {  background-color: rgba(76,163,224,0.87);}md-checkbox.md-default-theme:not([disabled]).md-primary.md-checked.md-focused .md-container:before , md-checkbox:not([disabled]).md-primary.md-checked.md-focused .md-container:before {  background-color: rgba(76,163,224,0.26);}md-checkbox.md-default-theme:not([disabled]).md-primary.md-checked .md-icon:after , md-checkbox:not([disabled]).md-primary.md-checked .md-icon:after {  border-color: rgba(0,0,0,0.87);}md-checkbox.md-default-theme:not([disabled]).md-primary .md-indeterminate[disabled] .md-container , md-checkbox:not([disabled]).md-primary .md-indeterminate[disabled] .md-container {  color: rgba(0,0,0,0.38);}md-checkbox.md-default-theme[disabled]:not(.md-checked) .md-icon , md-checkbox[disabled]:not(.md-checked) .md-icon {  border-color: rgba(0,0,0,0.38);}md-checkbox.md-default-theme[disabled] .md-icon:after , md-checkbox[disabled] .md-icon:after {  border-color: rgba(0,0,0,0.38);}md-checkbox.md-default-theme[disabled] .md-label , md-checkbox[disabled] .md-label {  color: rgba(0,0,0,0.38);}md-chips.md-default-theme .md-chips , md-chips .md-chips {  box-shadow: 0 1px rgba(0,0,0,0.12);}md-chips.md-default-theme .md-chips.md-focused , md-chips .md-chips.md-focused {    box-shadow: 0 2px rgb(76,163,224);}md-chips.md-default-theme .md-chips .md-chip-input-container input , md-chips .md-chips .md-chip-input-container input {    color: rgba(0,0,0,0.87);}md-chips.md-default-theme .md-chips .md-chip-input-container input::-webkit-input-placeholder , md-chips .md-chips .md-chip-input-container input::-webkit-input-placeholder {      color: rgba(0,0,0,0.38);}md-chips.md-default-theme .md-chips .md-chip-input-container input:-moz-placeholder , md-chips .md-chips .md-chip-input-container input:-moz-placeholder {      color: rgba(0,0,0,0.38);}md-chips.md-default-theme .md-chips .md-chip-input-container input::-moz-placeholder , md-chips .md-chips .md-chip-input-container input::-moz-placeholder {      color: rgba(0,0,0,0.38);}md-chips.md-default-theme .md-chips .md-chip-input-container input:-ms-input-placeholder , md-chips .md-chips .md-chip-input-container input:-ms-input-placeholder {      color: rgba(0,0,0,0.38);}md-chips.md-default-theme .md-chips .md-chip-input-container input::-webkit-input-placeholder , md-chips .md-chips .md-chip-input-container input::-webkit-input-placeholder {      color: rgba(0,0,0,0.38);}md-chips.md-default-theme md-chip.md-focused , md-chips md-chip.md-focused {    background: rgb(76,163,224);    color: rgba(0,0,0,0.87);}md-chips.md-default-theme md-chip.md-focused md-icon , md-chips md-chip.md-focused md-icon {      color: rgba(0,0,0,0.87);}.md-default-theme .md-calendar-date.md-calendar-date-today .md-calendar-date-selection-indicator ,  .md-calendar-date.md-calendar-date-today .md-calendar-date-selection-indicator {  border: 1px solid rgb(76,163,224);}.md-default-theme .md-calendar-date.md-calendar-date-today.md-calendar-date-disabled ,  .md-calendar-date.md-calendar-date-today.md-calendar-date-disabled {  color: rgba(76,163,224,0.6);}.md-default-theme .md-calendar-date.md-calendar-selected-date .md-calendar-date-selection-indicator,  .md-calendar-date.md-calendar-selected-date .md-calendar-date-selection-indicator,.md-default-theme .md-calendar-date.md-focus.md-calendar-selected-date .md-calendar-date-selection-indicator ,  .md-calendar-date.md-focus.md-calendar-selected-date .md-calendar-date-selection-indicator {  background: rgb(76,163,224);  color: rgba(0,0,0,0.87);  border-color: transparent;}/** Theme styles for mdDatepicker. */.md-default-theme .md-datepicker-input ,  .md-datepicker-input {  color: rgba(0,0,0,0.87);}.md-default-theme .md-datepicker-input::-webkit-input-placeholder ,  .md-datepicker-input::-webkit-input-placeholder {    color: rgba(0,0,0,0.38);}.md-default-theme .md-datepicker-input:-moz-placeholder ,  .md-datepicker-input:-moz-placeholder {    color: rgba(0,0,0,0.38);}.md-default-theme .md-datepicker-input::-moz-placeholder ,  .md-datepicker-input::-moz-placeholder {    color: rgba(0,0,0,0.38);}.md-default-theme .md-datepicker-input:-ms-input-placeholder ,  .md-datepicker-input:-ms-input-placeholder {    color: rgba(0,0,0,0.38);}.md-default-theme .md-datepicker-input::-webkit-input-placeholder ,  .md-datepicker-input::-webkit-input-placeholder {    color: rgba(0,0,0,0.38);}.md-default-theme .md-datepicker-input-container ,  .md-datepicker-input-container {  border-bottom-color: rgba(0,0,0,0.12);}.md-default-theme .md-datepicker-input-container.md-datepicker-focused ,  .md-datepicker-input-container.md-datepicker-focused {    border-bottom-color: rgb(76,163,224);}.md-default-theme .md-datepicker-triangle-button .md-datepicker-expand-triangle ,  .md-datepicker-triangle-button .md-datepicker-expand-triangle {  border-top-color: rgba(0,0,0,0.38);}.md-default-theme .md-datepicker-triangle-button:hover .md-datepicker-expand-triangle ,  .md-datepicker-triangle-button:hover .md-datepicker-expand-triangle {  border-top-color: rgba(0,0,0,0.54);}.md-default-theme .md-datepicker-open .md-datepicker-calendar-icon ,  .md-datepicker-open .md-datepicker-calendar-icon {  color: rgb(76,163,224);}md-dialog.md-default-theme.md-content-overflow .md-actions, md-dialog.md-content-overflow .md-actions, md-dialog.md-default-theme.md-content-overflow md-dialog-actions , md-dialog.md-content-overflow md-dialog-actions {    border-top-color: rgba(0,0,0,0.12);}md-divider.md-default-theme , md-divider {  border-top-color: rgba(0,0,0,0.12);}.layout-row > md-divider.md-default-theme, .layout-row > md-divider,.layout-xs-row > md-divider.md-default-theme, .layout-xs-row > md-divider, .layout-gt-xs-row > md-divider.md-default-theme,  .layout-gt-xs-row > md-divider,.layout-sm-row > md-divider.md-default-theme, .layout-sm-row > md-divider, .layout-gt-sm-row > md-divider.md-default-theme,  .layout-gt-sm-row > md-divider,.layout-md-row > md-divider.md-default-theme, .layout-md-row > md-divider, .layout-gt-md-row > md-divider.md-default-theme,  .layout-gt-md-row > md-divider,.layout-lg-row > md-divider.md-default-theme, .layout-lg-row > md-divider, .layout-gt-lg-row > md-divider.md-default-theme,  .layout-gt-lg-row > md-divider,.layout-xl-row > md-divider.md-default-theme , .layout-xl-row > md-divider {  border-right-color: rgba(0,0,0,0.12);}md-icon.md-default-theme , md-icon {  color: rgba(0,0,0,0.54);}md-icon.md-default-theme.md-primary , md-icon.md-primary {    color: rgb(76,163,224);}md-input-container.md-default-theme .md-input , md-input-container .md-input {  color: rgba(0,0,0,0.87);  border-color: rgba(0,0,0,0.12);}md-input-container.md-default-theme .md-input::-webkit-input-placeholder , md-input-container .md-input::-webkit-input-placeholder {    color: rgba(0,0,0,0.38);}md-input-container.md-default-theme .md-input:-moz-placeholder , md-input-container .md-input:-moz-placeholder {    color: rgba(0,0,0,0.38);}md-input-container.md-default-theme .md-input::-moz-placeholder , md-input-container .md-input::-moz-placeholder {    color: rgba(0,0,0,0.38);}md-input-container.md-default-theme .md-input:-ms-input-placeholder , md-input-container .md-input:-ms-input-placeholder {    color: rgba(0,0,0,0.38);}md-input-container.md-default-theme .md-input::-webkit-input-placeholder , md-input-container .md-input::-webkit-input-placeholder {    color: rgba(0,0,0,0.38);}md-input-container.md-default-theme > md-icon , md-input-container > md-icon {  color: rgba(0,0,0,0.87);}md-input-container.md-default-theme label, md-input-container label,md-input-container.md-default-theme .md-placeholder , md-input-container .md-placeholder {  color: rgba(0,0,0,0.38);}md-input-container.md-default-theme:not(.md-input-focused):not(.md-input-invalid) label.md-required:after , md-input-container:not(.md-input-focused):not(.md-input-invalid) label.md-required:after {  color: rgba(0,0,0,0.54);}md-input-container.md-default-theme .md-input-messages-animation .md-char-counter, md-input-container .md-input-messages-animation .md-char-counter, md-input-container.md-default-theme .md-input-message-animation .md-char-counter , md-input-container .md-input-message-animation .md-char-counter {    color: rgba(0,0,0,0.87);}md-input-container.md-default-theme:not(.md-input-invalid).md-input-has-value label , md-input-container:not(.md-input-invalid).md-input-has-value label {  color: rgba(0,0,0,0.54);}md-input-container.md-default-theme:not(.md-input-invalid).md-input-focused .md-input, md-input-container:not(.md-input-invalid).md-input-focused .md-input, md-input-container.md-default-theme:not(.md-input-invalid).md-input-resized .md-input , md-input-container:not(.md-input-invalid).md-input-resized .md-input {  border-color: rgb(76,163,224);}md-input-container.md-default-theme:not(.md-input-invalid).md-input-focused label, md-input-container:not(.md-input-invalid).md-input-focused label,md-input-container.md-default-theme:not(.md-input-invalid).md-input-focused md-icon , md-input-container:not(.md-input-invalid).md-input-focused md-icon {  color: rgb(76,163,224);}md-list.md-default-theme md-list-item.md-2-line .md-list-item-text h3, md-list md-list-item.md-2-line .md-list-item-text h3, md-list.md-default-theme md-list-item.md-2-line .md-list-item-text h4, md-list md-list-item.md-2-line .md-list-item-text h4,md-list.md-default-theme md-list-item.md-3-line .md-list-item-text h3, md-list md-list-item.md-3-line .md-list-item-text h3,md-list.md-default-theme md-list-item.md-3-line .md-list-item-text h4 , md-list md-list-item.md-3-line .md-list-item-text h4 {  color: rgba(0,0,0,0.87);}md-list.md-default-theme md-list-item.md-2-line .md-list-item-text p, md-list md-list-item.md-2-line .md-list-item-text p,md-list.md-default-theme md-list-item.md-3-line .md-list-item-text p , md-list md-list-item.md-3-line .md-list-item-text p {  color: rgba(0,0,0,0.54);}md-list.md-default-theme md-list-item > md-icon , md-list md-list-item > md-icon {  color: rgba(0,0,0,0.54);}md-list.md-default-theme md-list-item > md-icon.md-highlight , md-list md-list-item > md-icon.md-highlight {    color: rgb(76,163,224);}md-menu-bar.md-default-theme > button.md-button , md-menu-bar > button.md-button {  color: rgba(0,0,0,0.54);  border-radius: 2px;}md-toolbar.md-default-theme.md-menu-toolbar md-toolbar-filler , md-toolbar.md-menu-toolbar md-toolbar-filler {    background-color: rgb(76,163,224);    color: rgba(255,255,255,0.87);}md-nav-bar.md-default-theme .md-button._md-nav-button.md-unselected , md-nav-bar .md-button._md-nav-button.md-unselected {  color: rgba(0,0,0,0.54);}md-progress-circular.md-default-theme path , md-progress-circular path {  stroke: rgb(76,163,224);}md-progress-linear.md-default-theme .md-container , md-progress-linear .md-container {  background-color: rgb(163,208,239);}md-progress-linear.md-default-theme .md-bar , md-progress-linear .md-bar {  background-color: rgb(76,163,224);}md-radio-button.md-default-theme .md-off , md-radio-button .md-off {  border-color: rgba(0,0,0,0.54);}md-radio-group.md-default-theme:not([disabled]) .md-primary .md-on, md-radio-group:not([disabled]) .md-primary .md-on, md-radio-group.md-default-theme:not([disabled]).md-primary .md-on, md-radio-group:not([disabled]).md-primary .md-on,md-radio-button.md-default-theme:not([disabled]) .md-primary .md-on, md-radio-button:not([disabled]) .md-primary .md-on,md-radio-button.md-default-theme:not([disabled]).md-primary .md-on , md-radio-button:not([disabled]).md-primary .md-on {  background-color: rgba(76,163,224,0.87);}md-radio-group.md-default-theme:not([disabled]) .md-primary .md-checked .md-off, md-radio-group:not([disabled]) .md-primary .md-checked .md-off, md-radio-group.md-default-theme:not([disabled]) .md-primary.md-checked .md-off, md-radio-group:not([disabled]) .md-primary.md-checked .md-off, md-radio-group.md-default-theme:not([disabled]).md-primary .md-checked .md-off, md-radio-group:not([disabled]).md-primary .md-checked .md-off, md-radio-group.md-default-theme:not([disabled]).md-primary.md-checked .md-off, md-radio-group:not([disabled]).md-primary.md-checked .md-off,md-radio-button.md-default-theme:not([disabled]) .md-primary .md-checked .md-off, md-radio-button:not([disabled]) .md-primary .md-checked .md-off,md-radio-button.md-default-theme:not([disabled]) .md-primary.md-checked .md-off, md-radio-button:not([disabled]) .md-primary.md-checked .md-off,md-radio-button.md-default-theme:not([disabled]).md-primary .md-checked .md-off, md-radio-button:not([disabled]).md-primary .md-checked .md-off,md-radio-button.md-default-theme:not([disabled]).md-primary.md-checked .md-off , md-radio-button:not([disabled]).md-primary.md-checked .md-off {  border-color: rgba(76,163,224,0.87);}md-radio-group.md-default-theme:not([disabled]) .md-primary .md-checked .md-ink-ripple, md-radio-group:not([disabled]) .md-primary .md-checked .md-ink-ripple, md-radio-group.md-default-theme:not([disabled]) .md-primary.md-checked .md-ink-ripple, md-radio-group:not([disabled]) .md-primary.md-checked .md-ink-ripple, md-radio-group.md-default-theme:not([disabled]).md-primary .md-checked .md-ink-ripple, md-radio-group:not([disabled]).md-primary .md-checked .md-ink-ripple, md-radio-group.md-default-theme:not([disabled]).md-primary.md-checked .md-ink-ripple, md-radio-group:not([disabled]).md-primary.md-checked .md-ink-ripple,md-radio-button.md-default-theme:not([disabled]) .md-primary .md-checked .md-ink-ripple, md-radio-button:not([disabled]) .md-primary .md-checked .md-ink-ripple,md-radio-button.md-default-theme:not([disabled]) .md-primary.md-checked .md-ink-ripple, md-radio-button:not([disabled]) .md-primary.md-checked .md-ink-ripple,md-radio-button.md-default-theme:not([disabled]).md-primary .md-checked .md-ink-ripple, md-radio-button:not([disabled]).md-primary .md-checked .md-ink-ripple,md-radio-button.md-default-theme:not([disabled]).md-primary.md-checked .md-ink-ripple , md-radio-button:not([disabled]).md-primary.md-checked .md-ink-ripple {  color: rgba(76,163,224,0.87);}md-radio-group.md-default-theme:not([disabled]) .md-primary .md-container .md-ripple, md-radio-group:not([disabled]) .md-primary .md-container .md-ripple, md-radio-group.md-default-theme:not([disabled]).md-primary .md-container .md-ripple, md-radio-group:not([disabled]).md-primary .md-container .md-ripple,md-radio-button.md-default-theme:not([disabled]) .md-primary .md-container .md-ripple, md-radio-button:not([disabled]) .md-primary .md-container .md-ripple,md-radio-button.md-default-theme:not([disabled]).md-primary .md-container .md-ripple , md-radio-button:not([disabled]).md-primary .md-container .md-ripple {  color: rgb(54,152,220);}md-radio-group.md-default-theme[disabled], md-radio-group[disabled],md-radio-button.md-default-theme[disabled] , md-radio-button[disabled] {  color: rgba(0,0,0,0.38);}md-radio-group.md-default-theme[disabled] .md-container .md-off, md-radio-group[disabled] .md-container .md-off,  md-radio-button.md-default-theme[disabled] .md-container .md-off ,   md-radio-button[disabled] .md-container .md-off {    border-color: rgba(0,0,0,0.38);}md-radio-group.md-default-theme[disabled] .md-container .md-on, md-radio-group[disabled] .md-container .md-on,  md-radio-button.md-default-theme[disabled] .md-container .md-on ,   md-radio-button[disabled] .md-container .md-on {    border-color: rgba(0,0,0,0.38);}md-radio-group.md-default-theme.md-primary .md-checked:not([disabled]) .md-ink-ripple, md-radio-group.md-primary .md-checked:not([disabled]) .md-ink-ripple, md-radio-group.md-default-theme .md-checked:not([disabled]).md-primary .md-ink-ripple , md-radio-group .md-checked:not([disabled]).md-primary .md-ink-ripple {  color: rgba(76,163,224,0.26);}md-radio-group.md-default-theme .md-checked.md-primary .md-ink-ripple , md-radio-group .md-checked.md-primary .md-ink-ripple {  color: '{{warn-color-0.26}}';}md-radio-group.md-default-theme.md-focused:not(:empty).md-primary .md-checked .md-container:before, md-radio-group.md-focused:not(:empty).md-primary .md-checked .md-container:before,md-radio-group.md-default-theme.md-focused:not(:empty) .md-checked.md-primary .md-container:before , md-radio-group.md-focused:not(:empty) .md-checked.md-primary .md-container:before {  background-color: rgba(76,163,224,0.26);}md-input-container:not(.md-input-focused):not(.md-input-invalid) md-select.md-default-theme .md-select-value span:first-child:after , md-input-container:not(.md-input-focused):not(.md-input-invalid) md-select .md-select-value span:first-child:after {  color: rgba(0,0,0,0.38);}md-input-container.md-input-focused:not(.md-input-has-value) md-select.md-default-theme .md-select-value , md-input-container.md-input-focused:not(.md-input-has-value) md-select .md-select-value {  color: rgb(76,163,224);}md-input-container.md-input-focused:not(.md-input-has-value) md-select.md-default-theme .md-select-value.md-select-placeholder , md-input-container.md-input-focused:not(.md-input-has-value) md-select .md-select-value.md-select-placeholder {    color: rgb(76,163,224);}md-input-container.md-input-invalid md-select.md-default-theme.md-no-underline .md-select-value , md-input-container.md-input-invalid md-select.md-no-underline .md-select-value {  border-bottom-color: transparent !important;}md-select.md-default-theme .md-select-value , md-select .md-select-value {  border-bottom-color: rgba(0,0,0,0.12);}md-select.md-default-theme .md-select-value.md-select-placeholder , md-select .md-select-value.md-select-placeholder {    color: rgba(0,0,0,0.38);}md-select.md-default-theme.md-no-underline .md-select-value , md-select.md-no-underline .md-select-value {  border-bottom-color: transparent !important;}md-select.md-default-theme.ng-invalid.ng-touched.md-no-underline .md-select-value , md-select.ng-invalid.ng-touched.md-no-underline .md-select-value {  border-bottom-color: transparent !important;}md-select.md-default-theme:not([disabled]):focus .md-select-value , md-select:not([disabled]):focus .md-select-value {  border-bottom-color: rgb(76,163,224);  color: rgba(0,0,0,0.87);}md-select.md-default-theme:not([disabled]):focus .md-select-value.md-select-placeholder , md-select:not([disabled]):focus .md-select-value.md-select-placeholder {    color: rgba(0,0,0,0.87);}md-select.md-default-theme:not([disabled]):focus.md-no-underline .md-select-value , md-select:not([disabled]):focus.md-no-underline .md-select-value {  border-bottom-color: transparent !important;}md-select.md-default-theme[disabled] .md-select-value , md-select[disabled] .md-select-value {  color: rgba(0,0,0,0.38);}md-select.md-default-theme[disabled] .md-select-value.md-select-placeholder , md-select[disabled] .md-select-value.md-select-placeholder {    color: rgba(0,0,0,0.38);}md-select-menu.md-default-theme md-content md-option[selected] , md-select-menu md-content md-option[selected] {      color: rgb(76,163,224);}md-select-menu.md-default-theme md-content md-option[selected]:focus , md-select-menu md-content md-option[selected]:focus {        color: rgb(54,152,220);}.md-checkbox-enabled.md-default-theme .md-ripple , .md-checkbox-enabled .md-ripple {  color: rgb(54,152,220);}.md-checkbox-enabled.md-default-theme .md-ink-ripple , .md-checkbox-enabled .md-ink-ripple {  color: rgba(0,0,0,0.54);}.md-checkbox-enabled.md-default-theme[selected] .md-ink-ripple , .md-checkbox-enabled[selected] .md-ink-ripple {  color: rgba(76,163,224,0.87);}.md-checkbox-enabled.md-default-theme:not(.md-checked) .md-icon , .md-checkbox-enabled:not(.md-checked) .md-icon {  border-color: rgba(0,0,0,0.54);}.md-checkbox-enabled.md-default-theme[selected] .md-icon , .md-checkbox-enabled[selected] .md-icon {  background-color: rgba(76,163,224,0.87);}.md-checkbox-enabled.md-default-theme[selected].md-focused .md-container:before , .md-checkbox-enabled[selected].md-focused .md-container:before {  background-color: rgba(76,163,224,0.26);}.md-checkbox-enabled.md-default-theme[selected] .md-icon:after , .md-checkbox-enabled[selected] .md-icon:after {  border-color: rgba(0,0,0,0.87);}.md-checkbox-enabled.md-default-theme .md-indeterminate[disabled] .md-container , .md-checkbox-enabled .md-indeterminate[disabled] .md-container {  color: rgba(0,0,0,0.38);}md-slider.md-default-theme.md-primary .md-focus-ring , md-slider.md-primary .md-focus-ring {  background-color: rgba(141,197,235,0.38);}md-slider.md-default-theme.md-primary .md-track.md-track-fill , md-slider.md-primary .md-track.md-track-fill {  background-color: rgb(76,163,224);}md-slider.md-default-theme.md-primary .md-thumb:after , md-slider.md-primary .md-thumb:after {  border-color: rgb(76,163,224);  background-color: rgb(76,163,224);}md-slider.md-default-theme.md-primary .md-sign , md-slider.md-primary .md-sign {  background-color: rgb(76,163,224);}md-slider.md-default-theme.md-primary .md-sign:after , md-slider.md-primary .md-sign:after {    border-top-color: rgb(76,163,224);}md-slider.md-default-theme.md-primary[md-vertical] .md-sign:after , md-slider.md-primary[md-vertical] .md-sign:after {  border-top-color: transparent;  border-left-color: rgb(76,163,224);}md-slider.md-default-theme.md-primary .md-thumb-text , md-slider.md-primary .md-thumb-text {  color: rgba(0,0,0,0.87);}md-slider.md-default-theme[disabled] .md-thumb:after , md-slider[disabled] .md-thumb:after {  border-color: transparent;}md-slider-container[disabled] > *:first-child:not(md-slider),md-slider-container[disabled] > *:last-child:not(md-slider) {  color: rgba(0,0,0,0.38);}.md-subheader.md-default-theme.md-primary , .md-subheader.md-primary {    color: rgb(76,163,224);}md-switch.md-default-theme.md-checked.md-primary .md-ink-ripple , md-switch.md-checked.md-primary .md-ink-ripple {  color: rgb(76,163,224);}md-switch.md-default-theme.md-checked.md-primary .md-thumb , md-switch.md-checked.md-primary .md-thumb {  background-color: rgb(76,163,224);}md-switch.md-default-theme.md-checked.md-primary .md-bar , md-switch.md-checked.md-primary .md-bar {  background-color: rgba(76,163,224,0.5);}md-switch.md-default-theme.md-checked.md-primary.md-focused .md-thumb:before , md-switch.md-checked.md-primary.md-focused .md-thumb:before {  background-color: rgba(76,163,224,0.26);}md-tabs.md-default-theme .md-paginator md-icon , md-tabs .md-paginator md-icon {  color: rgb(76,163,224);}md-tabs.md-default-theme .md-tab , md-tabs .md-tab {  color: rgba(0,0,0,0.54);}md-tabs.md-default-theme .md-tab[disabled], md-tabs .md-tab[disabled], md-tabs.md-default-theme .md-tab[disabled] md-icon , md-tabs .md-tab[disabled] md-icon {    color: rgba(0,0,0,0.38);}md-tabs.md-default-theme .md-tab.md-active, md-tabs .md-tab.md-active, md-tabs.md-default-theme .md-tab.md-active md-icon, md-tabs .md-tab.md-active md-icon, md-tabs.md-default-theme .md-tab.md-focused, md-tabs .md-tab.md-focused, md-tabs.md-default-theme .md-tab.md-focused md-icon , md-tabs .md-tab.md-focused md-icon {    color: rgb(76,163,224);}md-tabs.md-default-theme .md-tab.md-focused , md-tabs .md-tab.md-focused {    background: rgba(76,163,224,0.1);}md-tabs.md-default-theme.md-primary > md-tabs-wrapper , md-tabs.md-primary > md-tabs-wrapper {  background-color: rgb(76,163,224);}md-tabs.md-default-theme.md-primary > md-tabs-wrapper > md-tabs-canvas > md-pagination-wrapper > md-tab-item:not([disabled]) , md-tabs.md-primary > md-tabs-wrapper > md-tabs-canvas > md-pagination-wrapper > md-tab-item:not([disabled]) {    color: rgb(163,208,239);}md-tabs.md-default-theme.md-primary > md-tabs-wrapper > md-tabs-canvas > md-pagination-wrapper > md-tab-item:not([disabled]).md-active, md-tabs.md-primary > md-tabs-wrapper > md-tabs-canvas > md-pagination-wrapper > md-tab-item:not([disabled]).md-active, md-tabs.md-default-theme.md-primary > md-tabs-wrapper > md-tabs-canvas > md-pagination-wrapper > md-tab-item:not([disabled]).md-active md-icon, md-tabs.md-primary > md-tabs-wrapper > md-tabs-canvas > md-pagination-wrapper > md-tab-item:not([disabled]).md-active md-icon, md-tabs.md-default-theme.md-primary > md-tabs-wrapper > md-tabs-canvas > md-pagination-wrapper > md-tab-item:not([disabled]).md-focused, md-tabs.md-primary > md-tabs-wrapper > md-tabs-canvas > md-pagination-wrapper > md-tab-item:not([disabled]).md-focused, md-tabs.md-default-theme.md-primary > md-tabs-wrapper > md-tabs-canvas > md-pagination-wrapper > md-tab-item:not([disabled]).md-focused md-icon , md-tabs.md-primary > md-tabs-wrapper > md-tabs-canvas > md-pagination-wrapper > md-tab-item:not([disabled]).md-focused md-icon {      color: rgba(0,0,0,0.87);}md-tabs.md-default-theme.md-primary > md-tabs-wrapper > md-tabs-canvas > md-pagination-wrapper > md-tab-item:not([disabled]).md-focused , md-tabs.md-primary > md-tabs-wrapper > md-tabs-canvas > md-pagination-wrapper > md-tab-item:not([disabled]).md-focused {      background: rgba(0,0,0,0.1);}md-toolbar > md-tabs.md-default-theme > md-tabs-wrapper , md-toolbar > md-tabs > md-tabs-wrapper {  background-color: rgb(76,163,224);}md-toolbar > md-tabs.md-default-theme > md-tabs-wrapper > md-tabs-canvas > md-pagination-wrapper > md-tab-item:not([disabled]) , md-toolbar > md-tabs > md-tabs-wrapper > md-tabs-canvas > md-pagination-wrapper > md-tab-item:not([disabled]) {    color: rgb(163,208,239);}md-toolbar > md-tabs.md-default-theme > md-tabs-wrapper > md-tabs-canvas > md-pagination-wrapper > md-tab-item:not([disabled]).md-active, md-toolbar > md-tabs > md-tabs-wrapper > md-tabs-canvas > md-pagination-wrapper > md-tab-item:not([disabled]).md-active, md-toolbar > md-tabs.md-default-theme > md-tabs-wrapper > md-tabs-canvas > md-pagination-wrapper > md-tab-item:not([disabled]).md-active md-icon,  md-toolbar > md-tabs > md-tabs-wrapper > md-tabs-canvas > md-pagination-wrapper > md-tab-item:not([disabled]).md-active md-icon, md-toolbar > md-tabs.md-default-theme > md-tabs-wrapper > md-tabs-canvas > md-pagination-wrapper > md-tab-item:not([disabled]).md-focused,  md-toolbar > md-tabs > md-tabs-wrapper > md-tabs-canvas > md-pagination-wrapper > md-tab-item:not([disabled]).md-focused, md-toolbar > md-tabs.md-default-theme > md-tabs-wrapper > md-tabs-canvas > md-pagination-wrapper > md-tab-item:not([disabled]).md-focused md-icon ,  md-toolbar > md-tabs > md-tabs-wrapper > md-tabs-canvas > md-pagination-wrapper > md-tab-item:not([disabled]).md-focused md-icon {      color: rgba(0,0,0,0.87);}md-toolbar > md-tabs.md-default-theme > md-tabs-wrapper > md-tabs-canvas > md-pagination-wrapper > md-tab-item:not([disabled]).md-focused , md-toolbar > md-tabs > md-tabs-wrapper > md-tabs-canvas > md-pagination-wrapper > md-tab-item:not([disabled]).md-focused {      background: rgba(0,0,0,0.1);}md-toast.md-default-theme .md-toast-content .md-button.md-highlight.md-primary , md-toast .md-toast-content .md-button.md-highlight.md-primary {        color: rgb(76,163,224);}md-toolbar.md-default-theme:not(.md-menu-toolbar) , md-toolbar:not(.md-menu-toolbar) {  background-color: rgb(18,68,4);  color: rgba(0,0,0,0.87);}md-toolbar.md-default-theme:not(.md-menu-toolbar) md-icon , md-toolbar:not(.md-menu-toolbar) md-icon {    color: rgba(0,0,0,0.87);    fill: rgba(0,0,0,0.87);}md-toolbar.md-default-theme:not(.md-menu-toolbar) .md-button[disabled] md-icon , md-toolbar:not(.md-menu-toolbar) .md-button[disabled] md-icon {    color: rgba(0,0,0,0.26);    fill: rgba(0,0,0,0.26);}

.md-button.md-default-theme:not([disabled]):hover, .md-button:not([disabled]):hover {
    background-color: rgba(158,158,158,0.2);
}
    </style>
    

 
    <asp:ContentPlaceHolder ID="pagehead" runat="server">
    </asp:ContentPlaceHolder>
    <asp:ContentPlaceHolder ID="CustomTopHeadHolder" runat="server" />
   <%-- <dx:Head ID="Head" runat="server" />--%>
    <asp:ContentPlaceHolder ID="CustomHeadHolder" runat="server" />
    <style>
    body
    {
        font-size:13px
     }
    .page {
    padding: 15px;
    padding-top: 10px;
        padding-right: 5px;
}
    .panel {
    overflow: hidden;
    font-size: 12px;
        margin-bottom: 20px;
    background-color: #fff;
    border: 1px solid transparent;
}
.panel-default {
    border-color: #ddd;
    box-shadow: 2px 2px 7px #D8D8D8;
}
span:focus {
    outline:none !important;
}

    </style>
</head>
<body ng-app="app"  data-gr-c-s-loaded="true" class="ng-scope" cz-shortcut-listen="true" style="background-color: #f3f3f3;">
    <form id="form1" runat="server">
    <md-toolbar id="header" layout="row" layout-align="space-between center" class="_md layout-align-space-between-center layout-row _md-toolbar-transitions">
        <span ng-controller="AppCtrl" style=" 
 word-spacing:5px !important; margin-left:10px;" ng-click="toggleSidenav('left')" class="ng-scope" role="button" tabindex="0"><img src="../Admin/images/Revenue-Guard_New_White _173x40.png" ><%--<i class="fa fa-bars" aria-hidden="true"></i><b style="margin-left:20px;">Revenue Guard<b></b></b>--%></span><b style="margin-left:20px;"><b>
        <span class="filterIcon ng-scope" ng-click="showfilter()" ng-controller="AppCtrl" id="subHeader" style="margin-right:10px;" role="button" tabindex="0"> <h2 class="md-toolbar-item md-breadcrumb md-headline"> <i class="fa fa-filter" aria-hidden="true"></i></h2> </span>
    </b></b></md-toolbar><b style="margin-left:20px;"><b>
    <div class="fill-height">
        <!-- uiView: --><div ui-view="" width="device-width" id="indexView" class="ng-scope"><div layout="row" class="ng-scope layout-row">
    <md-sidenav id="sidebar" layout="column" class="site-sidenav md-sidenav-left md-whiteframe-z2 hide-print md-closed ng-isolate-scope _md layout-column md-locked-open" md-component-id="left" hide-print="" md-is-locked-open="$mdMedia('gt-sm')" id="sidenav" tabindex="-1" style="display:none;">
        <header class="nav-header ng-scope" ng-controller="LoginControl" style="text-align:center;">
            <div style="margin-left:7%; margin-top:4%">
                <img src="../Admin/images/icons/User-Icon2.png" id="headerSidenavLogo">
            </div>
            <b style="font-size:12px; color:#777;margin-right:10px;" ng-model="Guestname" class="ng-pristine ng-untouched ng-valid ng-binding ng-not-empty" aria-invalid="false">Hi, <asp:Label ID="lblUser" runat="server"></asp:Label></b>
        </header>
        <md-content role="navigation" style="max-width:218px !important;" class="_md">
            <ul class="side-menu" runat="server" >
                <!-- ngRepeat: section in vm.menu.sections -->
                <li id="li_1" ng-repeat="section in vm.menu.sections" class="parent-list-item ng-scope" ng-class="{'parentActive' : vm.isSectionSelected(section)}">
                
                    <menu-link section="section" ng-if="section.type === 'link'" class="ng-scope ng-isolate-scope">
                        <a class="md-button md-ink-ripple " ng-transclude="" ui-sref-active="active" ui-sref="home.report.overview" ng-click="callWebService(section.pageUrl,section.id);" onclick="redirectURL('li_1',1,'../Admin/RoleManagement.aspx');"  href="#">

<div style="width:100%;"><div style="width:14%;float:left;padding-top: 7px;"><img class="menuIcon ng-scope" src="../Admin/images/2. Role_Management_Normal.png" style="width: 20px; height: 20px;"></div>
<div  style="width:85%;padding-top: 17px;"><span class="ng-binding ng-scope">  Role Management
</span></div></div>
                            <div class="md-ripple-container"></div></a>
</menu-link>
                </li>
               
                <li id="li_2" ng-repeat="section in vm.menu.sections" class="parent-list-item ng-scope" ng-class="{'parentActive' : vm.isSectionSelected(section)}">
                   <menu-link section="section" ng-if="section.type === 'link'" class="ng-scope ng-isolate-scope"><a class="md-button md-ink-ripple" ng-transclude="" ui-sref-active="active" ui-sref="home.report.avgDays" ng-click="callWebService(section.pageUrl,section.id);" onclick="redirectURL('li_2',2,'../Admin/UserManagement.aspx');" href="#">
<div style="width:100%;"><div style="width:14%;float:left;padding-top: 7px;"><img class="menuIcon ng-scope" src="../Admin/images/1. User_Management_Click.png" style="width: 20px; height: 20px;">
    </div>
<div  style="width:85%;padding-top: 17px;"><span class="ng-binding ng-scope">  User Management
</span></div></div></a>
</menu-link>
                </li>
                <!-- end ngRepeat: section in vm.menu.sections -->
                <li id="li_3" ng-repeat="section in vm.menu.sections" class="parent-list-item ng-scope" ng-class="{'parentActive' : vm.isSectionSelected(section)}">
                    <!-- ngIf: section.type === 'heading' -->
                    <!-- ngIf: section.type === 'link' --><menu-link section="section" ng-if="section.type === 'link'" class="ng-scope ng-isolate-scope"><a class="md-button md-ink-ripple" ng-transclude="" ui-sref-active="active" ui-sref="home.report.waitToBeBilled" ng-click="callWebService(section.pageUrl,section.id);" onclick="redirectURL('li_3',3,'../Admin/UserAccessBypass.aspx');" href="#">
<div style="width:100%;"><div style="width:14%;float:left;padding-top: 7px;"><img class="menuIcon ng-scope" src="../Admin/images/7. User_bypass_Login_Click.png" style="width: 20px; height: 20px;">
    </div>
<div  style="width:85%;padding-top: 17px;"><span class="ng-binding ng-scope">  User Login By-Pass
</span></div></div></a>
</menu-link><!-- end ngIf: section.type === 'link' -->
                    <!-- ngIf: section.type === 'toggle' -->
                </li>
                
                <li id="li_4" ng-repeat="section in vm.menu.sections" class="parent-list-item ng-scope" ng-class="{'parentActive' : vm.isSectionSelected(section)}">
                    <!-- ngIf: section.type === 'heading' -->
                    <!-- ngIf: section.type === 'link' --><menu-link section="section" ng-if="section.type === 'link'" class="ng-scope ng-isolate-scope"><a class="md-button md-ink-ripple" ng-transclude="" ui-sref-active="active" ui-sref="home.report.dos_dou" ng-click="callWebService(section.pageUrl,section.id);" onclick="redirectURL('li_4',4,'../Admin/UserIPBlockUnBlock.aspx');" href="#">
<div style="width:100%;"><div style="width:14%;float:left;padding-top: 7px;"><img class="menuIcon ng-scope" src="../Admin/images/4. IP_Click.png" style="width: 20px; height: 20px;"></div>
<div  style="width:85%;padding-top: 17px;"><span class="ng-binding ng-scope">  User IP Block Unblock
</span></div></div><div class="md-ripple-container"></div></a>
</menu-link><!-- end ngIf: section.type === 'link' -->
                    <!-- ngIf: section.type === 'toggle' -->
                </li>
                <%-- <li id="li_5" ng-repeat="section in vm.menu.sections" class="parent-list-item ng-scope" ng-class="{'parentActive' : vm.isSectionSelected(section)}">
                    <menu-link section="section" ng-if="section.type === 'link'" class="ng-scope ng-isolate-scope"><a class="md-button md-ink-ripple" ng-transclude="" ui-sref-active="active" ui-sref="home.report.dos_dou" ng-click="callWebService(section.pageUrl,section.id);" onclick="redirectURL('li_5',5,'../Login/ChangePassword.aspx');" href="#">
<div style="width:100%;"><div style="width:14%;float:left;padding-top: 7px;"><img class="menuIcon ng-scope" src="../Admin/images/5. Change_Password_Click.png" style="width: 20px; height: 20px;"></div>
<div  style="width:85%;padding-top: 17px;"><span class="ng-binding ng-scope">  Change Password
</span></div></div><div class="md-ripple-container"></div></a>
</menu-link>
                </li>--%>

                <li id="li_6" ng-repeat="section in vm.menu.sections" class="parent-list-item ng-scope" ng-class="{'parentActive' : vm.isSectionSelected(section)}">
                    <!-- ngIf: section.type === 'heading' -->
                    <!-- ngIf: section.type === 'link' --><menu-link section="section" ng-if="section.type === 'link'" class="ng-scope ng-isolate-scope">
                        
                        <a class="md-button md-ink-ripple" ng-transclude="" ui-sref-active="active" ui-sref="home.report.avgCashCollectedPerTrip" ng-click="callWebService(section.pageUrl,section.id);" onclick="redirectURL('li_6',6,'../Login/ChangePassword.aspx');" href="#">
<div style="width:100%;"><div style="width:14%;float:left;padding-top: 7px;"><img class="menuIcon ng-scope" src="../Admin/images/5. Change_Password_Click.png" style="width: 20px; height: 20px;"></div>
<div  style="width:85%;padding-top: 17px;"><span class="ng-binding ng-scope">  Change Password
</span></div></div><div class="md-ripple-container"></div></a>
</menu-link><!-- end ngIf: section.type === 'link' -->
                    <!-- ngIf: section.type === 'toggle' -->
                </li>

                
                <li ng-repeat="section in vm.menu.sections" class="parent-list-item ng-scope" ng-class="{'parentActive' : vm.isSectionSelected(section)}">
                    <!-- ngIf: section.type === 'heading' -->
                    <!-- ngIf: section.type === 'link' --><menu-link section="section" ng-if="section.type === 'link'" class="ng-scope ng-isolate-scope">
                        <asp:LinkButton ID="lnk_logout" runat="server" class="md-button md-ink-ripple" OnClick="lnk_logout_Click">
                       <%-- <a class="md-button md-ink-ripple" ng-transclude="" ui-sref-active="active" ui-sref="login" ng-click="callWebService(section.pageUrl,section.id);" href="#/login">--%>
<div style="width:100%;"><div style="width:14%;float:left;padding-top: 7px;"><img class="menuIcon ng-scope" src="../Admin/images/icons/Logout.png" style="width: 20px; height: 20px;"></div>
<div  style="width:85%;padding-top: 17px;"><span class="ng-binding ng-scope">  Logout
</span></div></div></asp:LinkButton><%--</a>--%>
</menu-link><!-- end ngIf: section.type === 'link' -->
                    <!-- ngIf: section.type === 'toggle' -->
                </li>
                
                <!-- end ngRepeat: section in vm.menu.sections -->
            </ul>
        </md-content>
    </md-sidenav>
  

            


            <div ui-view="" name="content" class="innerView ng-scope" style="position: fixed;margin-top: 20px !important;background-color: #f3f3f3;">
                <div id="reportContent" class="reportContent ng-scope" 
                   <%-- style="bottom:2% !important; margin-left: 17% !important; margin-right:10px !important;    padding-top: 1% !important;width: 82% !important;"--%>
                  style="float:right;"  >
                    <div class="page ng-scope" id="div_body_view" style="background-color: #f3f3f3;">
                    <section class="panel panel-default" style="    border-top: 2px solid #c6c6c6;
    border-radius: 4px;">
     <asp:ContentPlaceHolder ID="ContentHolder" runat="server" />
                        </section>
                        </div>



    </div></div>


   
   
</div>
</div>
    </div>
    <md-toolbar id="footer" layout="row" layout-align="space-between center" style="bottom:0 !important; " class="_md layout-align-space-between-center layout-row _md-toolbar-transitions">
        <span id="leftFooterSpan" style="line-height: 32px;font-size: 11px; font-weight: bolder; margin-left:10px;">
               All Rights Reserved. © <span id="lblyear1" runat="server"></span>.
        </span>
        <span id="rightFooterSpan" style="line-height: 32px;font-size: 11px;margin-right:10px;"><!-- Powered by Global RCP -->
               <%-- <img src="../Admin/images/icons/GlobalITP_BrandingLogo.png" style="height:28px; margin-top: 2px; margin-right:10px;">--%>
            Powered by Global ITP
                </span>
    </md-toolbar>
    <div class="divmask" id="divmask" style="display: none;">
    </div>
    <%--<div align="center" class="divloading" id="divloading" style="display: none;">
        <table cellspacing="0" cellpadding="0" style="height: 100%; border-collapse: collapse;" class="">
            <tbody>
                <tr>
                    <td style="" class="dx">
                        <img src="./images/icons/Loader_Circular.gif" id="loader">
                    </td>
                </tr>
            </tbody>
        </table>
    </div>--%>




<!-- &#8211;{{thisYear}}. -->
</b></b><div class="offline-ui offline-ui-up"><div class="offline-ui-content"></div><a href="" class="offline-ui-retry"></a></div>
        <div style="display: none">
                    <iframe id="iframeExport"></iframe>
       </div>
        
         <script type="text/javascript">
             function SetMenuSelected()
             {
                 var li_active = getCookie("active_menu");
                 // alert(li_active);
                 if (li_active != "" && li_active != null) {
                     $(".side-menu li a.active").removeClass("active");
                     $("#li_" + li_active.toString() + " a").addClass("active");
                     if(window.location.href.toString().toLowerCase().indexOf("changepassword.aspx")>-1)
                     {
                         setCookie("active_menu", 6, 365);
                         $(".side-menu li a.active").removeClass("active");
                         $("#li_6 a").addClass("active");
                     }
                 }
                 else {
                     $(".side-menu li a.active").removeClass("active");
                     $("#li_1 a").addClass("active");
                     setCookie("active_menu", "1", 365);
                 }
             }

             function redirectURL(id,menu_id, URL)
             {
                 $(".side-menu li a.active").removeClass("active");
                 $('#' + id).addClass('active');
                 
                 setCookie("active_menu", menu_id, 365);
                 
                window.location.href = URL;
             }

             $(document).ready(function () {
                 SetMenuSelected();

                 //$('.side-menu li a').click(function () {
                 //    $(".side-menu li a.active").removeClass("active");
                 //    $(this).addClass('active');
                 //    alert($(this)[0].parentElement.parentElement.id);
                 //    setCookie("active_menu", $(this)[0].parentElement.parentElement.id.split('_')[1], 365);
                 //});

                 if($('#lblIsAdmin').text()=="0")
                     $('#li_3,#li_4').remove();
             });

             // Set Cookie
             function setCookie(cname, cvalue, exdays) {
                 var d = new Date();
                 d.setTime(d.getTime() + (exdays * 24 * 60 * 60 * 1000));
                 var expires = "expires=" + d.toUTCString();
                 
                 document.cookie = cname + "=" + cvalue + "; " + expires;
                 //(cvalue);

             }

             // Get Cookies which is already set
             function getCookie(cname) {
                 var name = cname + "=";
                 var ca = document.cookie.split(';');
                 for (var i = 0; i < ca.length; i++) {
                     var c = ca[i];
                     while (c.charAt(0) == ' ') c = c.substring(1);
                     if (c.indexOf(name) == 0) return c.substring(name.length, c.length);
                 }

             }
             </script>
        <asp:Label ID="lblIsAdmin" runat="server" style="display:none;"></asp:Label>
         </form>
        </body>

</html>
