body {
	font-family: arial;
	margin: 0px; /* for IE6 / IE7 */
}

/* drag objects (DIV inside table cells) */
.drag {
	cursor: move;
	margin: auto;
	background-color: Transparent;
	text-align: center;
	font-size: 12pt; /* needed for cloned object */
	width: auto;/*87px;*/
	/*height: 35px;*/
	line-height: 15px;
	/* round corners */
	border-radius: 4px; /* Opera, Chrome */
	-moz-border-radius: 4px; /* FF */
}

/* make drag container visible */
/*
#drag {
	border: 2px dashed LightBlue;
	display: table;
	margin: auto;
	padding: 3px;
}
*/
#drag {
	  text-align: left;
	  width: 720px;
	  /*margin-left: auto;
	  margin-right: auto;*/
	  display: table;
	margin: auto;
}

#options{
	width: 200px;/*200px*/
	height:800px;
	border:1px solid black;
	float:left;
}

#frame{
	width:513px;/*513px;*/
	height:800px;
	/*background-image: url("../images/UK-Map.gif");*/
	background-repeat: repeat-y;
    	background-position: 0 0;
    	border:1px solid black;
    	float:right;
}
/* tables */
div#drag table {
	background-color: transparent;/*#F2F5F7;*/
	border-collapse: collapse;
	margin: 10px;
}

/* table cells */
div#drag td {
	/*border: 1px #AED0EA solid;*/
	height: 30px;
	text-align: center;
	font-size: 10pt;
	padding: 2px;
}
#table2
{
    width:493px;/*320px;*/
}
#table1 td 
{
    border: 1px #AED0EA solid;
}
/* blue objects */
.blue {
	border-color: Transparent;
}

/* orange objects */
.orange {
	border: 2px solid #A65A3C;
}

/* trash cell */
.trash {
	color: white;
	background-color: #2779AA;
	width:100%;
}

/*
.instructions {
	width: 420px;
	margin: 15px auto 0px auto;
	color: #555;
	font-size: 11px;
	text-align: justify;
}
*/
