@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700);
@import url('font-awesome.css');

/* demo page styles */
html
{
    height: 100%;
}
body
{
    background: #fff;
    margin: 0;
    padding: 0;
    font-family: 'Lato' , Calibri, Arial, sans-serif;
    font-size: 11px;
}



a
{
    color: #555;
    text-decoration: none;
}

.header
{
    background: none;
    height: 100%;
}
.example
{
    position: relative;
    margin: 0;
    padding: 0;
    width: 100%;
    background: transparent;
}

/* main menu styles */


/* tabs section */
#tabs-container
{
    clear: both;
    font-size: 11px;
    height: 70px;
    margin: 0 auto;
    padding: 10px 0;
    background: #fff;
    min-width: 100%;
}
#tabs-containerReport
{
 display: block;
    font-size: 11px;
    height: 50px;
    margin: 0 auto;
    padding: 1px;
    position: absolute;
    right: 0;
    top: 49px;
    z-index: 1;
}
.tabs li
{
    float: left;
    list-style: none;
    position: relative;
}
.tabs li a:first-child
{
    /*  margin-left:10px*/
}
.tabs li a
{
    background-color: Transparent;
    color: #003366;
    display: block;
    margin: 0 2px 0 0;
    padding: 6px 10px 4px;
    height: 77px;
    line-height: 77px;
    font-size: 16px;
    font-family: Verdana;
    font-variant: small-caps;
    font-weight: bold;
    text-decoration: none;
}
.tabs li a img
{
    vertical-align: middle;
}
.tabs li.active
{
    background: url(../images/menuhover-r.png) 100% no-repeat;
}
.tabs li.active a
{
    background: url(../images/menuhover-l.png) 0 0 no-repeat;
    color: #000;
}
.tabs li.child a
{
    -webkit-border-radius: 0 4px 0 0;
    background: #f3f3f3;
    border-radius: 0 4px 0 0;
    color: #333;
    display: block;
    margin: 0;
    padding: 6px 10px 4px;
}
.tabs li a:hover
{
    /*  background:#fafafa;     border-bottom:1px solid #d5d5d5;     color:#fff;     text-decoration:none*/
}

.tabs li:hover
{
    background: url(../images/menuhover-r.png) 100% no-repeat;
}
.tabs li:hover a
{
    background: url(../images/menuhover-l.png) 0 0 no-repeat;
    color: #000;
}


/* Targeting the first level menu */
.tabs
{
    display: block;
    margin: 0;
    padding: 1px 0 2px;
    position: absolute;
    z-index: 100;
}
.tabs > li > a:hover
{
    background: url(../images/menuhover-l.png) 0 0 no-repeat;
    color: #000;
}
.tabs > li.active > a:hover
{
    /*-moz-border-radius: 3px 3px 0 0; 	-webkit-border-radius: 3px 3px 0 0; 	background: #fff; 	border-bottom: 1px solid #fff; 	border-radius: 3px 3px 0 0; 	color: #222;*/
}

/*Middle Drop-Down Navigation*/
#nav-container
{
    clear: both;
    font-size: 14px;
    height: 30px;
    margin: 0;
    padding: 0;
    font-weight: bold;
    background: #99CC33;
    min-width: 100%;
}

/* Targeting both first and second level menus */
.nav li
{
    float: left;
    list-style: none;
    position: relative;
}
.nav li a
{
    background: transparent;
    border: none;
    color: #fff;
    display: block;
    text-decoration: none;
    height: 40px;
    line-height: 40px;
    margin: 0;
    padding: 0 20px;
}

/* Targeting the first level menu */
.nav
{
    margin: 0;
    padding: 0;
}
.nav > li > a:hover
{
    background-color: transparent;
    color: #003399;
    padding: 0 20px;
}

/* Targeting the second level menu */
.nav li ul
{
    -moz-border-radius-bottomleft: 3px;
    -moz-border-radius-bottomright: 3px;
    -moz-border-radius-topright: 3px;
    -moz-box-shadow: 1px 1px 1px #333;
    -webkit-border-bottom-right-radius: 3px;
    -webkit-box-shadow: 1px 1px 1px #333;
    background: #454545;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    border-top-right-radius: 3px;
    box-shadow: 1px 1px 1px #333;
    color: #222;
    display: none;
    margin: 0;
    padding: 2px 0;
    position: absolute;
    width: 140px;
}
.nav li ul li
{
    width: 100%;
}
.nav li ul li a
{
    background: #454545;
    border: none;
    color: #fff;
    line-height: 40px;
    margin: 0;
    padding: 0 0 0 8px;
}
.nav li ul li a:hover
{
    background: #7a7e8d;
}
.nav li ul li.strong-archive a
{
    border-top: 1px solid #7a7e8d;
    font-weight: 600;
}

/* A class of current will be added via jQuery */
.nav li.current > a
{
    background-color: #454545;
    color: #fff;
}

/* CSS fallback */
.nav li:hover > ul.child
{
    display: block;
}
.ccalogo
{
    background: transparent url(    '../images/ccalogo.jpg' ) no-repeat;
    width: 304px;
    height: 63px;
}
.marslogo
{
    background: transparent url(    '../images/marslogo.jpg' ) no-repeat;
    width: 229px;
    height: 70px;
}
.bluestrip
{
    background: transparent url(    '../images/bluestrip.png' ) repeat-x;
    height: 28px;
    margin-top: 3px;
}
.footer
{
    background: transparent url(   "../images/footerbg.jpg" ) repeat-x;
    bottom: 0;
    color: #4D4F53;
    height: 49px;
    position:relative;
    vertical-align: middle;
    width: 100%;
    min-width: 98%;
}
.clear
{
    clear: both;
}
.left
{
    float: left;
    margin-left:10px;
    padding-left: 10px;    
}
.right
{
    float: right;
    text-align: right;
    margin-right:10px;
    padding-right: 10px;
}
.contant
{
    min-height: 550px;
}
.iScrollWrapper
{
    position: absolute;
    z-index: 1;
    bottom: 0;
    left: 0;
    top: 170px;
    width: 100%;
    overflow: auto;
    bottom: 49px;
}
.nav1 li
{
    list-style: none;
    position: relative;
}
.nav1 li a
{
    background: transparent;
    border: none;
    color: #4d4f53;
    display: block;
    text-decoration: none;
    height: 40px;
    line-height: 40px;
    margin: 0;
    padding: 0 20px;
}

/* Targeting the first level menu */
.nav1
{
    margin: 0;
    padding: 0;
}
.form-1 button:active
{
    background: #42A2BC;
    box-shadow: inset 0 0 5px rgba(0,0,0,0.3), inset 0 3px 4px rgba(0,0,0,0.3);
}
.form-2
{
    /* Size and position */
    width: 340px;
    margin: 5% auto 5% auto;
    margin-top: 0;
    padding: 15px;
    position: relative; /* Styles */
    background: #e6e6e6;
    border-radius: 4px;
    color: #7e7975;
    box-shadow: 0 2px 2px rgba(0,0,0,0.2), 0 1px 5px rgba(0,0,0,0.2), 0 0 0 12px rgba(0,0,0,0.4);
    behavior: url(PIE-1.0.0/PIE.htc);
}

.form-2 h1
{
    font-size: 18px;
    font-weight: bold;
    color: #bdb5aa;
    padding-bottom: 8px;
    border-bottom: 1px solid #d7d7d7;
    text-shadow: 0 2px 0 rgba(255,255,255,0.8);
    box-shadow: 0 1px 0 rgba(255,255,255,0.8);
    text-align: center;
}
.form-2 h1 .log-in, .form-2 h1 .sign-up
{
    display: inline-block;
    text-transform: capitalize;
}

.form-2 h1 .log-in
{
    color: #6c6763;
    padding-right: 2px;
}
.form-2 label
{
    display: block;
    padding: 0 0 5px 2px;
    cursor: pointer; /*  text-transform: capitalize;*/
    font-weight: bold;
    font-size: 14px;
    text-align: left;
}

.form-2 label i
{
    margin-right: 5px; /* Gap between icon and text */
    display: inline-block;
    width: 10px;
}
.form-2 input[type=text], .form-2 input[type=password]
{
    font-family: 'Lato' , Calibri, Arial, sans-serif;
    font-size: 13px;
    font-weight: 400;
    display: block;
    width: 300px;
    padding: 5px;
    margin-bottom: 5px;
    border: 3px solid #d7d7d7;
    border-radius: 5px;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

.form-2 input[type=text]:hover, .form-2 input[type=password]:hover
{
    border-color: #CCC;
}

.form-2 label:hover ~ input
{
    border-color: #CCC;
}

.form-2 input[type=text]:focus, .form-2 input[type=password]:focus
{
    border-color: #BBB;
    outline: none; /* Remove Chrome's outline */
}
.form-2 input[type=submit], .form-2 input[type=reset], .form-2 .log-twitter, .bb
{
    /* Size and position */
    width: 40%; /* height: 38px;   position: relative;*/
    float: left; /* Styles */
    box-shadow: inset 0 1px rgba(255,255,255,0.3);
    border-radius: 3px;
    cursor: pointer; /* Font styles */
    font-family: 'Lato' , Calibri, Arial, sans-serif;
    font-size: 14px;
    line-height: 20px; /* Same as height */
    text-align: center;
    font-weight: bold;
}
.bbf
{
   
}
.form-2 input[type=reset], .form-2 input[type=submit], .canc
{
    margin-left: 1%;
    background: #99CC33; /* Fallback */
    background: -moz-linear-gradient(#99CC33, #7BAD19);
    background: -ms-linear-gradient(#99CC33, #7BAD19);
    background: -o-linear-gradient(#99CC33, #7BAD19);
    background: -webkit-gradient(linear, 0 0, 0 100%, from(#99CC33), to(#7BAD19));
    background: -webkit-linear-gradient(#99CC33, #7BAD19);
    background: linear-gradient(#99CC33, #7BAD19);
    border: 1px solid #99CC33;
    color: #fff;
    text-shadow: 0 1px rgba(0,0,0,0.8);
    padding: 10px 0;
}
#lfrom
{
    margin: 5% auto 5% auto;
    position: relative;
    width: 100%;
}
.lbl1
{
    margin-left: -23px;
}
.facility
{
    /* Size and position */
    width: 94%;
    margin: 2% 2%;
    padding: 15px;
    position: relative; /* Styles */
    background: #e6e6e6;
    border-radius: 4px;
    color: #7e7975;
    box-shadow: 0 2px 2px rgba(0,0,0,0.2), 0 1px 5px rgba(0,0,0,0.2), 0 0 0 12px rgba(0,0,0,0.4);
    behavior: url(PIE-1.0.0/PIE.htc);
    min-height: 450px;
}

.facility h1
{
    font-size: 18px;
    font-weight: bold;
    color: #bdb5aa;
    padding-bottom: 8px;
    border-bottom: 1px solid #d7d7d7;
    text-shadow: 0 2px 0 rgba(255,255,255,0.8);
    box-shadow: 0 1px 0 rgba(255,255,255,0.8);
    text-align: center;
}
.facility h1 .log-in, .form-2 h1 .sign-up
{
    display: inline-block;
    text-transform: capitalize;
}

.facility h1 .log-in
{
    color: #6c6763;
    padding-right: 2px;
}
.reportcenter
{
    display: inline-block;
    text-transform: capitalize;
    color: #ffffff;
    padding-right: 2px;
}
.reportcenter i
{
    margin-right: 5px; /* Gap between icon and text */
    display: inline-block;
    width: 10px;
}
.facility label
{
    display: block;
    padding: 0 0 5px 2px;
    cursor: pointer; /*  text-transform: capitalize;*/
    font-weight: bold;
    font-size: 14px;
    text-align: left;
}
.facilitylogos
{
    float: left;
    width: 100%;
    background: transparent;
    overflow: hidden;
    position: relative;
    height:350px;
    margin-top:20px;   
    
    /*
    float: left;
    margin-left: 16em;
    margin-top: 6%;*/
}
.facilitylogos ul
{
    clear: left;
    float: left;
    list-style: none;
    margin: 0;
    padding: 0;
    position: relative;
    left: 50%;
    text-align: center;
}
.facilitylogos ul li
{
    width: 190px;
    height: 125px;
    margin: 5% 10px;
    position: relative; /* Styles */
    background: #fff;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border: 1px solid #7a7e8d;
    display: block;
    float: left;
    list-style: none;
    padding: 5px;
    position: relative;
    right: 50%;
}
.facilitylogos li img
{
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
}

div.box div.overlay
{
    display: none;
}
div.overlay
{
    display: none;
}
div.overlay
{
    min-width: 320px;
    min-height: 200px;
    background: transparent url( '../images/fhoverbg.png' ) repeat;
    position: relative;
    top: -100px;
    left: 50px;
    z-index: 1000;
    border: 1px solid #7a7e8d;
    overflow:hidden;
    float: left;
}

div.box:hover div.overlay
{
    display: block;
    min-width: 320px;
    min-height: 200px;
    background: transparent url( '../images/fhoverbg.png' ) repeat;
    position: relative;
    top: -100px;
    left: 50px;
    z-index: 1000;
    border: 1px solid #7a7e8d;
    overflow:hidden;
    float: left;
    
}
div.box:hover div.overlay label
{
    display: block;
    padding: 0 0 5px 2px;
    cursor: pointer; /*  text-transform: capitalize;*/
    font-weight: bold;
    font-size: 14px;
    text-align: left;
    float: left;
    min-width: 100px;
    color: #000;
}

div.box:hover div.overlay h2
{
    color: #000;
}
div.box:hover div.overlay input[type=submit], .canc
{
    /* Size and position */ /* height: 38px;   position: relative;*/
    float: left; /* Styles */
    box-shadow: inset 0 1px rgba(255,255,255,0.3);
    border-radius: 3px;
    cursor: pointer; /* Font styles */
    font-family: 'Lato' , Calibri, Arial, sans-serif;
    font-size: 14px;
    line-height: 20px; /* Same as height */
    text-align: center;
    font-weight: bold;
}
div.box:hover div.overlay a.canc
{
    margin-left: 1%;
    background: #99CC33; /* Fallback */
    background: -moz-linear-gradient(#99CC33, #7BAD19);
    background: -ms-linear-gradient(#99CC33, #7BAD19);
    background: -o-linear-gradient(#99CC33, #7BAD19);
    background: -webkit-gradient(linear, 0 0, 0 100%, from(#99CC33), to(#7BAD19));
    background: -webkit-linear-gradient(#99CC33, #7BAD19);
    background: linear-gradient(#99CC33, #7BAD19);
    border: 1px solid #99CC33;
    color: #fff;
    text-shadow: 0 1px rgba(0,0,0,0.8);
    padding: 5px 0;
}
.reportschoose
{
    background: #fff;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border: 1px solid #7a7e8d;
    width: 96%;
    float: left;
    margin-left: 2%;
    vertical-align: middle;
    padding: 30px 0;
    margin-bottom:2%;
}
.reportschoose div
{
    float: left;
    padding: 0 5px;
}
.reportschooseblack
{
    background: #3d3d47;
    width: 100%;
    float: left;
    vertical-align: middle;
    padding: 10px 0;
    min-height: 32px;
    min-width: 100%;
}
.reportschooseblack div
{
    float: left;
    padding: 0 5px;
}
.uppertopreport 
{
    background: #48aba6;
    height:50px;
    width: 100%;
}
.reportdiv
{
    line-height: 30px;
    margin: 0 25px;
}
.reportcenter
{
    display: inline-block;
    text-transform: capitalize;
    padding-right: 2px;
    font-size: 14px;
    font-weight: bold;
    margin: 0;
    line-height: 30px;
    width:190px;
}
.reportcenter i
{
    margin-right: 10px; /* Gap between icon and text */
    display: inline-block;
    width: 15px;
}
.reportname
{
    display: inline-block;
    padding-right: 2px;
    font-size: 15px;
    font-weight: bold;
    margin: 0;
    line-height: 23px;
    color: #6c6763;
    text-align: left;
}
.reportname i
{
    margin-right: 10px; /* Gap between icon and text */
    display: inline-block;
    width: 15px;
}
.mpheader
{
    display: inline-block;
    text-transform: capitalize;
    color: #6c6763;
    padding-right: 2px;
    font-size: 13px;
    margin: 0 25px;
    line-height: 25px;
    text-align: right;
}
.mpheader i
{
    margin-left: 10px; /* Gap between icon and text */
    display: inline-block;
    width: 15px;
    font-size: 14px;
}
.mpchngfact
{
    display: inline-block;
    text-transform: capitalize;
    color: #6c6763;
    padding-right: 2px;
    font-size: 13px;
    margin: 0 25px;
    line-height: 25px;
    text-align: right;
}
.mpchngfact i
{
    margin-right: 10px; /* Gap between icon and text */
    display: inline-block;
    width: 15px;
    font-size: 14px;
}

.allfacility
{
    display: block;
    padding: 5px 0 5px 2px;
    cursor: pointer; /*  text-transform: capitalize;*/
    font-weight: bold;
    font-size: 14px;
    text-align: center;
    color: #7e7975;
    cursor: default;
}

.cancgo
{
   /* Size and position / / height: 38px;   position: relative;*/
   float: left; /* Styles */
   box-shadow: inset 0 1px rgba(255,255,255,0.3);
   border-radius: 3px;
   cursor: pointer; /* Font styles */
   font-family: 'Lato' , Calibri, Arial, sans-serif;
   font-size: 14px;
   line-height: 29px; /* Same as height */
   text-align: center;
   font-weight: bold;
   margin-left: 1%;
   background: #99CC33; /* Fallback */
   background: -moz-linear-gradient(#99CC33, #7BAD19);
   background: -ms-linear-gradient(#99CC33, #7BAD19);
   background: -o-linear-gradient(#99CC33, #7BAD19);
   background: -webkit-gradient(linear, 0 0, 0 100%, from(#99CC33), to(#7BAD19));
   background: -webkit-linear-gradient(#99CC33, #7BAD19);
   background: linear-gradient(#99CC33, #7BAD19);
   border: 1px solid #99CC33;
   color: #fff;
   text-shadow: 0 1px rgba(0,0,0,0.8);
   padding: 0 5px;
   width:45px;
}
.cancgo i
{
   margin-left:5px;
}
.appresSave
{
   /* Size and position / / height: 38px;   position: relative;*/
   float: left; /* Styles */
   box-shadow: inset 0 1px rgba(255,255,255,0.3);
   border-radius: 3px;
   cursor: pointer; /* Font styles */
   font-family: 'Lato' , Calibri, Arial, sans-serif;
   font-size: 14px;
   line-height: 29px; /* Same as height */
   text-align: center;
   font-weight: bold;
   margin-left: 15px;
   background: #99CC33; /* Fallback */
   background: -moz-linear-gradient(#99CC33, #7BAD19);
   background: -ms-linear-gradient(#99CC33, #7BAD19);
   background: -o-linear-gradient(#99CC33, #7BAD19);
   background: -webkit-gradient(linear, 0 0, 0 100%, from(#99CC33), to(#7BAD19));
   background: -webkit-linear-gradient(#99CC33, #7BAD19);
   background: linear-gradient(#99CC33, #7BAD19);
   border: 1px solid #99CC33;
   color: #fff;
   text-shadow: 0 1px rgba(0,0,0,0.8);
   padding: 0 5px;
   width:45px;
   margin-bottom:15px;
   margin-top:15px;
}
.appresSave i
{
   margin-left:5px;
}
.appresBack
{
   /* Size and position / / height: 38px;   position: relative;*/
   float: right; /* Styles */
   box-shadow: inset 0 1px rgba(255,255,255,0.3);
   border-radius: 3px;
   cursor: pointer; /* Font styles */
   font-family: 'Lato' , Calibri, Arial, sans-serif;
   font-size: 14px;
   line-height: 29px; /* Same as height */
   text-align: center;
   font-weight: bold;
   margin-right: 2%;
   background: #99CC33; /* Fallback */
   background: -moz-linear-gradient(#99CC33, #7BAD19);
   background: -ms-linear-gradient(#99CC33, #7BAD19);
   background: -o-linear-gradient(#99CC33, #7BAD19);
   background: -webkit-gradient(linear, 0 0, 0 100%, from(#99CC33), to(#7BAD19));
   background: -webkit-linear-gradient(#99CC33, #7BAD19);
   background: linear-gradient(#99CC33, #7BAD19);
   border: 1px solid #99CC33;
   color: #fff;
   text-shadow: 0 1px rgba(0,0,0,0.8);
   padding: 0 5px;
   width:45px;
   margin-bottom:15px;
}
.appresBack i
{
   margin-left:5px;
}
.canccompare
{
   /* Size and position / / height: 38px;   position: relative;*/
   float: left; /* Styles */
   box-shadow: inset 0 1px rgba(255,255,255,0.3);
   border-radius: 3px;
   cursor: pointer; /* Font styles */
   font-family: 'Lato' , Calibri, Arial, sans-serif;
   font-size: 14px;
   line-height: 29px; /* Same as height */
   text-align: center;
   font-weight: bold;
   margin-left: 1%;
   background: #99CC33; /* Fallback */
   background: -moz-linear-gradient(#99CC33, #7BAD19);
   background: -ms-linear-gradient(#99CC33, #7BAD19);
   background: -o-linear-gradient(#99CC33, #7BAD19);
   background: -webkit-gradient(linear, 0 0, 0 100%, from(#99CC33), to(#7BAD19));
   background: -webkit-linear-gradient(#99CC33, #7BAD19);
   background: linear-gradient(#99CC33, #7BAD19);
   border: 1px solid #99CC33;
   color: #fff;
   text-shadow: 0 1px rgba(0,0,0,0.8);
   padding: 0 5px;
   width:auto;
}
.canccompareDisable
{
   /* Size and position / / height: 38px;   position: relative;*/
   float: left; /* Styles */
   box-shadow: inset 0 1px rgba(255,255,255,0.3);
   border-radius: 3px;
   cursor: pointer; /* Font styles */
   font-family: 'Lato' , Calibri, Arial, sans-serif;
   font-size: 14px;
   line-height: 29px; /* Same as height */
   text-align: center;
   font-weight: bold;
   margin-left: 1%;
   background: #99CC33; /* Fallback */
   background: -moz-linear-gradient(#aaaaaa, #999999);
   background: -ms-linear-gradient(#aaaaaa, #999999);
   background: -o-linear-gradient(#aaaaaa, #999999);
   background: -webkit-gradient(linear, 0 0, 0 100%, from(#aaaaaa), to(#999999));
   background: -webkit-linear-gradient(#aaaaaa, #999999);
   background: linear-gradient(#aaaaaa, #999999);
  /* IE5.5 - IE7 */
   filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=0,StartColorStr=#aaaaaa,EndColorStr=#999999);

/* IE8 */
-ms-filter: "progid:DXImageTransform.Microsoft.Gradient(GradientType=0,StartColorStr=#aaaaaa,EndColorStr=#999999)"
   
  
   border: 1px solid #999999;
   color: #fff;
   text-shadow: 0 1px rgba(0,0,0,0.8);
   padding: 0 5px;
   width:auto;
}
.reportdash
{
	/*background: #fff;*/
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border: 1px solid #7a7e8d;
	width: 96%;
	float: left;
	min-height: 100px;
	line-height: 100px;
	margin-left: 2%;
	vertical-align: middle;
	padding-bottom: 5px;
	margin-bottom: 10px;
	padding-top: 5px;
	background: #99CC33; /* Fallback
    background: -moz-linear-gradient(#f6f6f6, #ffffff);
    background: -ms-linear-gradient(#f6f6f6, #ffffff);
    background: -o-linear-gradient(#f6f6f6, #ffffff);
    background: -webkit-gradient(linear, 0 0, 0 100%, from(#f6f6f6), to(#ffffff));
    background: -webkit-linear-gradient(#f6f6f6, #ffffff);
    background: linear-gradient(#f6f6f6, #ffffff); */
}
.reportdashin 
{
    border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	background: #ffffff;
	margin: 0 5px;
}
.reportdash div
{
	float: none;
}
.rdbmain
{
	width: 100%;
	float: left;
}
.rdbimg
{
	width: 46.5%;
	border: 1px solid #7a7e8d;
	border-collapse: collapse;
	float: left;
}
#divComapareforSelection
{
    width: auto;
    padding: 4px 10px;
    border: 1px solid #cccccc;
    background: #FCFDFD;
    color: #333333;
    font-size: 14px;
    display: none;
}
.divComapareforSelection 
{
    float: left; 
    position: absolute; 
    margin-left: 6px;
    margin-top: 31px;
    z-index:100;
}
#divSettings
{
    width: auto;
    padding: 4px 10px;
    border: 1px solid #cccccc;
    background: #FCFDFD;
    color: #333333;
    font-size: 14px;
    display: none;
}
.divSettings
{
    box-shadow: 0 2px 2px 1px #CCCCCC;
    float: left;
    margin-top: 11px;
    position: absolute;
    right: 20px;
    z-index: 100;
}
#divSettings:AFTER
{
content: ' ';
position: absolute;
width: 0;
height: 0;
left: 142px;
top: -20px;
border: 10px solid;
border-color: transparent transparent #f6f2f6 transparent;
}

#divSettingscp
{
    width: auto;
    padding: 4px 10px;
    border: 1px solid #cccccc;
    background: #FCFDFD;
    color: #333333;
    font-size: 14px;
    display: none;
    min-width: 115px;
}
.divSettingscp
{
    box-shadow: 0 2px 2px 1px #CCCCCC;
    float: left;
    margin-top: 10px;
    position: absolute;
    right: 180px;
    z-index: 100;
    text-align: left;
   
}
#divSettingscp:AFTER
{
content: ' ';
position: absolute;
width: 0;
height: 0;
left: 14px;
top: -20px;
border: 10px solid;
border-color: transparent transparent #f6f2f6 transparent;
}
.divSettingscp ul
{
list-style: none outside none;
    margin: 0;
    padding: 7px 0;
    text-decoration: none;
}
#divtreeCarrier
{
    width: auto;
    padding: 4px 10px;
    border: 1px solid #cccccc;
    background: #FCFDFD;
    color: #333333;
    font-size: 14px;
    display: none;
}
.divtreeCarrier
{
    float: left;
    position: absolute;
    margin-left: 6px;
    margin-top: 31px;
    z-index:100;
}
.griddivw div 
{
    width:100%;
    padding: 0 2px;
}
.MainTable_Ex {
    border-collapse: collapse;
    border-width: 0;
    color: #201F35;
    font: 11px Verdana;
    text-align: left;
    width: 100%;
    border: 1px solid #bfc0c9;
}
.MainTable_Ex th {
    color: #201f35;
	background-color: #f5f5f6;
	/*border: 1px solid #bfc0c9;*/
	border: 0px none transparent !important;
	font-weight: normal;
	text-align: center;
	height:32px;
	padding:0;
	/*border-right: 1px solid #f5f5f6;*/
}
/*.borderright 
{
    border-right: 1px solid #bfc0c9 !important;
}
  */  
.MainTable_Ex tr 
{
background-color: White;
}
.MainTable_Ex td 
{
	border-color: #d9dae0;
	border-width: 1px;
	border-top-style: solid;
	border-left-style: solid;
	border-bottom-style: none;
	border-right-style: none;
	padding: 3px;
	word-warp: break-word;

}

.divloading 
{
    left: 42%; 
    box-shadow:0 1px 2px #aaa; 
    -moz-box-shadow:0 1px 2px #aaa; 
    -webkit-box-shadow:0 1px 2px #aaa;
    top: 46%; 
    z-index: 30000;
    position: Fixed;
    border:2px solid #99cc33;
}

.divrpset 
{
    float:right !important;
}
/*.newdashsections
{
   
    position: relative;
    background: #f2f2f2;
    border-radius: 4px;
    color: #7e7975;
    box-shadow: 0 2px 2px rgba(0,0,0,0.2), 0 1px 5px rgba(0,0,0,0.2), 0 0 0 4px rgba(0,0,0,0.4);
    behavior: url(PIE-1.0.0/PIE.htc);
    margin: 8px;
    padding: 3px !important;
}*/
.newdashsections
{
    -moz-box-shadow: 1px 1px 3px #7e7975;
    -webkit-box-shadow: 1px 1px 3px #7e7975;
    box-shadow: 1px 1px 3px #7e7975;
    margin: 5px;
    padding: 0px !important;
    position: relative;
    background: #ffffff;
    border: 1px solid #7e7975;
}

.MainTable_ExReportAssignemnt {
    border-collapse: collapse;
    border-width: 0;
    color: #201F35;
    font: 11px Verdana;
    text-align: left;
    width: 100%;
    border: 1px solid #bfc0c9;
}
.MainTable_ExReportAssignemnt th {
    color: #201f35;
	background-color: #f5f5f6;
	/*border: 1px solid #bfc0c9;*/
	border: 0px none transparent !important;
	font-weight: normal;
	text-align: center;
	height:32px;
	padding:0;
	/*border-right: 1px solid #f5f5f6;*/
}
/*.borderright 
{
    border-right: 1px solid #bfc0c9 !important;
}
  */  
.MainTable_ExReportAssignemnt tr 
{
background-color: White;
}
.MainTable_ExReportAssignemnt td 
{
	border-color: #d9dae0;
	border-width: 1px;
	border-top-style: solid;
	border-left-style: solid;
	border-bottom-style: none;
	border-right-style: none;
	padding: 3px 0px;
	word-warp: break-word;

}


/********************New Dashboard*******************/

.newreportdash
{
	
	float: left;
	width:85%;
	
}
.newreportdashin 
{
	background: #e1e1e1;
	margin: 0;
}
.newreportdash div
{
	float: left;
}
.grayrc 
{
    float:left;
    /*width:14%;*/
    background-color: #525562;
    /*min-height: 1130px;*/
    max-width: 220px;
}
.graysp 
{
    background: transparent url('../images/graysp.png') repeat-x;
    height:2px;
    margin:0;
}
.grayrctext 
{
    color: #FFFFFF;
    font-size: 12px;
    font-weight: bold;
    text-align: center;
}
.grayrctext p
{
    margin: 0;
    padding: 8px 0;
}

.grayrctext a
{
    color: #ffffff;
    display: block;
    margin-top: 0px;
    position: relative;
    letter-spacing:1px;
}

.grayrctext p img.active
{
    background: #99CC33;
    border: 0 none;
    border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	 margin-top: -10px;
}
    .grayrctext p.active a
{
    color: #99CC33;
   /*  margin-top: 10px;*/
}
.grayrctext p:hover
{
   background: #5e616f;
    border: 0 none;
    
}
.grayrctext1 
{
    color: #FFFFFF;
    font-size: 12px;
    font-weight: bold;
    text-align: center;
}
.grayrctext1 p
{
    margin: 0;
    padding: 8px 0;
}

.grayrctext1 a
{
    color: #ffffff;
    display: block;
    margin-top: 0px;
    position: relative;
}

.grayrctext1 p img.active
{
    background: #99CC33;
    border: 0 none;
    border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	 margin-top: -10px;
}
    .grayrctext1 p.active a
{
    color: #99CC33;
     /*margin-top: 10px;*/
}
.grayrctext1 p:hover
{
   background: #5e616f;
    border: 0 none;
    
}
 .dashandreport
        {
            background: #e1e1e1;
            display: inline-block;
            min-width: 100%;
        }
/**************popupreportcenterStart**********************/

#popup
{
	top: 101px;
	width: auto;
	padding: 0px;
	background: transparent;
	display: block;
	position: absolute;
	z-index:1;
}
#popup p
{
	/*margin-left: 15px;
	text-shadow: 0 1px 1px rgba(255,255,255,0.8);
	font-size: 13pt;
	color: #34332d;*/
}
a.hide
{
	color: #34332d;
	text-decoration: none;
	font-family: 'ArrowFont';
	-webkit-transform: rotate(-90deg);
	font-size: 30px;
	position: absolute;
	text-shadow: -1px 0px 1px rgba(255,255,255,0.8);
	margin-top: -10px;
}
a.hide:hover
{
	color: #c44f21;
}
span.showpop
{
	display: block;
	position: fixed;
	-webkit-transform: rotate(90deg);
	margin-top: 0px;
}
a.showpoplink
{
	background: #dde1c1;
	padding: 5px 10px 5px 40px;
	font-family: 'ArrowFont';
	font-size: 30px;
	margin-left: 5px;
	border: 4px solid #c44f21;
	text-decoration: none;
	border-radius: 10px;
	-webkit-background-clip: padding-box;
	color: #34332d;
}
a.showpoplink:hover
{
	color: #c44f21;
}
#lihr hr 
{
    background: none repeat scroll 0 0 #888888;
    border: 0 none;
    height: 1px;
}
/**************popupreportcenterEnd**********************/

/* Mayank*/
div.overlay h2
{
    color: #000;
}
div.overlay label
{
    display: block;
    padding: 0 0 5px 2px;
    cursor: pointer; /*  text-transform: capitalize;*/
    font-weight: bold;
    font-size: 14px;
    text-align: left;
    float: left;
    min-width: 100px;
    color: #000;
}
